# SPDX-FileCopyrightText: 2025 SecPal Contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

openapi: 3.0.3
info:
  title: SecPal API
  description: |
    RESTful API for SecPal - Digital logbook for private security services in Germany.

    This API provides endpoints for managing security shifts, log entries, users, and reports.
  version: 0.0.1
  contact:
    email: security@sepal.app
  license:
    name: AGPL-3.0-or-later
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.secpal.app/v1
    description: Production server
  - url: https://staging-api.secpal.app/v1
    description: Staging server
  - url: http://localhost:8000/v1
    description: Local development server

tags:
  - name: auth
    description: Authentication and authorization
  - name: users
    description: User management
  - name: shifts
    description: Security shift management
  - name: logs
    description: Log entry management
  - name: reports
    description: Report generation and management

paths:
  /health:
    get:
      summary: Health check
      description: Check if the API is running and healthy
      operationId: healthCheck
      tags:
        - system
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: 0.0.1
                  timestamp:
                    type: string
                    format: date-time

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication

  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details

security:
  - bearerAuth: []
