# SPDX-FileCopyrightText: 2025 SecPal Contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

openapi: 3.1.0
info:
  title: SecPal API
  description: |
    This is the official API for SecPal, a digital guard book and security operations platform.
    It provides endpoints for managing guards, shifts, reports, and other security-related resources.

    ## Security

    - **Authentication:** Bearer token (JWT) required for most endpoints
    - **Rate Limiting:** 100 requests per minute per API key
    - **CORS:** Allowed origins must be configured in application settings
    - **Security Headers:** HSTS, CSP, X-Frame-Options enforced

    ## API Policies

    - All timestamps use ISO 8601 format (UTC)
    - Pagination uses cursor-based approach for large datasets
    - Maximum page size: 100 items
  version: 0.0.1
  contact:
    name: SecPal API Support
    url: https://github.com/SecPal
    email: support@secpal.app
  license:
    name: AGPL-3.0-or-later
    url: https://spdx.org/licenses/AGPL-3.0-or-later.html

servers:
  - url: https://api.secpal.app/v1
    description: Production Server
  - url: https://api.staging.secpal.app/v1
    description: Staging Server

security: []

components:
  schemas:
    Error:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Resource not found
        code:
          type: string
          description: Machine-readable error code
          example: RESOURCE_NOT_FOUND
        details:
          type: object
          description: Additional error details
          additionalProperties: true

    HealthStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok, error]
          description: Health status of the API
          example: ok
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
          example: '2025-10-25T19:25:00Z'

    SecretAttachment:
      type: object
      required:
        - id
        - filename
        - file_size
        - mime_type
        - download_url
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique attachment identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        filename:
          type: string
          description: Original filename (decrypted)
          example: 'confidential-report.pdf'
        file_size:
          type: integer
          description: File size in bytes
          example: 102400
        mime_type:
          type: string
          description: MIME type of the file
          example: 'application/pdf'
        download_url:
          type: string
          format: uri
          description: URL to download the file
          example: 'https://api.secpal.app/v1/attachments/550e8400-e29b-41d4-a716-446655440000/download'
        created_at:
          type: string
          format: date-time
          description: Upload timestamp (ISO 8601)
          example: '2025-11-16T14:30:00Z'

  responses:
    BadRequest:
      description: Bad Request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Invalid request parameters
            code: BAD_REQUEST

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Authentication required
            code: UNAUTHORIZED

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Insufficient permissions
            code: FORBIDDEN

    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found
            code: NOT_FOUND

    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: An internal error occurred
            code: INTERNAL_ERROR

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT-based authentication. Include the token in the Authorization header:
        `Authorization: Bearer <token>`

paths:
  /health:
    get:
      summary: Health Check
      description: Provides the health status of the API.
      operationId: getHealth
      tags:
        - Monitoring
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Service temporarily unavailable
                code: SERVICE_UNAVAILABLE

  /secrets/{secret}/attachments:
    post:
      summary: Upload Attachment
      description: |
        Upload a file attachment to a secret. File is encrypted at rest using tenant DEK.
        Maximum file size and allowed MIME types are configurable.
      operationId: uploadAttachment
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload (max 10MB by default)
      responses:
        '201':
          description: Attachment uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SecretAttachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Validation failed
                code: VALIDATION_ERROR
                details:
                  file: ['The file field is required.']

    get:
      summary: List Attachments
      description: |
        List all attachments for a secret. Returns attachments in descending order by creation date.
      operationId: listAttachments
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Attachments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecretAttachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /attachments/{attachment}/download:
    get:
      summary: Download Attachment
      description: |
        Download and decrypt an attachment file. Returns the file with appropriate Content-Type and Content-Disposition headers.
      operationId: downloadAttachment
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: attachment
          in: path
          required: true
          description: Attachment UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File downloaded successfully
          content:
            '*/*':
              schema:
                type: string
                format: binary
          headers:
            Content-Type:
              description: MIME type of the file
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Attachment filename
              schema:
                type: string
                example: 'attachment; filename="report.pdf"'
            Content-Length:
              description: File size in bytes
              schema:
                type: integer
                example: 102400
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /attachments/{attachment}:
    delete:
      summary: Delete Attachment
      description: |
        Delete an attachment file and its metadata. File is permanently removed from storage.
      operationId: deleteAttachment
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: attachment
          in: path
          required: true
          description: Attachment UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Attachment deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
