# SPDX-FileCopyrightText: 2026 SecPal Contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

openapi: 3.1.0
info:
  title: SecPal API
  description: |
    SecPal is the operations software for German private security services.
    This API is the backend powering guard book, shift planning, and operational workflows.

    ## Security

    - **Authentication Modes:** Browser clients use Laravel Sanctum's first-party session flow from approved SPA origins, while native and mobile clients use Personal Access Tokens limited to the `api-access` ability.
    - **Session Lifetime and Re-authentication:** Stateful browser sessions expire after 120 minutes of inactivity. SPA logins also set a remember-me cookie, but explicit logout and password reset flows revoke the active browser session and require a fresh login.
    - **Bearer Token Lifetime and Rotation:** Personal Access Tokens are stored hashed at rest, expire after 1440 minutes (24 hours), and are not rotated automatically on use. SecPal also uses `sec_`-prefixed secret identifiers for secret-scanning and credential-handling workflows. New token logins mint an additional device-scoped token, so clients must re-authenticate after expiry or explicit revocation.
    - **Rate Limiting:** The default authenticated API bucket is 60 requests per minute keyed by authenticated user ID, falling back to client IP when no authenticated principal is available. Higher-risk endpoints use stricter route categories: login failures are limited to 5 attempts per 5 minutes per account and per IP-plus-account pair, password reset requests to 5 per 60 minutes per IP, MFA and passkey verification/challenge endpoints to 5 per 10 minutes, and onboarding completion/validation plus privileged MFA resets to 3 per 10 minutes, with a few additional route-specific bootstrap and verification caps.
    - **CORS:** Allowed origins must be configured in application settings
    - **Security Headers:** HSTS, CSP, X-Frame-Options enforced

    ## API Policies

    - Response timestamps: unless a response field explicitly documents an approved exception, timestamps serialize as RFC 3339 / ISO 8601 UTC strings with a literal trailing `Z` and whole-second precision (`YYYY-MM-DDTHH:MM:SSZ`). Fractional seconds, including milliseconds, are not emitted.
    - Timestamp exceptions: a response field may only emit a non-UTC offset or fractional seconds when that individual field schema explicitly opts out of the canonical UTC-second format and ships a matching example. No current response schema opts out.
    - Pagination: offset-based (page/per_page) for most endpoints, cursor-based for large datasets
    - Maximum page size: 100 items
  version: 0.0.1
  contact:
    name: SecPal API Support
    url: https://github.com/SecPal
    email: support@secpal.app
  license:
    name: AGPL-3.0-or-later
    url: https://spdx.org/licenses/AGPL-3.0-or-later.html

servers:
  - url: https://api.secpal.dev/v1
    description: Live API Server

security: []

tags:
  - name: Authentication
    description: Login, logout, and MFA challenge endpoints for browser-session and Bearer-token clients.
  - name: Monitoring
    description: Service health and operational readiness endpoints.
  - name: Bootstrap
    description: Public pre-login runtime-discovery contract for deployment-local client configuration before authentication.
  - name: Addresses
    description: Authenticated German address reference-data lookup endpoints for employee onboarding and HR forms.
  - name: Activity Logs
    description: Tamper-evident audit trail operations and verification flows.
  - name: Employees
    description: Employee lifecycle management endpoints.
  - name: Qualifications
    description: Qualification catalog and per-employee qualification assignments.
  - name: Customers
    description: Customer management and related customer-scoped resources.
  - name: Lookups
    description: Minimal authorized domain-assignment lookup endpoints.
  - name: Sites
    description: Site management endpoints and site-related nested resources.
  - name: Organizational Units
    description: Internal tenant-scoped organizational hierarchy, independent status flags, and parent relationships.
  - name: Assignments
    description: Customer, site, and self-service assignment operations.
  - name: Me
    description: Canonical self-service endpoints for the authenticated caller under the `/me` namespace.
  - name: Cost Centers
    description: Site-scoped cost center management endpoints.
  - name: Onboarding
    description: >-
      Public bootstrap and authenticated onboarding workflow endpoints used by the pre-contract employee
      dossier flow, HR review actions, and onboarding confirmation. Portal steps follow tenant-scoped
      form templates managed via the onboarding template endpoints. Attachment uploads classify files
      with `document_type` as contract materials, identity documents, or banking verification
      (`contract`, `id_document`, `banking_details`). Identity-document uploads additionally require
      `document_subtype` so clients can distinguish combined identity files, split identity uploads,
      proof-of-residence evidence, and split residence permits.
  - name: Android Provisioning
    description: >-
      Authorized enrollment-session management, public bootstrap-token exchange, and channel-aware
      release metadata for SecPal's single-app Android distribution model.

components:
  schemas:
    Error:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Resource not found
        code:
          type: string
          description: Machine-readable error code
          example: RESOURCE_NOT_FOUND
        details:
          type: object
          description: Additional error details
          additionalProperties: true

    ValidationProblem:
      type: object
      required:
        - message
        - errors
      properties:
        message:
          type: string
          description: General validation failure message.
          example: The given data was invalid.
        errors:
          type: object
          description: Field-specific validation errors keyed by request field name.
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ['The email field must be a valid email address.']

    AddressReferenceMeta:
      type: object
      required:
        - source
        - imported_at
      properties:
        source:
          type: string
          description: Human-readable source label for the active import.
          example: OpenPLZ API Data
        license:
          type: [string, 'null']
          description: SPDX license identifier attached to the active import, if recorded.
          example: ODbL-1.0
        attribution:
          type: [string, 'null']
          description: Attribution text that downstream clients must preserve when required, if recorded.
          example: OpenPLZ API Data / OpenStreetMap contributors
        imported_at:
          allOf:
            - $ref: '#/components/schemas/ApiTimestamp'
          description: Activation timestamp of the currently active import.
          example: '2026-05-11T03:30:00Z'
        version_hash:
          type: [string, 'null']
          pattern: '^[a-f0-9]{64}$'
          description: SHA-256 hash of the active upstream source artifact, if recorded.
          example: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

    AddressStreetSuggestion:
      type: object
      required:
        - name
        - postal_code
        - locality
        - borough
        - suburb
        - regional_key
      properties:
        name:
          type: string
          maxLength: 255
          example: Grabstraße
        postal_code:
          type: string
          pattern: '^\d{5}$'
          example: '13156'
        locality:
          type: string
          maxLength: 255
          example: Berlin
        borough:
          type: [string, 'null']
          maxLength: 255
          description: Administrative borough (Bezirk). Always present in the response; `null` for streets outside city-states (Berlin, Hamburg, Bremen) that do not carry borough data in the OpenPLZ source.
          example: Pankow
        suburb:
          type: [string, 'null']
          maxLength: 255
          description: Suburb or district (Ortsteil). Always present in the response; `null` when the OpenPLZ source carries no suburb for this street.
          example: Niederschönhausen
        regional_key:
          type: [string, 'null']
          maxLength: 255
          description: Amtlicher Gemeindeschlüssel (AGS/ARS regional key). Always present in the response; `null` when the OpenPLZ source carries no regional key for this street.
          example: '11000000'

    AddressStreetSuggestionResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AddressStreetSuggestion'
        meta:
          $ref: '#/components/schemas/AddressReferenceMeta'

    AddressLocalitySuggestion:
      type: object
      required:
        - postal_code
        - locality
      properties:
        postal_code:
          type: string
          pattern: '^\d{5}$'
          example: '42103'
        locality:
          type: string
          maxLength: 255
          example: Wuppertal

    AddressLocalitySuggestionResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AddressLocalitySuggestion'
        meta:
          $ref: '#/components/schemas/AddressReferenceMeta'

    AddressDataStatus:
      type: object
      required:
        - country
        - row_count
        - imported_at
      properties:
        country:
          type: string
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
          example: DE
        row_count:
          type: integer
          minimum: 0
          example: 1845234
        imported_at:
          allOf:
            - $ref: '#/components/schemas/ApiTimestamp'
          description: |
            Timestamp at which this country's data batch was ingested (raw import time).
            Mirrors `meta.imported_at` for this country entry; both values originate from the same import record and will always be equal.
          example: '2026-05-11T03:30:00Z'

    AddressDataStatusResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          $ref: '#/components/schemas/AddressDataStatus'
        meta:
          $ref: '#/components/schemas/AddressReferenceMeta'

    Activity:
      type: object
      required:
        - id
        - tenant_id
        - log_name
        - description
        - event
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique activity identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        tenant_id:
          type: string
          format: uuid
          description: Tenant UUID this activity belongs to
          example: '660e8400-e29b-41d4-a716-446655440001'
        log_name:
          type: string
          maxLength: 255
          description: Log name categorizing the activity type
          example: 'employee'
        description:
          type: string
          description: Human-readable description of the activity
          example: 'created'
        event:
          type: string
          maxLength: 255
          description: Event type that triggered the activity
          example: 'created'
        causer_type:
          type: [string, 'null']
          description: Polymorphic type of the user/entity that caused the activity
          example: 'App\Models\User'
        causer_id:
          type: [string, 'null']
          format: uuid
          description: UUID of the causer
          example: '770e8400-e29b-41d4-a716-446655440002'
        causer:
          type: [object, 'null']
          description: Full causer object (when loaded)
          additionalProperties: true
        subject_type:
          type: [string, 'null']
          description: Polymorphic type of the entity the activity is about
          example: 'App\Models\Employee'
        subject_id:
          type: [string, 'null']
          format: uuid
          description: UUID of the subject
          example: '880e8400-e29b-41d4-a716-446655440003'
        subject:
          type: [object, 'null']
          description: Full subject object (when loaded)
          additionalProperties: true
        organizational_unit_id:
          type: [string, 'null']
          format: uuid
          description: Organizational unit this activity belongs to
          example: '990e8400-e29b-41d4-a716-446655440004'
        organizational_unit:
          type: [object, 'null']
          description: Full organizational unit object (when loaded)
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            parent_id:
              type: [string, 'null']
              format: uuid
        properties:
          type: [object, 'null']
          description: Additional properties stored with the activity
          additionalProperties: true
        batch_uuid:
          type: [string, 'null']
          format: uuid
          description: Batch UUID for grouping related activities
          example: 'aa0e8400-e29b-41d4-a716-446655440005'
        ip_address:
          type: [string, 'null']
          description: Source IP address captured for the activity
          example: '192.0.2.1'
        user_agent:
          type: [string, 'null']
          description: User agent captured for the activity
          example: 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36'
        created_at:
          allOf:
            - $ref: '#/components/schemas/ApiTimestamp'
          description: Timestamp when the activity was created
          example: '2025-11-16T10:00:00Z'
        updated_at:
          allOf:
            - $ref: '#/components/schemas/ApiTimestamp'
          description: Timestamp when the activity was last updated
          example: '2025-11-16T10:00:00Z'
        previous_hash:
          type: [string, 'null']
          description: Hash of the previous activity in the blockchain
          example: '5f9c4ab08cac7457e9111a6e4e3e3c3e3c3e3c3e3c3e3c3e3c3e3c3e3c3e'
        event_hash:
          type: [string, 'null']
          description: Hash of this activity event
          example: '6a8d5bc19dbd8568fa222b7f5f4f4d4f4d4f4d4f4d4f4d4f4d4f4d4f4d4f'
        merkle_batch_id:
          type: [integer, 'null']
          format: int64
          description: Batch identifier for the Merkle tree grouping
          example: 1742203200
        merkle_proof:
          type: [array, 'null']
          description: Merkle proof for this activity
          items:
            type: string
        merkle_root:
          type: [string, 'null']
          description: Merkle root this activity is part of
          example: '7b9e6cd2aece9679gb333c8g6g5g5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e'
        ots_submitted_at:
          allOf:
            - $ref: '#/components/schemas/NullableApiTimestamp'
          description: Timestamp when the OpenTimestamp proof was submitted
          example: '2025-11-16T10:03:00Z'
        ots_confirmed_at:
          allOf:
            - $ref: '#/components/schemas/NullableApiTimestamp'
          description: Timestamp when OpenTimestamp verification completed
          example: '2025-11-16T10:05:23Z'
        has_ots_proof:
          type: boolean
          description: Whether an OpenTimestamp proof is currently stored for this activity
          example: true
        is_orphaned_genesis:
          type: boolean
          description: Whether the activity became a genesis entry after retention archived its predecessor
          example: false
        orphaned_reason:
          type: [string, 'null']
          description: Reason why the activity became an orphaned genesis entry
          example: 'Predecessor archived (retention: authentication, 2026-03-01)'
        orphaned_at:
          allOf:
            - $ref: '#/components/schemas/NullableApiTimestamp'
          description: Timestamp when the activity was marked as orphaned genesis
          example: '2025-11-16T10:07:00Z'
        verification:
          type: [object, 'null']
          description: Verification results (only present when include_verification=true)
          properties:
            chain_valid:
              type: boolean
              description: Whether the blockchain chain is valid
              example: true
            chain_link_valid:
              type: boolean
              description: Whether the immediate predecessor link is valid
              example: true
            merkle_valid:
              type: boolean
              description: Whether the Merkle proof is valid
              example: true
            ots_valid:
              type: boolean
              description: Whether the OpenTimestamp verification is valid
              example: true

    ActivityVerificationDetails:
      type: object
      required:
        - event_hash
        - previous_hash
        - merkle_root
        - merkle_batch_id
        - ots_confirmed_at
        - is_orphaned_genesis
        - orphaned_reason
      properties:
        event_hash:
          type: [string, 'null']
          description: Hash of this activity event
          example: '5d41402abc4b2a76b9719d911017c592'
        previous_hash:
          type: [string, 'null']
          description: Hash of the previous activity in the chain
          example: 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855'
        merkle_root:
          type: [string, 'null']
          description: Merkle root this activity is part of
          example: 'a8c7e3d5f9b1c4e6d8a2f4b6c8e0d2f4a6b8c0e2d4f6a8b0c2e4d6f8a0b2c4e6'
        merkle_batch_id:
          type: [integer, 'null']
          format: int64
          description: Batch identifier for the Merkle tree grouping
          example: 1742203200
        ots_confirmed_at:
          allOf:
            - $ref: '#/components/schemas/NullableApiTimestamp'
          description: Timestamp when OpenTimestamp verification completed
          example: '2025-01-15T12:30:45Z'
        is_orphaned_genesis:
          type: boolean
          description: Whether the activity became an orphaned genesis entry
          example: false
        orphaned_reason:
          type: [string, 'null']
          description: Reason why the activity became orphaned
          example: null

    HealthStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok, error]
          description: Health status of the API
          example: ok
        timestamp:
          allOf:
            - $ref: '#/components/schemas/ApiTimestamp'
          description: Timestamp of the health check
          example: '2025-10-25T19:25:00Z'

    ApiTimestamp:
      type: string
      format: date-time
      pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}Z$'
      description: Canonical SecPal API response timestamp. Responses serialize timestamps as UTC RFC 3339 / ISO 8601 strings with a trailing `Z` and whole-second precision (`YYYY-MM-DDTHH:MM:SSZ`). Fractional seconds, including milliseconds, are not emitted unless an individual response field explicitly documents an approved exception.
      example: '2026-05-23T11:30:00Z'

    NullableApiTimestamp:
      description: Canonical SecPal API response timestamp or `null` when the response has no value for that field.
      oneOf:
        - $ref: '#/components/schemas/ApiTimestamp'
        - type: 'null'
      example: null

    # =============================================================================
    # Employee Management Schemas
    # =============================================================================

    PaginationMeta:
      type: object
      description: Pagination metadata
      required:
        - current_page
        - per_page
        - total
      properties:
        current_page:
          type: integer
          description: Current page number
          example: 1
        per_page:
          type: integer
          description: Items per page
          example: 15
        last_page:
          type: integer
          description: Last page number
          example: 5
        total:
          type: integer
          description: Total number of items
          example: 73
        from:
          type: [integer, 'null']
          description: First item index on current page
          example: 1
        to:
          type: [integer, 'null']
          description: Last item index on current page
          example: 15

    PaginationLinks:
      type: object
      description: Pagination navigation links
      properties:
        first:
          type: [string, 'null']
          format: uri
        last:
          type: [string, 'null']
          format: uri
        prev:
          type: [string, 'null']
          format: uri
        next:
          type: [string, 'null']
          format: uri

    EmployeeUserSummary:
      type: object
      description: Minimal embedded user information for an employee
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440100'
        name:
          type: string
          example: 'Max Mustermann'
        email:
          type: string
          format: email
          example: 'max.mustermann@secpal.app'

    EmployeeDocumentType:
      type: string
      description: Document category (validated by `UploadEmployeeDocumentRequest`).
      enum:
        - contract
        - id_copy
        - criminal_record
        - qualification
        - reference
        - health_certificate
        - work_permit
        - other

    EmployeeDocumentStatus:
      type: string
      description: Lifecycle status derived from expiry and policy (persisted on the model).
      enum:
        - valid
        - expiring_soon
        - expired

    EmployeeDocumentResource:
      type: object
      description: |
        Employee document metadata (`EmployeeDocumentResource`). Responses never include raw storage paths (`file_path` is omitted).

        `download_url` is an absolute URL to `GET /employees/{employee}/documents/{document}/download` for this record.
      required:
        - id
        - employee_id
        - uploaded_by
        - title
        - document_type
        - file_name
        - mime_type
        - file_size
        - download_url
        - status
        - visible_to_employee
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        employee_id:
          type: string
          format: uuid
        uploaded_by:
          type: string
          format: uuid
          description: UUID of the uploading user (`users.id`).
        title:
          type: string
          maxLength: 255
        description:
          type: [string, 'null']
          maxLength: 1000
        document_type:
          $ref: '#/components/schemas/EmployeeDocumentType'
        file_name:
          type: string
          description: Sanitized original filename suitable for display and download headers.
        mime_type:
          type: string
          description: Stored MIME type (allowed uploads are PDF, JPEG, or PNG).
        file_size:
          type: integer
          description: Size in bytes.
        download_url:
          type: string
          format: uri
          description: Absolute URL to download the encrypted document binary.
        expiry_date:
          type: [string, 'null']
          format: date
          description: Optional calendar expiry date (YYYY-MM-DD), when set.
        status:
          $ref: '#/components/schemas/EmployeeDocumentStatus'
        visible_to_employee:
          type: boolean
          description: When false, documents are hidden from the employee self-service view (HR/managers may still see them subject to policy).
        uploader:
          $ref: '#/components/schemas/EmployeeUserSummary'
          description: Present when the `uploader` relationship is loaded (list, show, and create responses load it).
        created_at:
          $ref: '#/components/schemas/ApiTimestamp'
        updated_at:
          $ref: '#/components/schemas/ApiTimestamp'

    EmployeeDocumentCollectionResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeDocumentResource'

    EmployeeDocumentSingleResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/EmployeeDocumentResource'

    UploadEmployeeDocumentRequest:
      type: object
      description: |
        Multipart fields for `POST /employees/{employee}/documents` (matches `UploadEmployeeDocumentRequest`).

        **File rules:** required; max **10240 KiB (10 MiB)**; extensions **pdf, jpg, jpeg, png**; MIME types **application/pdf, image/jpeg, image/png** (`mimes` + `mimetypes` validation).

        **Fields:** `title` and `document_type` are required. `visible_to_employee` is required (boolean).

        **`description` and `expiry_date`:** Laravel `nullable`. This operation uses **`multipart/form-data` text parts** (see operation `encoding`); there is **no** documented JSON-typed null part. To leave values unset, **omit** those parts (recommended). Do **not** send the literal ASCII token `null` as the part body expecting JSON null semantics—it is a string and may fail `date` validation for `expiry_date`. The OpenAPI union `type: [string, 'null']` models the **validated PHP value** and matches **JSON** responses on `EmployeeDocumentResource`, not a multipart null literal. When `expiry_date` is sent as a non-empty text part, it must be strictly **after** today (`after:today`).
      required:
        - file
        - title
        - document_type
        - visible_to_employee
      properties:
        file:
          type: string
          format: binary
          description: Binary upload (PDF or image).
        title:
          type: string
          maxLength: 255
        description:
          type: [string, 'null']
          maxLength: 1000
          description: Optional text part; omit the multipart field when unset (`nullable`, `string`, `max:1000` when present).
        document_type:
          $ref: '#/components/schemas/EmployeeDocumentType'
        expiry_date:
          type: [string, 'null']
          format: date
          description: Optional `YYYY-MM-DD` text part; omit the multipart field when unset (`nullable`). When present, must be strictly after the current calendar day (`after:today`).
        visible_to_employee:
          type: boolean

    QualificationCategory:
      type: string
      enum:
        - bewachv_34a
        - first_aid
        - fire_safety
        - safety_officer
        - specialized
        - education
        - custom
      description: >
        Qualification category (`IndexQualificationRequest`, `StoreQualificationRequest`, `UpdateQualificationRequest`).

    QualificationResource:
      type: object
      description: >
        Qualification catalog row returned by `QualificationResource` (system-wide or tenant custom definitions).
      required:
        - id
        - tenant_id
        - name
        - category
        - requires_renewal
        - renewal_period_months
        - is_mandatory
        - is_system_qualification
        - sort_order
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: [integer, 'null']
          description: Owning tenant for custom qualifications; `null` for global system qualifications (`tenant_id` column).
        name:
          type: string
        description:
          type: [string, 'null']
        category:
          $ref: '#/components/schemas/QualificationCategory'
        requires_renewal:
          type: boolean
        renewal_period_months:
          type: [integer, 'null']
        is_mandatory:
          type: boolean
        is_system_qualification:
          type: boolean
        sort_order:
          type: integer
        created_at:
          $ref: '#/components/schemas/ApiTimestamp'
        updated_at:
          $ref: '#/components/schemas/ApiTimestamp'

    QualificationCollectionResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/QualificationResource'

    QualificationSingleResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/QualificationResource'

    EmployeeQualificationStatus:
      type: string
      enum:
        - valid
        - expiring_soon
        - expired
      description: >
        Stored pivot status (`EmployeeQualification`). Aligns with `AttachQualificationRequest` / `UpdateEmployeeQualificationRequest`
        validation (`valid`, `expiring_soon`, `expired`).

    AttachQualificationRequest:
      type: object
      description: |
        JSON body for `POST /employees/{employee}/qualifications` (`AttachQualificationRequest`).

        `qualification_id` must reference a **non-deleted** catalog row that is either owned by the caller’s tenant or a **global system**
        qualification (`tenant_id` null, `is_system_qualification` true). Other tenants’ custom qualifications fail validation (**422**).

        **Date rules:** `obtained_date` is required and cannot be after today; when `expiry_date` is sent it must be strictly after `obtained_date`.

        **Authorization boundary:** OU scopes do not grant access to domain employees. Callers with any organizational scopes receive HTTP **403**; unscoped callers require `employee_qualification.write`.
      required:
        - qualification_id
        - obtained_date
      properties:
        qualification_id:
          type: string
          format: uuid
          description: Catalog qualification UUID permitted for the current tenant (see `Qualification` exists rule).
        obtained_date:
          type: string
          format: date
          description: Certificate obtained date (YYYY-MM-DD), not in the future.
        expiry_date:
          type: string
          format: date
          description: Optional; must be strictly after `obtained_date` when provided.
        certificate_number:
          type: [string, 'null']
          maxLength: 255
        issuing_authority:
          type: [string, 'null']
          maxLength: 255
        notes:
          type: [string, 'null']
          maxLength: 1000
        status:
          description: Optional; server defaults to `valid` when omitted (`EmployeeQualificationController::store`).
          anyOf:
            - $ref: '#/components/schemas/EmployeeQualificationStatus'
            - type: 'null'

    UpdateEmployeeQualificationRequest:
      type: object
      description: |
        JSON body for `PATCH /employee-qualifications/{employeeQualification}` (`UpdateEmployeeQualificationRequest`). PATCH semantics — include only fields to change.

        **Date rules:** Same as attach when `obtained_date` / `expiry_date` are present (`obtained_date` not in the future; `expiry_date` after `obtained_date` when set).

        **Authorization boundary:** OU scopes do not grant access to domain employees. Callers with any organizational scopes receive HTTP **403**; unscoped callers require `employee_qualification.write` through `EmployeeQualificationPolicy::update`.
      properties:
        obtained_date:
          type: string
          format: date
        expiry_date:
          type: [string, 'null']
          format: date
        certificate_number:
          type: [string, 'null']
          maxLength: 255
        issuing_authority:
          type: [string, 'null']
          maxLength: 255
        notes:
          type: [string, 'null']
          maxLength: 1000
        status:
          anyOf:
            - $ref: '#/components/schemas/EmployeeQualificationStatus'
            - type: 'null'

    EmployeeQualificationResource:
      type: object
      description: |
        Pivot row returned by `EmployeeQualificationResource`.

        Responses never include an internal certificate storage path, consistent with
        `EmployeeDocumentResource` omitting `file_path`. Certificate file upload and download are not yet part of this contract surface.

        `qualification` is included when that relation is eager-loaded (list, show, create, and update responses load it where applicable).
        `employee` is included when loaded (list and show paths); create/update responses may omit it when not loaded.
      required:
        - id
        - employee_id
        - qualification_id
        - obtained_date
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        employee_id:
          type: string
          format: uuid
        qualification_id:
          type: string
          format: uuid
        obtained_date:
          type: string
          format: date
        expiry_date:
          type: [string, 'null']
          format: date
        certificate_number:
          type: [string, 'null']
        issuing_authority:
          type: [string, 'null']
        notes:
          type: [string, 'null']
        status:
          $ref: '#/components/schemas/EmployeeQualificationStatus'
        created_at:
          $ref: '#/components/schemas/ApiTimestamp'
        updated_at:
          $ref: '#/components/schemas/ApiTimestamp'
        qualification:
          description: Embedded catalog row when the `qualification` relation is loaded.
          $ref: '#/components/schemas/QualificationResource'
        employee:
          description: >
            Full `EmployeeResource` payload when the `employee` relation is eager-loaded (typically list and show responses).
          $ref: '#/components/schemas/Employee'

    EmployeeQualificationCollectionResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EmployeeQualificationResource'

    EmployeeQualificationSingleResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/EmployeeQualificationResource'

    StoreQualificationRequest:
      type: object
      description: |
        JSON body for `POST /qualifications` (`StoreQualificationRequest`).

        Creates **tenant-scoped custom** qualifications only. `is_system_qualification` is always stored as **false**;
        client-supplied flags are not accepted as validated fields (send only these keys).

        **Authorization:** `QualificationPolicy::create` requires `qualification.write`.
      required:
        - name
        - category
        - requires_renewal
        - is_mandatory
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: [string, 'null']
          maxLength: 1000
        category:
          $ref: '#/components/schemas/QualificationCategory'
        requires_renewal:
          type: boolean
        renewal_period_months:
          type: [integer, 'null']
          minimum: 1
          maximum: 120
        is_mandatory:
          type: boolean
        sort_order:
          type: integer
          minimum: 0

    UpdateQualificationRequest:
      type: object
      description: |
        JSON body for `PATCH /qualifications/{qualification}` (`UpdateQualificationRequest`). PATCH semantics — send only fields to change.

        **System qualifications:** `QualificationPolicy::update` denies changes before the controller runs (HTTP **403**).

        **Authorization:** requires `qualification.write` on non-system rows.
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: [string, 'null']
          maxLength: 1000
        category:
          $ref: '#/components/schemas/QualificationCategory'
        requires_renewal:
          type: boolean
        renewal_period_months:
          type: [integer, 'null']
          minimum: 1
          maximum: 120
        is_mandatory:
          type: boolean
        sort_order:
          type: integer
          minimum: 0

    AuthenticatedUser:
      type: object
      description: Authenticated user profile and authorization context returned by auth and self-service endpoints.
      required:
        - id
        - name
        - email
        - emailVerified
        - roles
        - permissions
        - hasOrganizationalScopes
        - hasCustomerAccess
        - hasSiteAccess
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440001'
        name:
          type: string
          example: 'John Doe'
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        emailVerified:
          type: boolean
          description: Whether the authenticated user's email address has been verified.
          example: true
        roles:
          type: array
          items:
            type: string
          example: ['Employee']
        permissions:
          type: array
          items:
            type: string
          example: ['employees.read', 'reports.generate']
        hasOrganizationalScopes:
          type: boolean
          example: true
        hasCustomerAccess:
          type: boolean
          description: Whether the authenticated user may access customer collections either globally or through scoped assignments.
          example: true
        hasSiteAccess:
          type: boolean
          description: Whether the authenticated user may access site collections either globally or through scoped assignments.
          example: true

    SessionLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        password:
          type: string
          format: password
          example: 'CorrectHorseBatteryStaple!'

    TokenLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        password:
          type: string
          format: password
          example: 'CorrectHorseBatteryStaple!'
        device_name:
          type: string
          description: Friendly client identifier for the created personal access token.
          example: 'android-phone'

    SessionLoginResponse:
      type: object
      required:
        - user
      properties:
        user:
          $ref: '#/components/schemas/AuthenticatedUser'

    TokenLoginResponse:
      type: object
      required:
        - token
        - user
      properties:
        token:
          type: string
          description: Plain-text Laravel Sanctum personal access token.
          example: '1|abcdefghijklmnopqrstuvwxyz1234567890'
        user:
          $ref: '#/components/schemas/AuthenticatedUser'

    MfaChallenge:
      type: object
      description: Pending MFA login challenge created after primary credentials are accepted.
      required:
        - id
        - purpose
        - login_context
        - primary_method
        - available_methods
        - expires_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440099'
        purpose:
          type: string
          enum: [login]
          example: login
        login_context:
          type: string
          description: Authentication mode that will be completed once the challenge is verified.
          enum: [session, token]
          example: session
        primary_method:
          type: string
          enum: [totp]
          example: totp
        available_methods:
          type: array
          description: Verification methods accepted for this challenge.
          minItems: 1
          items:
            type: string
            enum: [totp, recovery_code]
          example: [totp, recovery_code]
        expires_at:
          $ref: '#/components/schemas/ApiTimestamp'
          example: '2026-04-01T09:30:00Z'

    LoginMfaChallengeResponse:
      type: object
      description: Primary credentials were accepted, but MFA must be completed before an authenticated context is issued.
      required:
        - challenge
      properties:
        challenge:
          $ref: '#/components/schemas/MfaChallenge'

    CompletedLoginResponse:
      description: Final authenticated login result returned after a pending MFA challenge is verified.
      oneOf:
        - title: SessionCompletion
          type: object
          required:
            - user
            - authentication
          properties:
            user:
              $ref: '#/components/schemas/AuthenticatedUser'
            authentication:
              type: object
              required:
                - mode
                - mfa_completed
              properties:
                mode:
                  type: string
                  enum: [session]
                  example: session
                mfa_completed:
                  type: boolean
                  example: true
        - title: TokenCompletion
          type: object
          required:
            - user
            - authentication
            - token
          properties:
            token:
              type: string
              description: Bearer token for the completed token-based login.
              example: '1|abcdefghijklmnopqrstuvwxyz1234567890'
            user:
              $ref: '#/components/schemas/AuthenticatedUser'
            authentication:
              type: object
              required:
                - mode
                - mfa_completed
              properties:
                mode:
                  type: string
                  enum: [token]
                  example: token
                mfa_completed:
                  type: boolean
                  example: true

    MfaStatus:
      type: object
      description: >-
        Phase-1 MFA state for a user. This schema continues to describe the
        TOTP plus recovery-code factor introduced in phase 1. Passkey/WebAuthn
        credentials are surfaced separately under `/me/passkeys` so existing
        TOTP clients remain backwards-compatible.
      required:
        - enabled
        - method
        - recovery_codes_remaining
        - recovery_codes_generated_at
        - enrolled_at
      properties:
        enabled:
          type: boolean
          example: true
        method:
          type: [string, 'null']
          enum: [totp, null]
          example: totp
        recovery_codes_remaining:
          type: integer
          minimum: 0
          example: 8
        recovery_codes_generated_at:
          allOf:
            - $ref: '#/components/schemas/NullableApiTimestamp'
          example: '2026-04-01T09:12:00Z'
        enrolled_at:
          allOf:
            - $ref: '#/components/schemas/NullableApiTimestamp'
          example: '2026-04-01T09:10:00Z'

    MfaStatusResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/MfaStatus'

    TotpCodeRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Six-digit TOTP verification code.
          example: '123456'

    MfaVerificationCodeRequest:
      type: object
      required:
        - method
        - code
      properties:
        method:
          type: string
          enum: [totp, recovery_code]
          example: recovery_code
        code:
          type: string
          description: >-
            Current TOTP code or one unused recovery code. Recovery codes are
            issued in canonical API form as 8-character uppercase alphanumeric
            strings without separators; grouped or spaced input may still be
            normalized during verification.
          example: 'B6F42Q8P'

    TotpEnrollmentPreparation:
      type: object
      description: Pending TOTP enrollment material returned to the authenticated user before confirmation.
      required:
        - issuer
        - account_name
        - manual_entry_key
        - otpauth_uri
        - expires_at
      properties:
        issuer:
          type: string
          example: SecPal
        account_name:
          type: string
          example: john.doe@secpal.app
        manual_entry_key:
          type: string
          description: Base32 secret for manual authenticator setup.
          example: 'JBSWY3DPEHPK3PXP'
        otpauth_uri:
          type: string
          description: otpauth URI that clients can encode as a QR code.
          example: 'otpauth://totp/SecPal:john.doe@secpal.app?secret=JBSWY3DPEHPK3PXP&issuer=SecPal'
        expires_at:
          $ref: '#/components/schemas/ApiTimestamp'
          example: '2026-04-01T09:25:00Z'

    MfaTotpEnrollmentResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/TotpEnrollmentPreparation'

    MfaRecoveryCodeReveal:
      type: object
      description: >-
        Plaintext recovery codes returned only immediately after activation or
        regeneration. The API emits them in canonical form as 8-character
        uppercase alphanumeric strings without separators; clients may group
        them for display if desired.
      required:
        - codes
        - generated_at
      properties:
        codes:
          type: array
          minItems: 8
          items:
            type: string
            minLength: 8
            maxLength: 8
            pattern: '^[A-Z0-9]{8}$'
          example:
            - 'B6F42Q8P'
            - 'F9LM7N2R'
            - 'HT4V3KQ1'
            - 'J8PW6CX5'
            - 'M2TR9DZ7'
            - 'Q4YS8LB2'
            - 'V7NK5HF9'
            - 'X3CE1RM6'
        generated_at:
          $ref: '#/components/schemas/ApiTimestamp'
          example: '2026-04-01T09:12:00Z'

    MfaRecoveryCodeRevealResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - status
            - recovery_codes
          properties:
            status:
              $ref: '#/components/schemas/MfaStatus'
            recovery_codes:
              $ref: '#/components/schemas/MfaRecoveryCodeReveal'

    UserMfaResetRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 500
          description: Human-readable reason recorded in the audit trail for the privileged MFA reset.
          example: 'Lost authenticator device'

    UserMfaResetResponse:
      type: object
      required:
        - message
        - data
      properties:
        message:
          type: string
          example: 'Two-factor authentication has been reset for the user.'
        data:
          $ref: '#/components/schemas/MfaStatus'

    PasskeyTransport:
      type: string
      enum: [ble, hybrid, internal, nfc, usb]
      example: internal

    PasskeyCredentialDescriptor:
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
          enum: [public-key]
          example: public-key
        id:
          type: string
          description: Base64url-encoded WebAuthn credential identifier.
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        transports:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyTransport'
          example: [internal]

    PasskeyCredentialSummary:
      type: object
      description: >-
        Metadata for an enrolled passkey. Public keys, counters, and
        attestation material are never returned through this schema.
      required:
        - id
        - label
        - created_at
        - last_used_at
        - transports
        - authenticator_attachment
        - user_verified
        - backup_eligible
        - backup_state
      properties:
        id:
          type: string
          description: Base64url-encoded WebAuthn credential identifier.
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        label:
          type: string
          description: Human-friendly label chosen by the client or generated by the server.
          example: Work MacBook Touch ID
        created_at:
          $ref: '#/components/schemas/ApiTimestamp'
          example: '2026-04-05T13:40:00Z'
        last_used_at:
          allOf:
            - $ref: '#/components/schemas/NullableApiTimestamp'
          example: '2026-04-05T14:10:00Z'
        transports:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyTransport'
          example: [internal]
        authenticator_attachment:
          type: [string, 'null']
          enum: [platform, cross-platform, null]
          example: platform
        aaguid:
          type: [string, 'null']
          format: uuid
          example: '00000000-0000-0000-0000-000000000000'
        user_verified:
          type: boolean
          example: true
        backup_eligible:
          type: boolean
          example: true
        backup_state:
          type: boolean
          example: false

    PasskeyListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyCredentialSummary'

    PasskeyRelyingParty:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          example: app.secpal.dev
        name:
          type: string
          example: SecPal

    PasskeyUserEntity:
      type: object
      required:
        - id
        - name
        - display_name
      properties:
        id:
          type: string
          description: Base64url-encoded stable user handle.
          example: 'dXNlcl81NTBlODQwMC1lMjliLTQxZDQtYTcxNi00NDY2NTU0NDAwOTk'
        name:
          type: string
          example: 'john.doe@secpal.app'
        display_name:
          type: string
          example: John Doe

    PasskeyCredentialParameter:
      type: object
      required:
        - type
        - alg
      properties:
        type:
          type: string
          enum: [public-key]
          example: public-key
        alg:
          type: integer
          description: COSE algorithm identifier.
          example: -7

    PasskeyAuthenticatorSelection:
      type: object
      properties:
        authenticator_attachment:
          type: [string, 'null']
          enum: [platform, cross-platform, null]
          example: platform
        resident_key:
          type: string
          enum: [discouraged, preferred, required]
          description: >-
            Relying-party preference for whether the authenticator creates a
            discoverable (resident) credential during enrollment. `discouraged`
            and `preferred` are requests the authenticator may honor or ignore;
            only `required` mandates that a discoverable credential is created
            (or the ceremony fails). Defaults to `preferred` for broader
            browser and authenticator compatibility.
          example: preferred
        require_resident_key:
          type: boolean
          deprecated: true
          description: >-
            Deprecated compatibility flag. Omitted unless the server requires a
            discoverable credential for enrollment.
          example: false
        user_verification:
          type: string
          enum: [discouraged, preferred, required]
          example: preferred

    PasskeyRegistrationPublicKeyOptions:
      type: object
      required:
        - challenge
        - rp
        - user
        - pub_key_cred_params
        - timeout
        - exclude_credentials
        - authenticator_selection
        - attestation
      properties:
        challenge:
          type: string
          description: Base64url-encoded WebAuthn challenge.
          example: 'W8K3x0xLxw0Wl0rM9v4Z1QmZ2J7N4R8s'
        rp:
          $ref: '#/components/schemas/PasskeyRelyingParty'
        user:
          $ref: '#/components/schemas/PasskeyUserEntity'
        pub_key_cred_params:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PasskeyCredentialParameter'
        timeout:
          type: integer
          minimum: 1
          example: 60000
        exclude_credentials:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyCredentialDescriptor'
        authenticator_selection:
          $ref: '#/components/schemas/PasskeyAuthenticatorSelection'
        attestation:
          type: string
          enum: [none, indirect, direct, enterprise]
          example: none

    PasskeyRegistrationChallengeResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - challenge_id
            - public_key
            - expires_at
          properties:
            challenge_id:
              type: string
              format: uuid
              example: '7ab94f58-6262-4a2d-b6e7-3163bbf65111'
            public_key:
              $ref: '#/components/schemas/PasskeyRegistrationPublicKeyOptions'
            expires_at:
              $ref: '#/components/schemas/ApiTimestamp'
              example: '2026-04-05T13:45:00Z'

    PasskeyAttestationResponse:
      type: object
      required:
        - client_data_json
        - attestation_object
      properties:
        client_data_json:
          type: string
          description: Base64url-encoded clientDataJSON.
          example: 'eyJ0eXBlIjoid2ViYXV0aG4uY3JlYXRlIiwiY2hhbGxlbmdlIjoiVzhrM3gweEx4dzBXbDByTTl2NFoxUW1aMko3TjRSOHMiLCJvcmlnaW4iOiJodHRwczovL2FwcC5zZWNwYWwuZGV2In0'
        attestation_object:
          type: string
          description: Base64url-encoded attestationObject.
          example: 'o2NmbXRkbm9uZWhhdXRoRGF0YVhYQk1vY2tBdHRlc3RhdGlvbk9iamVjdA'
        transports:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyTransport'
          example: [internal]

    PasskeyCredentialWrapperBase:
      type: object
      description: Common WebAuthn credential wrapper fields shared by registration and authentication verification requests.
      required:
        - id
        - raw_id
        - type
      properties:
        id:
          type: string
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        raw_id:
          type: string
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        type:
          type: string
          enum: [public-key]
          example: public-key
        client_extension_results:
          type: object
          additionalProperties: true

    PasskeyRegistrationCredential:
      allOf:
        - $ref: '#/components/schemas/PasskeyCredentialWrapperBase'
        - type: object
          required:
            - response
          properties:
            response:
              $ref: '#/components/schemas/PasskeyAttestationResponse'

    PasskeyAuthenticationCredential:
      allOf:
        - $ref: '#/components/schemas/PasskeyCredentialWrapperBase'
        - type: object
          required:
            - response
          properties:
            response:
              $ref: '#/components/schemas/PasskeyAssertionResponse'

    PasskeyRegistrationVerificationRequest:
      type: object
      required:
        - credential
      properties:
        credential:
          $ref: '#/components/schemas/PasskeyRegistrationCredential'
        label:
          type: [string, 'null']
          maxLength: 100
          description: Optional caller-supplied label for the enrolled passkey.
          example: Work MacBook Touch ID

    PasskeyRegistrationVerificationResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - credential
            - total_passkeys
          properties:
            credential:
              $ref: '#/components/schemas/PasskeyCredentialSummary'
            total_passkeys:
              type: integer
              minimum: 1
              example: 2

    PasskeyAuthenticationPublicKeyOptions:
      type: object
      description: >-
        WebAuthn `publicKey` options returned by the public passkey sign-in
        challenge endpoints. The contract is discoverable-only: the response
        does not advertise an `allow_credentials` list because the server does
        not perform email-scoped or otherwise account-scoped credential
        lookups before the WebAuthn assertion is verified.
      required:
        - challenge
        - rp_id
        - timeout
        - user_verification
      properties:
        challenge:
          type: string
          description: Base64url-encoded WebAuthn challenge.
          example: 'P2v4R8sW8K3x0xLxw0Wl0rM9v4Z1QmZ2'
        rp_id:
          type: string
          example: app.secpal.dev
        timeout:
          type: integer
          minimum: 1
          example: 60000
        user_verification:
          type: string
          enum: [discouraged, preferred, required]
          example: preferred

    PasskeyAuthenticationChallengeResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - challenge_id
            - public_key
            - expires_at
          properties:
            challenge_id:
              type: string
              format: uuid
              example: '9a9e15bc-0328-4edf-a41d-4dd09a40c621'
            public_key:
              $ref: '#/components/schemas/PasskeyAuthenticationPublicKeyOptions'
            mediation:
              type: string
              enum: [conditional, optional, required, silent]
              example: conditional
            expires_at:
              $ref: '#/components/schemas/ApiTimestamp'
              example: '2026-04-05T13:45:00Z'

    PasskeyAuthenticationChallengeRequest:
      type: object
      description: >-
        Empty request body for the public browser passkey sign-in challenge.
        The endpoint is discoverable-only: callers must not supply an email
        address or any other account-scoping hint, and the request body is
        either omitted entirely or sent as an empty JSON object.
      additionalProperties: false

    PasskeyTokenAuthenticationChallengeRequest:
      type: object
      description: >-
        Request body for the public native-client passkey sign-in challenge.
        The endpoint is discoverable-only: callers must not supply an email
        address or any other account-scoping hint. Only `device_name` is
        accepted so the resulting personal access token can be labeled.
      required:
        - device_name
      properties:
        device_name:
          type: string
          description: Friendly client identifier for the personal access token created after successful passkey verification.
          example: android-phone
      additionalProperties: false

    PasskeyAssertionResponse:
      type: object
      required:
        - client_data_json
        - authenticator_data
        - signature
      properties:
        client_data_json:
          type: string
          description: Base64url-encoded clientDataJSON.
          example: 'eyJ0eXBlIjoid2ViYXV0aG4uZ2V0IiwiY2hhbGxlbmdlIjoiUDJ2NFI4c1c4SzN4MHhMeHcwV2wwck05djRaMVFtWjIiLCJvcmlnaW4iOiJodHRwczovL2FwcC5zZWNwYWwuZGV2In0'
        authenticator_data:
          type: string
          description: Base64url-encoded authenticatorData.
          example: 'SZYN5YgOjGh0NBcP1b4K2Xc1d5SxJp7bL9M0qA'
        signature:
          type: string
          description: Base64url-encoded assertion signature.
          example: 'MEYCIQDjWQ8FZ8E6pK1f7Y5k8dL6U7R9T0pQ1wX2yZ3a4b5c6gIhAJ2rN6h4j8k2l5m7n9p1q3r5s7u9w1x3y5z7A9B1C3'
        user_handle:
          type: [string, 'null']
          description: Base64url-encoded user handle when returned by the authenticator.
          example: 'dXNlcl81NTBlODQwMC1lMjliLTQxZDQtYTcxNi00NDY2NTU0NDAwOTk'

    PasskeyAuthenticationVerificationRequest:
      type: object
      required:
        - credential
      properties:
        credential:
          $ref: '#/components/schemas/PasskeyAuthenticationCredential'

    PasskeyAuthenticationResult:
      type: object
      description: Authentication metadata returned after successful passkey verification.
      required:
        - method
        - mfa_completed
      properties:
        method:
          type: string
          enum: [passkey]
          example: passkey
        mfa_completed:
          type: boolean
          description: >-
            Passkey verification satisfies the phishing-resistant sign-in path
            directly, so no additional phase-1 MFA challenge is returned from
            these endpoints.
          example: true

    PasskeySessionAuthenticationResult:
      allOf:
        - $ref: '#/components/schemas/PasskeyAuthenticationResult'
        - type: object
          required:
            - mode
          properties:
            mode:
              type: string
              enum: [session]
              example: session

    PasskeyTokenAuthenticationResult:
      allOf:
        - $ref: '#/components/schemas/PasskeyAuthenticationResult'
        - type: object
          required:
            - mode
          properties:
            mode:
              type: string
              enum: [token]
              example: token

    PasskeySessionLoginResponse:
      type: object
      required:
        - user
        - authentication
      properties:
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        authentication:
          $ref: '#/components/schemas/PasskeySessionAuthenticationResult'

    PasskeyTokenLoginResponse:
      type: object
      required:
        - token
        - user
        - authentication
      properties:
        token:
          type: string
          description: Bearer token for the completed token-based passkey login.
          example: '1|abcdefghijklmnopqrstuvwxyz1234567890'
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        authentication:
          $ref: '#/components/schemas/PasskeyTokenAuthenticationResult'

    PasskeyDeleteResponse:
      type: object
      required:
        - message
        - data
      properties:
        message:
          type: string
          example: Passkey deleted successfully.
        data:
          type: object
          required:
            - remaining_passkeys
          properties:
            remaining_passkeys:
              type: integer
              minimum: 0
              example: 1

    SimpleMessageResponse:
      type: object
      required:
        - message
      additionalProperties: false
      properties:
        message:
          type: string
          description: Plain JSON message with no `code` field (e.g. Laravel auth or throttle errors, logout confirmation).
          example: Logged out successfully

    UpdateLanguagePreferenceRequest:
      type: object
      required:
        - locale
      properties:
        locale:
          type: ['null', string]
          description: Preferred locale for the authenticated user, or `null` to clear the preference.
          example: 'de'

    UpdateLanguagePreferenceResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - preferred_locale
          properties:
            preferred_locale:
              type: ['null', string]
              example: 'de'

    MyOrganizationalScope:
      type: object
      required:
        - id
        - user_id
        - organizational_unit_id
        - access_level
        - include_descendants
        - min_viewable_rank
        - max_viewable_rank
        - min_assignable_rank
        - max_assignable_rank
        - allow_self_access
        - created_at
        - updated_at
        - organizational_unit
      properties:
        id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 42
        organizational_unit_id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440010'
        access_level:
          type: string
          enum: [none, read, write, manage]
          example: 'manage'
        include_descendants:
          type: boolean
          example: true
        min_viewable_rank:
          type: [integer, 'null']
          example: 1
        max_viewable_rank:
          type: [integer, 'null']
          example: 10
        min_assignable_rank:
          type: [integer, 'null']
          example: 1
        max_assignable_rank:
          type: [integer, 'null']
          example: 5
        allow_self_access:
          type: boolean
          example: true
        created_at:
          $ref: '#/components/schemas/ApiTimestamp'
          example: '2026-03-27T10:15:00Z'
        updated_at:
          $ref: '#/components/schemas/ApiTimestamp'
          example: '2026-03-27T10:15:00Z'
        organizational_unit:
          type: object
          required:
            - id
            - name
            - type
          properties:
            id:
              type: string
              format: uuid
              example: '550e8400-e29b-41d4-a716-446655440010'
            name:
              type: string
              example: 'Operations'
            type:
              type: string
              example: 'department'

    EmployeeAddress:
      type: object
      description: |
        Residential address row (`employee_addresses`). Exactly one row per employee may omit `resided_until`,
        indicating the current residence. Responses decrypt sensitive street/postal/city fields into plaintext keys.
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        street:
          type: [string, 'null']
          description: Decrypted (stored encrypted at rest).
          maxLength: 255
        house_number:
          type: [string, 'null']
          description: Decrypted (stored encrypted at rest).
          maxLength: 10
        postal_code:
          type: [string, 'null']
          description: Decrypted (stored encrypted at rest).
          maxLength: 20
        city:
          type: [string, 'null']
          description: Decrypted (stored encrypted at rest).
          maxLength: 255
        supplement:
          type: [string, 'null']
          description: Decrypted (stored encrypted at rest).
          maxLength: 255
        country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        resided_from:
          type: [string, 'null']
          format: date
        resided_until:
          type: [string, 'null']
          format: date
          description: Null means this row is the employee's current address.

    EmployeeAddressInput:
      type: object
      description: |
        Address row for create/update payloads (no `id`; server assigns identifiers). Sending `addresses` replaces stored rows for that employee.
      properties:
        street:
          type: [string, 'null']
          maxLength: 255
        house_number:
          type: [string, 'null']
          maxLength: 10
        postal_code:
          type: [string, 'null']
          maxLength: 20
        city:
          type: [string, 'null']
          maxLength: 255
        supplement:
          type: [string, 'null']
          maxLength: 255
        country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        resided_from:
          type: [string, 'null']
          format: date
        resided_until:
          type: [string, 'null']
          format: date

    EmployeeEmergencyContactEntry:
      type: object
      required:
        - name
        - phone
      properties:
        name:
          type: string
          maxLength: 255
        relationship:
          type: [string, 'null']
          maxLength: 100
        phone:
          type: string
          maxLength: 255
        email:
          type: [string, 'null']
          format: email
          maxLength: 255
        notes:
          type: [string, 'null']
          maxLength: 500

    EmployeeStatus:
      type: string
      description: |
        Official employee lifecycle status.

        - `applicant`: candidate record; onboarding invitation is not available yet.
        - `pre_contract`: contract preparation phase; onboarding invitation and onboarding portal access are allowed.
        - `active`: actively employed.
        - `on_leave`: temporarily absent while still employed.
        - `terminated`: employment ended.
      enum: [applicant, pre_contract, active, on_leave, terminated]

    EmployeeInvitableStatus:
      type: string
      description: Employee status that may receive an onboarding invitation.
      enum: [pre_contract]

    EmployeeCreateRequest:
      type: object
      additionalProperties: false
      required:
        - first_name
        - last_name
        - date_of_birth
        - email
        - status
        - position
        - contract_start_date
        - contract_type
        - legal_entity_id
        - establishment_id
      properties:
        first_name:
          type: string
          maxLength: 255
        last_name:
          type: string
          maxLength: 255
        date_of_birth:
          type: string
          format: date
        email:
          type: string
          format: email
        phone:
          type: [string, 'null']
          maxLength: 255
        photo_path:
          type: [string, 'null']
          maxLength: 255
        bwr_id:
          type: [string, 'null']
          pattern: '^[0-9]{7}$'
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
          maxLength: 1000
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          maxLength: 255
        previous_names:
          type: [array, 'null']
          items:
            type: string
            maxLength: 255
        birth_city:
          type: [string, 'null']
          maxLength: 255
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        nationalities:
          type: [array, 'null']
          items:
            type: string
            minLength: 2
            maxLength: 2
            pattern: '^[A-Z]{2}$'
        addresses:
          type: [array, 'null']
          description: |
            Residential addresses (full replacement list when supplied). The API validates server-side that exactly one entry has `resided_until` null when `bwr_status` is `pending` or `active`.
          items:
            $ref: '#/components/schemas/EmployeeAddressInput'
        emergency_contacts:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeEmergencyContactEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
            maxLength: 100
        id_document_type:
          type: [string, 'null']
          enum: [passport, id_card, residence_permit]
        id_document_number:
          type: [string, 'null']
          maxLength: 255
        id_document_expiry:
          type: [string, 'null']
          format: date
        employment_end_date:
          type: [string, 'null']
          format: date
        retention_period_end:
          type: [string, 'null']
          format: date
        tax_id:
          type: [string, 'null']
          maxLength: 255
        social_security_number:
          type: [string, 'null']
          maxLength: 255
        status:
          $ref: '#/components/schemas/EmployeeStatus'
        position:
          type: string
          maxLength: 255
          description: Free-text job title or position.
        management_level:
          type: integer
          minimum: 0
          maximum: 255
          description: Optional leadership rank. Omit or use `0` for non-management employees; `1-255` represent leadership ranks.
        hire_date:
          type: [string, 'null']
          format: date
        contract_start_date:
          type: string
          format: date
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        send_invitation:
          type: boolean
          default: false
          description: If true, sends the onboarding invitation immediately after employee creation, subject to server-side validation rules for the employee's status.
        weekly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 60
        monthly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 300
        hourly_rate:
          type: [number, 'null']
          format: float
          minimum: 0
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
          maxLength: 255
        health_insurance_number:
          type: [string, 'null']
          maxLength: 255
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
          maxLength: 255
        sachkunde_ihk_number:
          type: [string, 'null']
          maxLength: 50
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
          maxLength: 255
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
          maxLength: 255
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        legal_entity_id:
          type: string
          format: uuid
          description: Same-tenant Legal Entity assigned to the employee.
        establishment_id:
          type: string
          format: uuid
          description: Establishment assigned to the employee; it must belong to the selected Legal Entity and tenant.
      x-validation-examples:
        accepted:
          - name: Employee assigned within one tenant and Legal Entity
            employee_tenant_id: '660e8400-e29b-41d4-a716-446655440001'
            legal_entity_tenant_id: '660e8400-e29b-41d4-a716-446655440001'
            establishment_tenant_id: '660e8400-e29b-41d4-a716-446655440001'
            establishment_legal_entity_id: '770e8400-e29b-41d4-a716-446655440000'
            value:
              first_name: Max
              last_name: Mustermann
              date_of_birth: '1990-05-15'
              email: max.mustermann@secpal.dev
              status: active
              position: Security Guard
              contract_start_date: '2026-08-01'
              contract_type: full_time
              legal_entity_id: '770e8400-e29b-41d4-a716-446655440000'
              establishment_id: '780e8400-e29b-41d4-a716-446655440000'
        rejected:
          - name: Establishment belongs to another Legal Entity
            employee_tenant_id: '660e8400-e29b-41d4-a716-446655440001'
            legal_entity_tenant_id: '660e8400-e29b-41d4-a716-446655440001'
            establishment_tenant_id: '660e8400-e29b-41d4-a716-446655440001'
            establishment_legal_entity_id: '770e8400-e29b-41d4-a716-446655440002'
            status: 422
            value:
              first_name: Max
              last_name: Mustermann
              date_of_birth: '1990-05-15'
              email: max.mustermann@secpal.dev
              status: active
              position: Security Guard
              contract_start_date: '2026-08-01'
              contract_type: full_time
              legal_entity_id: '770e8400-e29b-41d4-a716-446655440000'
              establishment_id: '780e8400-e29b-41d4-a716-446655440002'

    EmployeeUpdateRequest:
      type: object
      additionalProperties: false
      description: Partial employee update request. All properties are optional. If either domain relationship changes, validation uses the resulting Legal Entity and establishment pair after applying supplied values to the stored employee; the result must remain same tenant and same Legal Entity, use active, non-deleted targets, and stay within the caller's organizational write access.
      properties:
        employee_number:
          type: [string, 'null']
          maxLength: 50
        first_name:
          type: [string, 'null']
          maxLength: 255
        last_name:
          type: [string, 'null']
          maxLength: 255
        email:
          type: [string, 'null']
          format: email
          maxLength: 255
        phone:
          type: [string, 'null']
          maxLength: 255
        date_of_birth:
          type: [string, 'null']
          format: date
        photo_path:
          type: [string, 'null']
          maxLength: 255
        bwr_id:
          type: [string, 'null']
          maxLength: 255
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          maxLength: 255
        previous_names:
          type: [array, 'null']
          items:
            type: string
            maxLength: 255
        birth_city:
          type: [string, 'null']
          maxLength: 255
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        nationalities:
          type: [array, 'null']
          items:
            type: string
            minLength: 2
            maxLength: 2
            pattern: '^[A-Z]{2}$'
        addresses:
          type: [array, 'null']
          description: |
            When supplied, replaces all stored address rows for this employee (send the full list).
          items:
            $ref: '#/components/schemas/EmployeeAddressInput'
        emergency_contacts:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeEmergencyContactEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
            maxLength: 100
        id_document_type:
          type: [string, 'null']
          enum: [passport, id_card, residence_permit]
        id_document_number:
          type: [string, 'null']
          maxLength: 255
        id_document_expiry:
          type: [string, 'null']
          format: date
        employment_end_date:
          type: [string, 'null']
          format: date
        retention_period_end:
          type: [string, 'null']
          format: date
        tax_id:
          type: [string, 'null']
          maxLength: 255
        social_security_number:
          type: [string, 'null']
          maxLength: 255
        status:
          $ref: '#/components/schemas/EmployeeStatus'
        position:
          type: [string, 'null']
          maxLength: 255
          description: Free-text job title or position.
        management_level:
          type: integer
          minimum: 0
          maximum: 255
          description: Optional leadership rank update. Use `0` for non-management employees; `1-255` represent leadership ranks.
        hire_date:
          type: [string, 'null']
          format: date
        contract_start_date:
          type: [string, 'null']
          format: date
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        weekly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 60
        monthly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 300
        hourly_rate:
          type: [number, 'null']
          format: float
          minimum: 0
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
          maxLength: 255
        health_insurance_number:
          type: [string, 'null']
          maxLength: 255
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
          maxLength: 255
        sachkunde_ihk_number:
          type: [string, 'null']
          maxLength: 50
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
          maxLength: 255
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
          maxLength: 255
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        legal_entity_id:
          type: string
          format: uuid
        establishment_id:
          type: string
          format: uuid
      x-validation-examples:
        accepted:
          - name: Reassign the establishment within the stored Legal Entity
            value:
              establishment_id: '780e8400-e29b-41d4-a716-446655440001'
            resulting:
              legal_entity_id: '770e8400-e29b-41d4-a716-446655440000'
              establishment_id: '780e8400-e29b-41d4-a716-446655440001'
        rejected:
          - name: Reassign the establishment to another Legal Entity
            value:
              establishment_id: '780e8400-e29b-41d4-a716-446655440002'
            resulting:
              legal_entity_id: '770e8400-e29b-41d4-a716-446655440000'
              establishment_id: '780e8400-e29b-41d4-a716-446655440002'
            status: 422

    EmployeeResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/Employee'

    EmployeeOnboardingInvitation:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [not_requested, sent, created_not_sent, failed]
        available:
          type: boolean
          description: Whether an onboarding invitation may currently be requested for this employee.
          example: false
        eligible_statuses:
          type: array
          description: Employee statuses that are allowed to receive onboarding invitations.
          items:
            $ref: '#/components/schemas/EmployeeInvitableStatus'
          example: [pre_contract]
        rule_message:
          type: [string, 'null']
          description: Human-readable explanation of the onboarding invitation rule for the current employee status.
          example: Onboarding invitations are only available while the employee is in pre_contract status.
        requested_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        token_created_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        mail_sent_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        mail_failed_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        failure_reason:
          type: [string, 'null']

    EmployeeCollectionResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employee'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    Employee:
      type: object
      description: Employee entity with decrypted personal data
      required:
        - id
        - tenant_id
        - employee_number
        - first_name
        - last_name
        - full_name
        - email
        - status
        - contract_type
        - user_account_active
        - onboarding_completed
        - onboarding_workflow
        - onboarding_invitation
        - legal_entity_id
        - establishment_id
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        tenant_id:
          type: string
          example: 'tenant-12345-key'
        employee_number:
          type: string
          example: 'EMP-2025-0042'
        first_name:
          type: string
          description: Decrypted
          example: 'Max'
        last_name:
          type: string
          description: Decrypted
          example: 'Mustermann'
        full_name:
          type: string
          example: 'Max Mustermann'
        date_of_birth:
          type: [string, 'null']
          format: date
          description: Decrypted
          example: '1990-05-15'
        email:
          type: string
          format: email
          example: 'max.mustermann@secpal.app'
        phone:
          type: [string, 'null']
          example: '+49 30 12345678'
        photo_path:
          type: [string, 'null']
          example: 'employees/photos/550e8400.jpg'
        bwr_id:
          type: [string, 'null']
          example: '1234567'
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          description: Decrypted
        previous_names:
          type: [array, 'null']
          items:
            type: string
        birth_city:
          type: [string, 'null']
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
        nationalities:
          type: [array, 'null']
          items:
            type: string
        addresses:
          type: array
          description: Omitted when the relation is not loaded; present (possibly empty) when loaded.
          items:
            $ref: '#/components/schemas/EmployeeAddress'
        current_address:
          anyOf:
            - $ref: '#/components/schemas/EmployeeAddress'
            - type: 'null'
          description: |
            Omitted when the `addresses` relation is not loaded. When loaded, contains the row
            with `resided_until` null, or null if no such row exists.
        structured_address:
          type: [string, 'null']
          description: Single-line summary derived from `current_address`; null when no current address exists. Always present in responses.
        emergency_contacts:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeEmergencyContactEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
        tax_id:
          type: [string, 'null']
          description: Decrypted
          example: '12345678901'
        social_security_number:
          type: [string, 'null']
          description: Decrypted
          example: '12 345678 A 123'
        status:
          allOf:
            - $ref: '#/components/schemas/EmployeeStatus'
          example: 'active'
        hire_date:
          type: [string, 'null']
          format: date
          example: '2025-01-15'
        contract_start_date:
          type: [string, 'null']
          format: date
          example: '2025-02-01'
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        position:
          type: [string, 'null']
          example: 'Security Guard'
        management_level:
          type: integer
          minimum: 0
          maximum: 255
          example: 0
        weekly_hours:
          type: [number, 'null']
          format: float
        monthly_hours:
          type: [number, 'null']
          format: float
        hourly_rate:
          type: [number, 'null']
          format: float
          description: Decrypted
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
        health_insurance_number:
          type: [string, 'null']
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
        sachkunde_ihk_number:
          type: [string, 'null']
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        user_id:
          type: [string, 'null']
          format: uuid
        user_account_active:
          type: boolean
        user_account_activated_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        user_account_deactivated_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        onboarding_completed:
          type: boolean
          description: Whether all required onboarding dossier artifacts have been completed. This is not the same as activation readiness.
        onboarding_steps:
          type: [object, 'null']
          description: Client-facing onboarding progress payload stored on the employee record.
        onboarding_started_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        onboarding_completed_at:
          $ref: '#/components/schemas/NullableApiTimestamp'
        onboarding_workflow:
          $ref: '#/components/schemas/OnboardingWorkflow'
          description: >-
            Explicit workflow state block. `onboarding_completed` signals dossier completeness;
            `onboarding_workflow.status = ready_for_activation` signals activation readiness.
        onboarding_invitation:
          $ref: '#/components/schemas/EmployeeOnboardingInvitation'
        legal_entity_id:
          type: string
          format: uuid
        establishment_id:
          type: string
          format: uuid
        user:
          anyOf:
            - $ref: '#/components/schemas/EmployeeUserSummary'
            - type: 'null'
        created_at:
          $ref: '#/components/schemas/ApiTimestamp'
        updated_at:
          $ref: '#/components/schemas/ApiTimestamp'
        deleted_at:
          $ref: '#/components/schemas/NullableApiTimestamp'

    # =============================================================================
    # Onboarding Runtime Surface Schemas (Issue #180)
    # =============================================================================

    OnboardingWorkflowStatus:
      type: string
      description: |
        Canonical onboarding workflow state for a pre-contract employee.

        - `invited`: invitation sent, account not yet initialized.
        - `account_initialized`: employee completed account bootstrap.
        - `in_progress`: employee is actively filling out the dossier.
        - `submitted_for_review`: dossier submitted and awaiting HR review.
        - `changes_requested`: HR requested changes before the dossier can be approved.
        - `contract_confirmed`: HR confirmed the contract; the employee is cleared for activation.
        - `ready_for_activation`: all prerequisites met; awaiting final activation by HR or system.
        - `active`: employee is fully active.
      enum:
        - invited
        - account_initialized
        - in_progress
        - submitted_for_review
        - changes_requested
        - contract_confirmed
        - ready_for_activation
        - active

    OnboardingWorkflow:
      type: object
      description: >-
        Aggregated onboarding workflow state block embedded in the employee resource.
        `onboarding_completed` signals dossier completeness; `status = ready_for_activation`
        signals activation readiness — the two concepts are intentionally separate.
      required:
        - status
      properties:
        status:
          anyOf:
            - $ref: '#/components/schemas/OnboardingWorkflowStatus'
            - type: 'null'
          example: invited

    OnboardingTokenValidationResponse:
      type: object
      description: |
        Minimal response returned when a valid onboarding token is presented.

        Intentionally does NOT echo any personal data (first name, last name, email)
        about the invitee. Anyone in possession of the magic link can call this endpoint;
        leaking identity attributes here would turn the link into an information-disclosure
        primitive. The actual identity proof happens at POST /onboarding/complete, which
        requires the invitee to additionally know their date of birth and full name.
      required:
        - data
      additionalProperties: false
      properties:
        data:
          type: object
          required:
            - valid
          additionalProperties: false
          properties:
            valid:
              type: boolean
              const: true
              description: Always `true` when the response is 200. Lets clients render a "you may continue" state without exposing employee fields.
              example: true

    OnboardingCompleteRequest:
      type: object
      description: |
        Public onboarding completion payload accepted by the runtime endpoint.

        The invitee must additionally prove knowledge of `date_of_birth` and a name that
        is similar enough to the HR record. Any identity-verification failure (wrong
        date of birth, name too different, or both) is reported with a single generic
        `422 { "message": "…" }` and no `errors` payload, so the response cannot be used
        as an oracle to enumerate individual fields.

        **Single-shot policy.** A failed identity proof permanently revokes the magic
        link: the same `token` cannot be reused, not even with corrected details, and
        subsequent calls return the standard "invalid or expired" response. The
        legitimate invitee must request a fresh invitation from HR. This deliberately
        rules out guessing — anyone who does not know their own date of birth and name
        is, by definition, not the intended recipient.
      required:
        - token
        - email
        - password
        - first_name
        - last_name
        - date_of_birth
      properties:
        token:
          type: string
          description: One-time onboarding token from the invitation email.
        email:
          type: string
          format: email
          description: Email address from the invitation link.
        password:
          type: string
          format: password
          description: Initial account password.
        first_name:
          type: string
          maxLength: 255
        last_name:
          type: string
          maxLength: 255
        date_of_birth:
          type: string
[...]
