# SPDX-FileCopyrightText: 2026 SecPal Contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

openapi: 3.1.0
info:
  title: SecPal API
  description: |
    SecPal is the operations software for German private security services.
    This API is the backend powering guard book, shift planning, and operational workflows.

    ## Security

    - **Authentication Modes:** Browser clients use Laravel Sanctum's first-party session flow from approved SPA origins, while native and mobile clients use Personal Access Tokens limited to the `api-access` ability.
    - **Session Lifetime and Re-authentication:** Stateful browser sessions expire after 120 minutes of inactivity. SPA logins also set a remember-me cookie, but explicit logout and password reset flows revoke the active browser session and require a fresh login.
    - **Bearer Token Lifetime and Rotation:** Personal Access Tokens are stored hashed at rest, expire after 1440 minutes (24 hours), and are not rotated automatically on use. SecPal also uses `sec_`-prefixed secret identifiers for secret-scanning and credential-handling workflows. New token logins mint an additional device-scoped token, so clients must re-authenticate after expiry or explicit revocation.
    - **Rate Limiting:** The default authenticated API bucket is 60 requests per minute keyed by authenticated user ID, falling back to client IP when no authenticated principal is available. Higher-risk endpoints use stricter route categories: login failures are limited to 5 attempts per 5 minutes per account and per IP-plus-account pair, password reset requests to 5 per 60 minutes per IP, MFA and passkey verification/challenge endpoints to 5 per 10 minutes, and onboarding completion/validation plus administrative MFA resets to 3 per 10 minutes, with a few additional route-specific bootstrap and verification caps.
    - **CORS:** Allowed origins must be configured in application settings
    - **Security Headers:** HSTS, CSP, X-Frame-Options enforced

    ## API Policies

    - All timestamps use ISO 8601 format (UTC)
    - Pagination: offset-based (page/per_page) for most endpoints, cursor-based for large datasets
    - Maximum page size: 100 items
  version: 0.0.1
  contact:
    name: SecPal API Support
    url: https://github.com/SecPal
    email: support@secpal.app
  license:
    name: AGPL-3.0-or-later
    url: https://spdx.org/licenses/AGPL-3.0-or-later.html

servers:
  - url: https://api.secpal.dev/v1
    description: Live API Server

security: []

tags:
  - name: Authentication
    description: Login, logout, and MFA challenge endpoints for browser-session and Bearer-token clients.
  - name: Monitoring
    description: Service health and operational readiness endpoints.
  - name: Activity Logs
    description: Tamper-evident audit trail operations and verification flows.
  - name: Employees
    description: Employee lifecycle management endpoints.
  - name: Customers
    description: Customer management and related customer-scoped resources.
  - name: Sites
    description: Site management endpoints and site-related nested resources.
  - name: Assignments
    description: Customer, site, and self-service assignment operations.
  - name: Me
    description: Canonical self-service endpoints for the authenticated caller under the `/me` namespace.
  - name: Cost Centers
    description: Site-scoped cost center management endpoints.
  - name: Onboarding
    description: >-
      Public bootstrap and authenticated onboarding workflow endpoints used by the pre-contract employee
      dossier flow, HR review actions, and onboarding confirmation.
  - name: Android Provisioning
    description: >-
      Admin enrollment-session management, public bootstrap-token exchange, and channel-aware
      release metadata for SecPal's single-app Android distribution model.

components:
  schemas:
    Error:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Resource not found
        code:
          type: string
          description: Machine-readable error code
          example: RESOURCE_NOT_FOUND
        details:
          type: object
          description: Additional error details
          additionalProperties: true

    ValidationProblem:
      type: object
      required:
        - message
        - errors
      properties:
        message:
          type: string
          description: General validation failure message.
          example: The given data was invalid.
        errors:
          type: object
          description: Field-specific validation errors keyed by request field name.
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ['The email field must be a valid email address.']

    Activity:
      type: object
      required:
        - id
        - tenant_id
        - log_name
        - description
        - event
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique activity identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        tenant_id:
          type: string
          format: uuid
          description: Tenant UUID this activity belongs to
          example: '660e8400-e29b-41d4-a716-446655440001'
        log_name:
          type: string
          maxLength: 255
          description: Log name categorizing the activity type
          example: 'employee'
        description:
          type: string
          description: Human-readable description of the activity
          example: 'created'
        event:
          type: string
          maxLength: 255
          description: Event type that triggered the activity
          example: 'created'
        causer_type:
          type: string
          nullable: true
          description: Polymorphic type of the user/entity that caused the activity
          example: 'App\Models\User'
        causer_id:
          type: string
          format: uuid
          nullable: true
          description: UUID of the causer
          example: '770e8400-e29b-41d4-a716-446655440002'
        causer:
          type: object
          nullable: true
          description: Full causer object (when loaded)
          additionalProperties: true
        subject_type:
          type: string
          nullable: true
          description: Polymorphic type of the entity the activity is about
          example: 'App\Models\Employee'
        subject_id:
          type: string
          format: uuid
          nullable: true
          description: UUID of the subject
          example: '880e8400-e29b-41d4-a716-446655440003'
        subject:
          type: object
          nullable: true
          description: Full subject object (when loaded)
          additionalProperties: true
        organizational_unit_id:
          type: string
          format: uuid
          nullable: true
          description: Organizational unit this activity belongs to
          example: '990e8400-e29b-41d4-a716-446655440004'
        organizational_unit:
          type: object
          nullable: true
          description: Full organizational unit object (when loaded)
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            parent_id:
              type: string
              format: uuid
              nullable: true
        properties:
          type: object
          nullable: true
          description: Additional properties stored with the activity
          additionalProperties: true
        batch_uuid:
          type: string
          format: uuid
          nullable: true
          description: Batch UUID for grouping related activities
          example: 'aa0e8400-e29b-41d4-a716-446655440005'
        ip_address:
          type: string
          nullable: true
          description: Source IP address captured for the activity
          example: '192.0.2.1'
        user_agent:
          type: string
          nullable: true
          description: User agent captured for the activity
          example: 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the activity was created
          example: '2025-11-16T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the activity was last updated
          example: '2025-11-16T10:00:00Z'
        previous_hash:
          type: string
          nullable: true
          description: Hash of the previous activity in the blockchain
          example: '5f9c4ab08cac7457e9111a6e4e3e3c3e3c3e3c3e3c3e3c3e3c3e3c3e3c3e'
        event_hash:
          type: string
          nullable: true
          description: Hash of this activity event
          example: '6a8d5bc19dbd8568fa222b7f5f4f4d4f4d4f4d4f4d4f4d4f4d4f4d4f4d4f'
        merkle_batch_id:
          type: integer
          format: int64
          nullable: true
          description: Batch identifier for the Merkle tree grouping
          example: 1742203200
        merkle_proof:
          type: array
          nullable: true
          description: Merkle proof for this activity
          items:
            type: string
        merkle_root:
          type: string
          nullable: true
          description: Merkle root this activity is part of
          example: '7b9e6cd2aece9679gb333c8g6g5g5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e'
        ots_submitted_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the OpenTimestamp proof was submitted
          example: '2025-11-16T10:03:00Z'
        ots_confirmed_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when OpenTimestamp verification completed
          example: '2025-11-16T10:05:23Z'
        has_ots_proof:
          type: boolean
          description: Whether an OpenTimestamp proof is currently stored for this activity
          example: true
        is_orphaned_genesis:
          type: boolean
          description: Whether the activity became a genesis entry after retention archived its predecessor
          example: false
        orphaned_reason:
          type: string
          nullable: true
          description: Reason why the activity became an orphaned genesis entry
          example: 'Predecessor archived (retention: authentication, 2026-03-01)'
        orphaned_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the activity was marked as orphaned genesis
          example: '2025-11-16T10:07:00Z'
        verification:
          type: object
          nullable: true
          description: Verification results (only present when include_verification=true)
          properties:
            chain_valid:
              type: boolean
              description: Whether the blockchain chain is valid
              example: true
            chain_link_valid:
              type: boolean
              description: Whether the immediate predecessor link is valid
              example: true
            merkle_valid:
              type: boolean
              description: Whether the Merkle proof is valid
              example: true
            ots_valid:
              type: boolean
              description: Whether the OpenTimestamp verification is valid
              example: true

    HealthStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok, error]
          description: Health status of the API
          example: ok
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
          example: '2025-10-25T19:25:00Z'

    # =============================================================================
    # Employee Management Schemas
    # =============================================================================

    PaginationMeta:
      type: object
      description: Pagination metadata
      required:
        - current_page
        - per_page
        - total
      properties:
        current_page:
          type: integer
          description: Current page number
          example: 1
        per_page:
          type: integer
          description: Items per page
          example: 15
        last_page:
          type: integer
          description: Last page number
          example: 5
        total:
          type: integer
          description: Total number of items
          example: 73
        from:
          type: [integer, 'null']
          description: First item index on current page
          example: 1
        to:
          type: [integer, 'null']
          description: Last item index on current page
          example: 15

    PaginationLinks:
      type: object
      description: Pagination navigation links
      properties:
        first:
          type: [string, 'null']
          format: uri
        last:
          type: [string, 'null']
          format: uri
        prev:
          type: [string, 'null']
          format: uri
        next:
          type: [string, 'null']
          format: uri

    EmployeeUserSummary:
      type: object
      description: Minimal embedded user information for an employee
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440100'
        name:
          type: string
          example: 'Max Mustermann'
        email:
          type: string
          format: email
          example: 'max.mustermann@secpal.app'

    AuthenticatedUser:
      type: object
      description: Authenticated user profile and authorization context returned by auth and self-service endpoints.
      required:
        - id
        - name
        - email
        - emailVerified
        - roles
        - permissions
        - hasOrganizationalScopes
        - hasCustomerAccess
        - hasSiteAccess
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: 'John Doe'
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        emailVerified:
          type: boolean
          description: Whether the authenticated user's email address has been verified.
          example: true
        roles:
          type: array
          items:
            type: string
          example: ['Admin']
        permissions:
          type: array
          items:
            type: string
          example: ['employees.read', 'reports.generate']
        hasOrganizationalScopes:
          type: boolean
          example: true
        hasCustomerAccess:
          type: boolean
          description: Whether the authenticated user may access customer collections either globally or through scoped assignments.
          example: true
        hasSiteAccess:
          type: boolean
          description: Whether the authenticated user may access site collections either globally or through scoped assignments.
          example: true

    SessionLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        password:
          type: string
          format: password
          example: 'CorrectHorseBatteryStaple!'

    TokenLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        password:
          type: string
          format: password
          example: 'CorrectHorseBatteryStaple!'
        device_name:
          type: string
          description: Friendly client identifier for the created personal access token.
          example: 'android-phone'

    SessionLoginResponse:
      type: object
      required:
        - user
      properties:
        user:
          $ref: '#/components/schemas/AuthenticatedUser'

    TokenLoginResponse:
      type: object
      required:
        - token
        - user
      properties:
        token:
          type: string
          description: Plain-text Laravel Sanctum personal access token.
          example: '1|abcdefghijklmnopqrstuvwxyz1234567890'
        user:
          $ref: '#/components/schemas/AuthenticatedUser'

    MfaChallenge:
      type: object
      description: Pending MFA login challenge created after primary credentials are accepted.
      required:
        - id
        - purpose
        - login_context
        - primary_method
        - available_methods
        - expires_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440099'
        purpose:
          type: string
          enum: [login]
          example: login
        login_context:
          type: string
          description: Authentication mode that will be completed once the challenge is verified.
          enum: [session, token]
          example: session
        primary_method:
          type: string
          enum: [totp]
          example: totp
        available_methods:
          type: array
          description: Verification methods accepted for this challenge.
          minItems: 1
          items:
            type: string
            enum: [totp, recovery_code]
          example: [totp, recovery_code]
        expires_at:
          type: string
          format: date-time
          example: '2026-04-01T09:30:00Z'

    LoginMfaChallengeResponse:
      type: object
      description: Primary credentials were accepted, but MFA must be completed before an authenticated context is issued.
      required:
        - challenge
      properties:
        challenge:
          $ref: '#/components/schemas/MfaChallenge'

    CompletedLoginResponse:
      description: Final authenticated login result returned after a pending MFA challenge is verified.
      oneOf:
        - title: SessionCompletion
          type: object
          required:
            - user
            - authentication
          properties:
            user:
              $ref: '#/components/schemas/AuthenticatedUser'
            authentication:
              type: object
              required:
                - mode
                - mfa_completed
              properties:
                mode:
                  type: string
                  enum: [session]
                  example: session
                mfa_completed:
                  type: boolean
                  example: true
        - title: TokenCompletion
          type: object
          required:
            - user
            - authentication
            - token
          properties:
            token:
              type: string
              description: Bearer token for the completed token-based login.
              example: '1|abcdefghijklmnopqrstuvwxyz1234567890'
            user:
              $ref: '#/components/schemas/AuthenticatedUser'
            authentication:
              type: object
              required:
                - mode
                - mfa_completed
              properties:
                mode:
                  type: string
                  enum: [token]
                  example: token
                mfa_completed:
                  type: boolean
                  example: true

    MfaStatus:
      type: object
      description: >-
        Phase-1 MFA state for a user. This schema continues to describe the
        TOTP plus recovery-code factor introduced in phase 1. Passkey/WebAuthn
        credentials are surfaced separately under `/me/passkeys` so existing
        TOTP clients remain backwards-compatible.
      required:
        - enabled
        - method
        - recovery_codes_remaining
        - recovery_codes_generated_at
        - enrolled_at
      properties:
        enabled:
          type: boolean
          example: true
        method:
          type: [string, 'null']
          enum: [totp, null]
          example: totp
        recovery_codes_remaining:
          type: integer
          minimum: 0
          example: 8
        recovery_codes_generated_at:
          type: [string, 'null']
          format: date-time
          example: '2026-04-01T09:12:00Z'
        enrolled_at:
          type: [string, 'null']
          format: date-time
          example: '2026-04-01T09:10:00Z'

    MfaStatusResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/MfaStatus'

    TotpCodeRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: Six-digit TOTP verification code.
          example: '123456'

    MfaVerificationCodeRequest:
      type: object
      required:
        - method
        - code
      properties:
        method:
          type: string
          enum: [totp, recovery_code]
          example: recovery_code
        code:
          type: string
          description: >-
            Current TOTP code or one unused recovery code. Recovery codes are
            issued in canonical API form as 8-character uppercase alphanumeric
            strings without separators; grouped or spaced input may still be
            normalized during verification.
          example: 'B6F42Q8P'

    TotpEnrollmentPreparation:
      type: object
      description: Pending TOTP enrollment material returned to the authenticated user before confirmation.
      required:
        - issuer
        - account_name
        - manual_entry_key
        - otpauth_uri
        - expires_at
      properties:
        issuer:
          type: string
          example: SecPal
        account_name:
          type: string
          example: john.doe@secpal.app
        manual_entry_key:
          type: string
          description: Base32 secret for manual authenticator setup.
          example: 'JBSWY3DPEHPK3PXP'
        otpauth_uri:
          type: string
          description: otpauth URI that clients can encode as a QR code.
          example: 'otpauth://totp/SecPal:john.doe@secpal.app?secret=JBSWY3DPEHPK3PXP&issuer=SecPal'
        expires_at:
          type: string
          format: date-time
          example: '2026-04-01T09:25:00Z'

    MfaTotpEnrollmentResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/TotpEnrollmentPreparation'

    MfaRecoveryCodeReveal:
      type: object
      description: >-
        Plaintext recovery codes returned only immediately after activation or
        regeneration. The API emits them in canonical form as 8-character
        uppercase alphanumeric strings without separators; clients may group
        them for display if desired.
      required:
        - codes
        - generated_at
      properties:
        codes:
          type: array
          minItems: 8
          items:
            type: string
            minLength: 8
            maxLength: 8
            pattern: '^[A-Z0-9]{8}$'
          example:
            - 'B6F42Q8P'
            - 'F9LM7N2R'
            - 'HT4V3KQ1'
            - 'J8PW6CX5'
            - 'M2TR9DZ7'
            - 'Q4YS8LB2'
            - 'V7NK5HF9'
            - 'X3CE1RM6'
        generated_at:
          type: string
          format: date-time
          example: '2026-04-01T09:12:00Z'

    MfaRecoveryCodeRevealResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - status
            - recovery_codes
          properties:
            status:
              $ref: '#/components/schemas/MfaStatus'
            recovery_codes:
              $ref: '#/components/schemas/MfaRecoveryCodeReveal'

    AdminMfaResetRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 500
          description: Human-readable reason recorded in the audit trail for the administrative MFA reset.
          example: 'Lost authenticator device'

    AdminMfaResetResponse:
      type: object
      required:
        - message
        - data
      properties:
        message:
          type: string
          example: 'Two-factor authentication has been reset for the user.'
        data:
          $ref: '#/components/schemas/MfaStatus'

    PasskeyTransport:
      type: string
      enum: [ble, hybrid, internal, nfc, usb]
      example: internal

    PasskeyCredentialDescriptor:
      type: object
      required:
        - type
        - id
      properties:
        type:
          type: string
          enum: [public-key]
          example: public-key
        id:
          type: string
          description: Base64url-encoded WebAuthn credential identifier.
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        transports:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyTransport'
          example: [internal]

    PasskeyCredentialSummary:
      type: object
      description: >-
        Metadata for an enrolled passkey. Public keys, counters, and
        attestation material are never returned through this schema.
      required:
        - id
        - label
        - created_at
        - last_used_at
        - transports
        - authenticator_attachment
        - user_verified
        - backup_eligible
        - backup_state
      properties:
        id:
          type: string
          description: Base64url-encoded WebAuthn credential identifier.
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        label:
          type: string
          description: Human-friendly label chosen by the client or generated by the server.
          example: Work MacBook Touch ID
        created_at:
          type: string
          format: date-time
          example: '2026-04-05T13:40:00Z'
        last_used_at:
          type: [string, 'null']
          format: date-time
          example: '2026-04-05T14:10:00Z'
        transports:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyTransport'
          example: [internal]
        authenticator_attachment:
          type: [string, 'null']
          enum: [platform, cross-platform, null]
          example: platform
        aaguid:
          type: [string, 'null']
          format: uuid
          example: '00000000-0000-0000-0000-000000000000'
        user_verified:
          type: boolean
          example: true
        backup_eligible:
          type: boolean
          example: true
        backup_state:
          type: boolean
          example: false

    PasskeyListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyCredentialSummary'

    PasskeyRelyingParty:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          example: app.secpal.dev
        name:
          type: string
          example: SecPal

    PasskeyUserEntity:
      type: object
      required:
        - id
        - name
        - display_name
      properties:
        id:
          type: string
          description: Base64url-encoded stable user handle.
          example: 'dXNlcl81NTBlODQwMC1lMjliLTQxZDQtYTcxNi00NDY2NTU0NDAwOTk'
        name:
          type: string
          example: 'john.doe@secpal.app'
        display_name:
          type: string
          example: John Doe

    PasskeyCredentialParameter:
      type: object
      required:
        - type
        - alg
      properties:
        type:
          type: string
          enum: [public-key]
          example: public-key
        alg:
          type: integer
          description: COSE algorithm identifier.
          example: -7

    PasskeyAuthenticatorSelection:
      type: object
      properties:
        authenticator_attachment:
          type: [string, 'null']
          enum: [platform, cross-platform, null]
          example: platform
        resident_key:
          type: string
          enum: [discouraged, preferred, required]
          description: >-
            Passkey enrollment defaults to `preferred` for broader browser and
            authenticator compatibility. The sign-in flow can request an
            `allow_credentials` list for email-scoped fallbacks when
            discoverable credentials are unavailable.
          example: preferred
        require_resident_key:
          type: boolean
          deprecated: true
          description: >-
            Deprecated compatibility flag. Omitted unless the server requires a
            discoverable credential for enrollment.
          example: false
        user_verification:
          type: string
          enum: [discouraged, preferred, required]
          example: preferred

    PasskeyRegistrationPublicKeyOptions:
      type: object
      required:
        - challenge
        - rp
        - user
        - pub_key_cred_params
        - timeout
        - exclude_credentials
        - authenticator_selection
        - attestation
      properties:
        challenge:
          type: string
          description: Base64url-encoded WebAuthn challenge.
          example: 'W8K3x0xLxw0Wl0rM9v4Z1QmZ2J7N4R8s'
        rp:
          $ref: '#/components/schemas/PasskeyRelyingParty'
        user:
          $ref: '#/components/schemas/PasskeyUserEntity'
        pub_key_cred_params:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/PasskeyCredentialParameter'
        timeout:
          type: integer
          minimum: 1
          example: 60000
        exclude_credentials:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyCredentialDescriptor'
        authenticator_selection:
          $ref: '#/components/schemas/PasskeyAuthenticatorSelection'
        attestation:
          type: string
          enum: [none, indirect, direct, enterprise]
          example: none

    PasskeyRegistrationChallengeResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - challenge_id
            - public_key
            - expires_at
          properties:
            challenge_id:
              type: string
              format: uuid
              example: '7ab94f58-6262-4a2d-b6e7-3163bbf65111'
            public_key:
              $ref: '#/components/schemas/PasskeyRegistrationPublicKeyOptions'
            expires_at:
              type: string
              format: date-time
              example: '2026-04-05T13:45:00Z'

    PasskeyAttestationResponse:
      type: object
      required:
        - client_data_json
        - attestation_object
      properties:
        client_data_json:
          type: string
          description: Base64url-encoded clientDataJSON.
          example: 'eyJ0eXBlIjoid2ViYXV0aG4uY3JlYXRlIiwiY2hhbGxlbmdlIjoiVzhrM3gweEx4dzBXbDByTTl2NFoxUW1aMko3TjRSOHMiLCJvcmlnaW4iOiJodHRwczovL2FwcC5zZWNwYWwuZGV2In0'
        attestation_object:
          type: string
          description: Base64url-encoded attestationObject.
          example: 'o2NmbXRkbm9uZWhhdXRoRGF0YVhYQk1vY2tBdHRlc3RhdGlvbk9iamVjdA'
        transports:
          type: array
          items:
            $ref: '#/components/schemas/PasskeyTransport'
          example: [internal]

    PasskeyCredentialWrapperBase:
      type: object
      description: Common WebAuthn credential wrapper fields shared by registration and authentication verification requests.
      required:
        - id
        - raw_id
        - type
      properties:
        id:
          type: string
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        raw_id:
          type: string
          example: 'Ax9Yc0ZLQmN4V1V1S1cwVnI1Q0FyRkE'
        type:
          type: string
          enum: [public-key]
          example: public-key
        client_extension_results:
          type: object
          additionalProperties: true

    PasskeyRegistrationCredential:
      allOf:
        - $ref: '#/components/schemas/PasskeyCredentialWrapperBase'
        - type: object
          required:
            - response
          properties:
            response:
              $ref: '#/components/schemas/PasskeyAttestationResponse'

    PasskeyAuthenticationCredential:
      allOf:
        - $ref: '#/components/schemas/PasskeyCredentialWrapperBase'
        - type: object
          required:
            - response
          properties:
            response:
              $ref: '#/components/schemas/PasskeyAssertionResponse'

    PasskeyRegistrationVerificationRequest:
      type: object
      required:
        - credential
      properties:
        credential:
          $ref: '#/components/schemas/PasskeyRegistrationCredential'
        label:
          type: [string, 'null']
          maxLength: 100
          description: Optional caller-supplied label for the enrolled passkey.
          example: Work MacBook Touch ID

    PasskeyRegistrationVerificationResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - credential
            - total_passkeys
          properties:
            credential:
              $ref: '#/components/schemas/PasskeyCredentialSummary'
            total_passkeys:
              type: integer
              minimum: 1
              example: 2

    PasskeyAuthenticationPublicKeyOptions:
      type: object
      required:
        - challenge
        - rp_id
        - timeout
        - user_verification
      properties:
        challenge:
          type: string
          description: Base64url-encoded WebAuthn challenge.
          example: 'P2v4R8sW8K3x0xLxw0Wl0rM9v4Z1QmZ2'
        rp_id:
          type: string
          example: app.secpal.dev
        timeout:
          type: integer
          minimum: 1
          example: 60000
        allow_credentials:
          type: array
          description: >-
            Optional allow-list of credentials. The array may be omitted for
            discoverable passkey flows.
          items:
            $ref: '#/components/schemas/PasskeyCredentialDescriptor'
        user_verification:
          type: string
          enum: [discouraged, preferred, required]
          example: preferred

    PasskeyAuthenticationChallengeResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - challenge_id
            - public_key
            - expires_at
          properties:
            challenge_id:
              type: string
              format: uuid
              example: '9a9e15bc-0328-4edf-a41d-4dd09a40c621'
            public_key:
              $ref: '#/components/schemas/PasskeyAuthenticationPublicKeyOptions'
            mediation:
              type: string
              enum: [conditional, optional, required, silent]
              example: conditional
            expires_at:
              type: string
              format: date-time
              example: '2026-04-05T13:45:00Z'

    PasskeyAuthenticationChallengeRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: >-
            Optional email address used to scope the challenge to that
            account's enrolled passkeys when the browser cannot complete a
            discoverable passkey flow.
          example: user@secpal.dev

    PasskeyTokenAuthenticationChallengeRequest:
      allOf:
        - $ref: '#/components/schemas/PasskeyAuthenticationChallengeRequest'
        - type: object
          required:
            - device_name
          properties:
            device_name:
              type: string
              description: Friendly client identifier for the personal access token created after successful passkey verification.
              example: android-phone

    PasskeyAssertionResponse:
      type: object
      required:
        - client_data_json
        - authenticator_data
        - signature
      properties:
        client_data_json:
          type: string
          description: Base64url-encoded clientDataJSON.
          example: 'eyJ0eXBlIjoid2ViYXV0aG4uZ2V0IiwiY2hhbGxlbmdlIjoiUDJ2NFI4c1c4SzN4MHhMeHcwV2wwck05djRaMVFtWjIiLCJvcmlnaW4iOiJodHRwczovL2FwcC5zZWNwYWwuZGV2In0'
        authenticator_data:
          type: string
          description: Base64url-encoded authenticatorData.
          example: 'SZYN5YgOjGh0NBcP1b4K2Xc1d5SxJp7bL9M0qA'
        signature:
          type: string
          description: Base64url-encoded assertion signature.
          example: 'MEYCIQDjWQ8FZ8E6pK1f7Y5k8dL6U7R9T0pQ1wX2yZ3a4b5c6gIhAJ2rN6h4j8k2l5m7n9p1q3r5s7u9w1x3y5z7A9B1C3'
        user_handle:
          type: [string, 'null']
          description: Base64url-encoded user handle when returned by the authenticator.
          example: 'dXNlcl81NTBlODQwMC1lMjliLTQxZDQtYTcxNi00NDY2NTU0NDAwOTk'

    PasskeyAuthenticationVerificationRequest:
      type: object
      required:
        - credential
      properties:
        credential:
          $ref: '#/components/schemas/PasskeyAuthenticationCredential'

    PasskeyAuthenticationResult:
      type: object
      description: Authentication metadata returned after successful passkey verification.
      required:
        - method
        - mfa_completed
      properties:
        method:
          type: string
          enum: [passkey]
          example: passkey
        mfa_completed:
          type: boolean
          description: >-
            Passkey verification satisfies the phishing-resistant sign-in path
            directly, so no additional phase-1 MFA challenge is returned from
            these endpoints.
          example: true

    PasskeySessionAuthenticationResult:
      allOf:
        - $ref: '#/components/schemas/PasskeyAuthenticationResult'
        - type: object
          required:
            - mode
          properties:
            mode:
              type: string
              enum: [session]
              example: session

    PasskeyTokenAuthenticationResult:
      allOf:
        - $ref: '#/components/schemas/PasskeyAuthenticationResult'
        - type: object
          required:
            - mode
          properties:
            mode:
              type: string
              enum: [token]
              example: token

    PasskeySessionLoginResponse:
      type: object
      required:
        - user
        - authentication
      properties:
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        authentication:
          $ref: '#/components/schemas/PasskeySessionAuthenticationResult'

    PasskeyTokenLoginResponse:
      type: object
      required:
        - token
        - user
        - authentication
      properties:
        token:
          type: string
          description: Bearer token for the completed token-based passkey login.
          example: '1|abcdefghijklmnopqrstuvwxyz1234567890'
        user:
          $ref: '#/components/schemas/AuthenticatedUser'
        authentication:
          $ref: '#/components/schemas/PasskeyTokenAuthenticationResult'

    PasskeyDeleteResponse:
      type: object
      required:
        - message
        - data
      properties:
        message:
          type: string
          example: Passkey deleted successfully.
        data:
          type: object
          required:
            - remaining_passkeys
          properties:
            remaining_passkeys:
              type: integer
              minimum: 0
              example: 1

    LogoutMessageResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: 'Logged out successfully'

    UpdateLanguagePreferenceRequest:
      type: object
      required:
        - locale
      properties:
        locale:
          type: ['null', string]
          description: Preferred locale for the authenticated user, or `null` to clear the preference.
          example: 'de'

    UpdateLanguagePreferenceResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - preferred_locale
          properties:
            preferred_locale:
              type: ['null', string]
              example: 'de'

    MyOrganizationalScope:
      type: object
      required:
        - id
        - user_id
        - organizational_unit_id
        - access_level
        - include_descendants
        - min_viewable_rank
        - max_viewable_rank
        - min_assignable_rank
        - max_assignable_rank
        - allow_self_access
        - created_at
        - updated_at
        - organizational_unit
      properties:
        id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 42
        organizational_unit_id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440010'
        access_level:
          type: string
          example: 'admin'
        include_descendants:
          type: boolean
          example: true
        min_viewable_rank:
          type: [integer, 'null']
          example: 1
        max_viewable_rank:
          type: [integer, 'null']
          example: 10
        min_assignable_rank:
          type: [integer, 'null']
          example: 1
        max_assignable_rank:
          type: [integer, 'null']
          example: 5
        allow_self_access:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-03-27T10:15:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-03-27T10:15:00Z'
        organizational_unit:
          type: object
          required:
            - id
            - name
            - type
          properties:
            id:
              type: string
              format: uuid
              example: '550e8400-e29b-41d4-a716-446655440010'
            name:
              type: string
              example: 'Operations'
            type:
              type: string
              example: 'department'

    EmployeeOrganizationalUnitSummary:
      type: object
      description: Minimal embedded organizational unit information for an employee
      required:
        - id
        - type
        - name
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440200'
        type:
          type: string
          example: 'department'
        name:
          type: string
          example: 'Operations'
        custom_type_name:
          type: [string, 'null']
        description:
          type: [string, 'null']
        metadata:
          type: [object, 'null']
        parent:
          type: ['null', object]
          additionalProperties: true
        children:
          type: array
          items:
            type: object
            additionalProperties: true
        ancestors:
          type: array
          items:
            type: object
            additionalProperties: true
        descendants:
          type: array
          items:
            type: object
            additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EmployeeAddressHistoryEntry:
      type: object
      required:
        - from
        - to
        - street
        - city
        - postal_code
        - country
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        street:
          type: string
          maxLength: 255
        city:
          type: string
          maxLength: 255
        postal_code:
          type: string
          maxLength: 20
        country:
          type: string
          minLength: 2
          maxLength: 2

    EmployeeStatus:
      type: string
      description: |
        Official employee lifecycle status.

        - `applicant`: candidate record; onboarding invitation is not available yet.
        - `pre_contract`: contract preparation phase; onboarding invitation and onboarding portal access are allowed.
        - `active`: actively employed.
        - `on_leave`: temporarily absent while still employed.
        - `terminated`: employment ended.
      enum: [applicant, pre_contract, active, on_leave, terminated]

    EmployeeInvitableStatus:
      type: string
      description: Employee status that may receive an onboarding invitation.
      enum: [pre_contract]

    EmployeeCreateRequest:
      type: object
      required:
        - first_name
        - last_name
        - date_of_birth
        - email
        - status
        - position
        - contract_start_date
        - contract_type
        - organizational_unit_id
      properties:
        first_name:
          type: string
          maxLength: 255
        last_name:
          type: string
          maxLength: 255
        date_of_birth:
          type: string
          format: date
        email:
          type: string
          format: email
        phone:
          type: [string, 'null']
          maxLength: 255
        photo_path:
          type: [string, 'null']
          maxLength: 255
        bwr_id:
          type: [string, 'null']
          pattern: '^[0-9]{7}$'
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
          maxLength: 1000
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          maxLength: 255
        previous_names:
          type: [array, 'null']
          items:
            type: string
            maxLength: 255
        birth_city:
          type: [string, 'null']
          maxLength: 255
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        birth_state:
          type: [string, 'null']
          maxLength: 100
        nationalities:
          type: [array, 'null']
          items:
            type: string
            minLength: 2
            maxLength: 2
            pattern: '^[A-Z]{2}$'
        address_street:
          type: [string, 'null']
          maxLength: 255
        address_house_number:
          type: [string, 'null']
          maxLength: 10
        address_postal_code:
          type: [string, 'null']
          maxLength: 20
        address_city:
          type: [string, 'null']
          maxLength: 255
        address_supplement:
          type: [string, 'null']
          maxLength: 255
        address_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        address_state:
          type: [string, 'null']
          maxLength: 100
        address_history:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeAddressHistoryEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
            maxLength: 100
        id_document_type:
          type: [string, 'null']
          enum: [passport, id_card, residence_permit]
        id_document_number:
          type: [string, 'null']
          maxLength: 255
        id_document_expiry:
          type: [string, 'null']
          format: date
        employment_end_date:
          type: [string, 'null']
          format: date
        retention_period_end:
          type: [string, 'null']
          format: date
        tax_id:
          type: [string, 'null']
          maxLength: 255
        social_security_number:
          type: [string, 'null']
          maxLength: 255
        status:
          $ref: '#/components/schemas/EmployeeStatus'
        position:
          type: string
          maxLength: 255
          description: Free-text job title or position.
        management_level:
          type: integer
          minimum: 0
          maximum: 255
          description: Optional leadership rank. Omit or use `0` for non-management employees; `1-255` represent leadership ranks.
        hire_date:
          type: [string, 'null']
          format: date
        contract_start_date:
          type: string
          format: date
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        send_invitation:
          type: boolean
          default: false
          description: If true, sends the onboarding invitation immediately after employee creation, subject to server-side validation rules for the employee's status.
        weekly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 60
        monthly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 300
        hourly_rate:
          type: [number, 'null']
          format: float
          minimum: 0
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
          maxLength: 255
        health_insurance_number:
          type: [string, 'null']
          maxLength: 255
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
          maxLength: 255
        sachkunde_ihk_number:
          type: [string, 'null']
          maxLength: 50
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
          maxLength: 255
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
          maxLength: 255
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        organizational_unit_id:
          type: string
          format: uuid

    EmployeeUpdateRequest:
      type: object
      description: Partial employee update request. All properties are optional.
      properties:
        employee_number:
          type: [string, 'null']
          maxLength: 50
        first_name:
          type: [string, 'null']
          maxLength: 255
        last_name:
          type: [string, 'null']
          maxLength: 255
        email:
          type: [string, 'null']
          format: email
          maxLength: 255
        phone:
          type: [string, 'null']
          maxLength: 255
        date_of_birth:
          type: [string, 'null']
          format: date
        photo_path:
          type: [string, 'null']
          maxLength: 255
        bwr_id:
          type: [string, 'null']
          maxLength: 255
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          maxLength: 255
        previous_names:
          type: [array, 'null']
          items:
            type: string
            maxLength: 255
        birth_city:
          type: [string, 'null']
          maxLength: 255
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        birth_state:
          type: [string, 'null']
          maxLength: 100
        nationalities:
          type: [array, 'null']
          items:
            type: string
            minLength: 2
            maxLength: 2
            pattern: '^[A-Z]{2}$'
        address_street:
          type: [string, 'null']
          maxLength: 255
        address_house_number:
          type: [string, 'null']
          maxLength: 10
        address_postal_code:
          type: [string, 'null']
          maxLength: 20
        address_city:
          type: [string, 'null']
          maxLength: 255
        address_supplement:
          type: [string, 'null']
          maxLength: 255
        address_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        address_state:
          type: [string, 'null']
          maxLength: 100
        address_history:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeAddressHistoryEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
            maxLength: 100
        id_document_type:
          type: [string, 'null']
          enum: [passport, id_card, residence_permit]
        id_document_number:
          type: [string, 'null']
          maxLength: 255
        id_document_expiry:
          type: [string, 'null']
          format: date
        employment_end_date:
          type: [string, 'null']
          format: date
        retention_period_end:
          type: [string, 'null']
          format: date
        tax_id:
          type: [string, 'null']
          maxLength: 255
        social_security_number:
          type: [string, 'null']
          maxLength: 255
        status:
          $ref: '#/components/schemas/EmployeeStatus'
        position:
          type: [string, 'null']
          maxLength: 255
          description: Free-text job title or position.
        management_level:
          type: integer
          minimum: 0
          maximum: 255
          description: Optional leadership rank update. Use `0` for non-management employees; `1-255` represent leadership ranks.
        hire_date:
          type: [string, 'null']
          format: date
        contract_start_date:
          type: [string, 'null']
          format: date
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        weekly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 60
        monthly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 300
        hourly_rate:
          type: [number, 'null']
          format: float
          minimum: 0
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
          maxLength: 255
        health_insurance_number:
          type: [string, 'null']
          maxLength: 255
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
          maxLength: 255
        sachkunde_ihk_number:
          type: [string, 'null']
          maxLength: 50
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
          maxLength: 255
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
          maxLength: 255
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        organizational_unit_id:
          type: [string, 'null']
          format: uuid

    EmployeeResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/Employee'

    EmployeeOnboardingInvitation:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [not_requested, sent, created_not_sent, failed]
        available:
          type: boolean
          description: Whether an onboarding invitation may currently be requested for this employee.
          example: false
        eligible_statuses:
          type: array
          description: Employee statuses that are allowed to receive onboarding invitations.
          items:
            $ref: '#/components/schemas/EmployeeInvitableStatus'
          example: [pre_contract]
        rule_message:
          type: [string, 'null']
          description: Human-readable explanation of the onboarding invitation rule for the current employee status.
          example: Onboarding invitations are only available while the employee is in pre_contract status.
        requested_at:
          type: [string, 'null']
          format: date-time
        token_created_at:
          type: [string, 'null']
          format: date-time
        mail_sent_at:
          type: [string, 'null']
          format: date-time
        mail_failed_at:
          type: [string, 'null']
          format: date-time
        failure_reason:
          type: [string, 'null']

    EmployeeCollectionResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employee'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    Employee:
      type: object
      description: Employee entity with decrypted personal data
      required:
        - id
        - tenant_id
        - employee_number
        - first_name
        - last_name
        - full_name
        - email
        - status
        - contract_type
        - user_account_active
        - onboarding_completed
        - onboarding_workflow
        - onboarding_invitation
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        tenant_id:
          type: string
          example: 'tenant-12345-key'
        employee_number:
          type: string
          example: 'EMP-2025-0042'
        first_name:
          type: string
          description: Decrypted
          example: 'Max'
        last_name:
          type: string
          description: Decrypted
          example: 'Mustermann'
        full_name:
          type: string
          example: 'Max Mustermann'
        date_of_birth:
          type: [string, 'null']
          format: date
          description: Decrypted
          example: '1990-05-15'
        email:
          type: string
          format: email
          example: 'max.mustermann@secpal.app'
        phone:
          type: [string, 'null']
          example: '+49 30 12345678'
        photo_path:
          type: [string, 'null']
          example: 'employees/photos/550e8400.jpg'
        bwr_id:
          type: [string, 'null']
          example: '1234567'
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          description: Decrypted
        previous_names:
          type: [array, 'null']
          items:
            type: string
        birth_city:
          type: [string, 'null']
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
        birth_state:
          type: [string, 'null']
        nationalities:
          type: [array, 'null']
          items:
            type: string
        address_street:
          type: [string, 'null']
          description: Decrypted
        address_house_number:
          type: [string, 'null']
          description: Decrypted
        address_postal_code:
          type: [string, 'null']
          description: Decrypted
        address_city:
          type: [string, 'null']
          description: Decrypted
        address_supplement:
          type: [string, 'null']
          description: Decrypted
        address_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
        address_state:
          type: [string, 'null']
        structured_address:
          type: [object, 'null']
          additionalProperties: true
        address_history:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeAddressHistoryEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
        tax_id:
          type: [string, 'null']
          description: Decrypted
          example: '12345678901'
        social_security_number:
          type: [string, 'null']
          description: Decrypted
          example: '12 345678 A 123'
        status:
          allOf:
            - $ref: '#/components/schemas/EmployeeStatus'
          example: 'active'
        hire_date:
          type: [string, 'null']
          format: date
          example: '2025-01-15'
        contract_start_date:
          type: [string, 'null']
          format: date
          example: '2025-02-01'
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        position:
          type: [string, 'null']
          example: 'Security Guard'
        management_level:
          type: integer
          minimum: 0
          maximum: 255
          example: 0
        weekly_hours:
          type: [number, 'null']
          format: float
        monthly_hours:
          type: [number, 'null']
          format: float
        hourly_rate:
          type: [number, 'null']
          format: float
          description: Decrypted
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
        health_insurance_number:
          type: [string, 'null']
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
        sachkunde_ihk_number:
          type: [string, 'null']
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        user_id:
          type: [string, 'null']
          format: uuid
        user_account_active:
          type: boolean
        user_account_activated_at:
          type: [string, 'null']
          format: date-time
        user_account_deactivated_at:
          type: [string, 'null']
          format: date-time
        onboarding_completed:
          type: boolean
          description: Whether all required onboarding dossier artifacts have been completed. This is not the same as activation readiness.
        onboarding_steps:
          type: [object, 'null']
          description: Client-facing onboarding progress payload stored on the employee record.
        onboarding_started_at:
          type: [string, 'null']
          format: date-time
        onboarding_completed_at:
          type: [string, 'null']
          format: date-time
        onboarding_workflow:
          $ref: '#/components/schemas/OnboardingWorkflow'
          description: >-
            Explicit workflow state block. `onboarding_completed` signals dossier completeness;
            `onboarding_workflow.status = ready_for_activation` signals activation readiness.
        onboarding_invitation:
          $ref: '#/components/schemas/EmployeeOnboardingInvitation'
        organizational_unit_id:
          type: [string, 'null']
          format: uuid
        user:
          anyOf:
            - $ref: '#/components/schemas/EmployeeUserSummary'
            - type: 'null'
        organizational_unit:
          anyOf:
            - $ref: '#/components/schemas/EmployeeOrganizationalUnitSummary'
            - type: 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, 'null']
          format: date-time

    # =============================================================================
    # Onboarding Runtime Surface Schemas (Issue #180)
    # =============================================================================

    OnboardingWorkflowStatus:
      type: string
      description: |
        Canonical onboarding workflow state for a pre-contract employee.

        - `invited`: invitation sent, account not yet initialized.
        - `account_initialized`: employee completed account bootstrap.
        - `in_progress`: employee is actively filling out the dossier.
        - `submitted_for_review`: dossier submitted and awaiting HR review.
        - `changes_requested`: HR requested changes before the dossier can be approved.
        - `contract_confirmed`: HR confirmed the contract; the employee is cleared for activation.
        - `ready_for_activation`: all prerequisites met; awaiting final activation by HR or system.
        - `active`: employee is fully active.
      enum:
        - invited
        - account_initialized
        - in_progress
        - submitted_for_review
        - changes_requested
        - contract_confirmed
        - ready_for_activation
        - active

    OnboardingWorkflow:
      type: object
      description: >-
        Aggregated onboarding workflow state block embedded in the employee resource.
        `onboarding_completed` signals dossier completeness; `status = ready_for_activation`
        signals activation readiness — the two concepts are intentionally separate.
      required:
        - status
      properties:
        status:
          anyOf:
            - $ref: '#/components/schemas/OnboardingWorkflowStatus'
            - type: 'null'
          example: invited

    OnboardingTokenValidationResponse:
      type: object
      description: Response returned when a valid onboarding token is presented.
      required:
        - data
      properties:
        data:
          type: object
          required:
            - first_name
            - last_name
            - email
          properties:
            first_name:
              type: string
              example: Max
            last_name:
              type: string
              example: Mustermann
            email:
              type: string
              format: email
              example: 'max.mustermann@secpal.dev'

    OnboardingCompleteRequest:
      type: object
      description: Public onboarding completion payload accepted by the runtime endpoint.
      required:
        - token
        - email
        - password
        - first_name
        - last_name
      properties:
        token:
          type: string
          description: One-time onboarding token from the invitation email.
        email:
          type: string
          format: email
          description: Email address from the invitation link.
        password:
          type: string
          format: password
          description: Initial account password.
        first_name:
          type: string
          maxLength: 255
        last_name:
          type: string
          maxLength: 255

    OnboardingStepsResponse:
      type: object
      description: Current onboarding progress block returned for the authenticated pre-contract employee.
      required:
        - data
      properties:
        data:
          type: object
          required:
            - employee_id
            - status
            - onboarding_completed
          properties:
            employee_id:
              type: string
              format: uuid
              example: '550e8400-e29b-41d4-a716-446655440000'
            status:
              $ref: '#/components/schemas/EmployeeStatus'
            onboarding_steps:
              type: [object, 'null']
              additionalProperties: true
              description: Runtime onboarding steps payload stored on the employee record.
            onboarding_started_at:
              type: [string, 'null']
              format: date-time
              example: '2025-03-08T10:00:00Z'
            onboarding_completed:
              type: boolean
              example: false
            onboarding_completed_at:
              type: [string, 'null']
              format: date-time
              example: null

    OnboardingFormTemplate:
      type: object
      description: >-
        Form template definition used to render an onboarding dossier section.
        `form_schema` is a JSON Schema object that clients use to render the dynamic form.
      required:
        - id
        - tenant_id
        - name
        - form_schema
        - is_required
        - is_system_template
        - sort_order
        - can_be_deleted
        - can_be_edited
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: 'aab14c00-e29b-41d4-a716-446655440001'
        tenant_id:
          type: [integer, 'null']
          example: 1
        name:
          type: string
          example: Personal Data
        description:
          type: [string, 'null']
          example: Basic personal information required for onboarding.
        form_schema:
          type: object
          description: JSON Schema definition used to render the dynamic form.
          additionalProperties: true
        is_required:
          type: boolean
          example: true
        is_system_template:
          type: boolean
          description: If true, the template is managed by the system and cannot be deleted.
          example: true
        sort_order:
          type: integer
          example: 1
        can_be_deleted:
          type: boolean
          example: false
        can_be_edited:
          type: boolean
          example: false
        created_at:
          type: [string, 'null']
          format: date-time
          example: '2025-03-08T10:00:00Z'
        updated_at:
          type: [string, 'null']
          format: date-time
          example: '2025-03-08T10:00:00Z'

    OnboardingFormTemplateCollectionResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingFormTemplate'

    OnboardingSubmissionStatus:
      type: string
      description: >-
        Review lifecycle status of a single form submission within the onboarding dossier.

        - `draft`: employee is still editing.
        - `submitted`: submitted for HR review.
        - `approved`: HR approved this submission.
        - `rejected`: HR requested changes; employee must revise and resubmit.
      enum: [draft, submitted, approved, rejected]

    OnboardingFormSubmissionWriteStatus:
      type: string
      description: Employee-writable onboarding form submission state accepted by `POST /onboarding/submissions` and `PATCH /onboarding/submissions/{submission}`.
      enum:
        - draft
        - submitted

    OnboardingFormSubmission:
      type: object
      description: A single form submission within the onboarding dossier.
      required:
        - id
        - employee_id
        - form_template_id
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: 'ccf25d00-e29b-41d4-a716-446655440002'
        employee_id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        form_template_id:
          type: string
          format: uuid
          example: 'aab14c00-e29b-41d4-a716-446655440001'
        form_data:
          type: object
          description: Employee-submitted form data conforming to the template's `form_schema`.
          additionalProperties: true
        status:
          $ref: '#/components/schemas/OnboardingSubmissionStatus'
        submitted_at:
          type: [string, 'null']
          format: date-time
          example: '2025-03-08T10:00:00Z'
        reviewed_by:
          type: [string, 'null']
          format: uuid
          description: UUID of the HR reviewer who last acted on this submission.
          example: null
        reviewed_at:
          type: [string, 'null']
          format: date-time
          example: null
        review_notes:
          type: [string, 'null']
          description: Free-text notes left by the HR reviewer.
          example: null
        form_template:
          anyOf:
            - $ref: '#/components/schemas/OnboardingFormTemplate'
            - type: 'null'
          description: Optionally embedded template resource.
        reviewer:
          anyOf:
            - $ref: '#/components/schemas/EmployeeUserSummary'
            - type: 'null'
          description: Optionally embedded reviewer user summary.
        created_at:
          type: string
          format: date-time
          example: '2025-03-08T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2025-03-08T10:00:00Z'

    OnboardingSubmissionCollection:
      type: object
      description: Collection of onboarding form submissions for the authenticated employee.
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingFormSubmission'

    OnboardingSubmissionUpsertRequest:
      type: object
      description: >-
        Runtime submission payload accepted by `POST /onboarding/submissions`.
        The endpoint creates a new submission or updates an existing draft/rejected submission for the same template.
      required:
        - form_template_id
        - form_data
      properties:
        form_template_id:
          type: string
          format: uuid
          example: 'aab14c00-e29b-41d4-a716-446655440001'
        form_data:
          type: object
          description: Submission data conforming to the template's `form_schema`.
          additionalProperties: true
        status:
          $ref: '#/components/schemas/OnboardingFormSubmissionWriteStatus'

    OnboardingSubmissionPatchRequest:
      type: object
      description: >-
        Runtime payload accepted by `PATCH /onboarding/submissions/{submission}`.
        Allows editing an existing `draft` or `rejected` submission owned by the authenticated
        pre-contract employee.
      properties:
        form_data:
          type: object
          description: Submission data conforming to the template's `form_schema`.
          additionalProperties: true
        status:
          $ref: '#/components/schemas/OnboardingFormSubmissionWriteStatus'
      anyOf:
        - required:
            - form_data
        - required:
            - status

    OnboardingSubmissionRejectRequest:
      type: object
      description: Payload for rejecting a submitted onboarding form.
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 1000
          description: Free-text reason returned to the employee when changes are requested.
          example: 'Please re-upload a clearer scan of your ID document.'

    OnboardingCompletionStatusResponse:
      type: object
      description: Detailed onboarding completion status for the authenticated employee.
      required:
        - data
      properties:
        data:
          type: object
          required:
            - is_completed
            - total_required
            - completed_required
            - missing_templates
          properties:
            is_completed:
              type: boolean
              example: false
            total_required:
              type: integer
              minimum: 0
              example: 3
            completed_required:
              type: integer
              minimum: 0
              example: 1
            missing_templates:
              type: array
              items:
                type: object
                required:
                  - id
                  - name
                  - description
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: [string, 'null']

    OnboardingCompleteResponse:
      type: object
      description: Response returned when the public onboarding completion endpoint succeeds.
      required:
        - message
        - data
      properties:
        message:
          type: string
          example: Onboarding completed successfully. Welcome to SecPal!
        data:
          type: object
          required:
            - user
            - employee
          properties:
            user:
              type: object
              required:
                - id
                - email
                - name
              properties:
                id:
                  type: string
                  format: uuid
                email:
                  type: string
                  format: email
                name:
                  type: string
            employee:
              type: object
              required:
                - id
                - first_name
                - last_name
                - status
              properties:
                id:
                  type: string
                  format: uuid
                first_name:
                  type: string
                last_name:
                  type: string
                status:
                  $ref: '#/components/schemas/EmployeeStatus'

    OnboardingFormTemplateResponse:
      type: object
      description: Single onboarding form template wrapped in a data envelope.
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/OnboardingFormTemplate'

    OnboardingFormSubmissionResponse:
      type: object
      description: Single onboarding form submission wrapped in a data envelope.
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/OnboardingFormSubmission'

    OnboardingSubmissionUploadDocumentType:
      type: string
      description: Supported onboarding dossier attachment type.
      enum:
        - contract
        - id_document
        - banking_details

    UploadOnboardingSubmissionFileRequest:
      type: object
      required:
        - file
        - document_type
      properties:
        file:
          type: string
          format: binary
          description: Binary attachment payload for the onboarding dossier.
        document_type:
          $ref: '#/components/schemas/OnboardingSubmissionUploadDocumentType'

    OnboardingSubmissionFileUpload:
      type: object
      required:
        - id
        - filename
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
          description: Persisted original filename returned after a successful upload.

    OnboardingSubmissionFileUploadResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/OnboardingSubmissionFileUpload'

    OnboardingConfirmationRequest:
      type: object
      properties:
        notes:
          type: [string, 'null']
          maxLength: 1000

    # =============================================================================
    # Android Enrollment & Distribution Schemas (Issue #183)
    # =============================================================================

    AndroidEnrollmentMode:
      type: string
      description: Supported Android enterprise enrollment mode for the generated provisioning session.
      enum:
        - device_owner

    AndroidReleaseChannel:
      type: string
      description: Non-Play Android distribution channel used for update metadata and managed enrollment.
      enum:
        - managed_device
        - direct_apk
        - github_release
        - obtainium

    AndroidEnrollmentSessionStatus:
      type: string
      description: >-
        Lifecycle state of an Android enrollment session.

        - `pending`: bootstrap token is active and has not been exchanged yet.
        - `exchanged`: bootstrap token was consumed and the device received its configuration.
        - `revoked`: an authorized user invalidated the session before exchange.
        - `expired`: the short-lived bootstrap token expired before use.
      enum:
        - pending
        - exchanged
        - revoked
        - expired

    AndroidProvisioningProfile:
      type: object
      description: Managed-device policy flags that the enrolled SecPal Android app should apply after bootstrap exchange.
      required:
        - kiosk_mode_enabled
        - lock_task_enabled
        - allow_phone
        - allow_sms
        - prefer_gesture_navigation
        - allowed_packages
      properties:
        kiosk_mode_enabled:
          type: boolean
          description: Whether dedicated-device kiosk enforcement should be enabled after provisioning.
          example: true
        lock_task_enabled:
          type: boolean
          description: Whether Android lock task should remain active while the device is managed.
          example: true
        allow_phone:
          type: boolean
          description: Whether a compatible phone app may be launched from the managed home screen.
          example: false
        allow_sms:
          type: boolean
          description: Whether a compatible SMS app may be launched from the managed home screen.
          example: false
        prefer_gesture_navigation:
          type: boolean
          description: Whether provisioning should prefer gesture navigation when the device supports it.
          example: true
        allowed_packages:
          type: array
          description: Additional package names allowlisted for launch from the managed home screen.
          items:
            type: string
            pattern: '^[A-Za-z0-9_.]+$'
          uniqueItems: true
          example: ['com.example.approvedapp']

    AndroidEnrollmentSession:
      type: object
      description: Audit-friendly metadata for a short-lived Android enrollment session.
      required:
        - id
        - status
        - enrollment_mode
        - update_channel
        - release_metadata_url
        - provisioning_profile
        - bootstrap_token_expires_at
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: 'd6d5b7c8-56a9-49de-8f1f-7e8d0f5c4d2a'
        device_label:
          type: [string, 'null']
          maxLength: 120
          description: Optional operator-facing label for the target device.
          example: Front desk kiosk
        status:
          $ref: '#/components/schemas/AndroidEnrollmentSessionStatus'
        enrollment_mode:
          $ref: '#/components/schemas/AndroidEnrollmentMode'
        update_channel:
          $ref: '#/components/schemas/AndroidReleaseChannel'
        release_metadata_url:
          type: string
          format: uri
          description: Canonical metadata URL for the configured non-Play release channel.
          example: 'https://apk.secpal.app/android/channels/managed_device/latest.json'
        provisioning_profile:
          $ref: '#/components/schemas/AndroidProvisioningProfile'
        bootstrap_token_expires_at:
          type: string
          format: date-time
          description: Expiry timestamp for the one-time bootstrap token embedded in the private provisioning QR payload.
          example: '2026-04-06T12:15:00Z'
        bootstrap_token_last_eight:
          type: [string, 'null']
          description: Last eight characters of the bootstrap token for audit and support workflows.
          pattern: '^[A-Z0-9]{8}$'
          example: 7K2P9Q4M
        exchanged_at:
          type: [string, 'null']
          format: date-time
          example: null
        revoked_at:
          type: [string, 'null']
          format: date-time
          example: null
        revocation_reason:
          type: [string, 'null']
          maxLength: 1000
          example: null
        notes:
          type: [string, 'null']
          maxLength: 1000
          example: Dedicated tablet for the customer reception desk.
        created_at:
          type: string
          format: date-time
          example: '2026-04-06T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-04-06T12:00:00Z'

    AndroidProvisioningAdminExtras:
      type: object
      description: Minimal admin extras embedded in the provisioning QR payload and exchanged once by the Android app.
      required:
        - bootstrap_token
        - enrollment_session_id
      properties:
        bootstrap_token:
          type: string
          minLength: 32
          maxLength: 255
          description: Short-lived bootstrap token minted for exactly one enrollment session.
          example: BTP_8N6S4T2R0Q9P7M5K3J1H8G6F4D2S0A7C
        enrollment_session_id:
          type: string
          format: uuid
          example: 'd6d5b7c8-56a9-49de-8f1f-7e8d0f5c4d2a'

    AndroidProvisioningQrPayload:
      type: object
      description: Android Enterprise provisioning payload that authorized SecPal users encode as a private QR code.
      required:
        - android.app.extra.PROVISIONING_DEVICE_ADMIN_COMPONENT_NAME
        - android.app.extra.PROVISIONING_DEVICE_ADMIN_PACKAGE_DOWNLOAD_LOCATION
        - android.app.extra.PROVISIONING_DEVICE_ADMIN_SIGNATURE_CHECKSUM
        - android.app.extra.PROVISIONING_ADMIN_EXTRAS_BUNDLE
      properties:
        android.app.extra.PROVISIONING_DEVICE_ADMIN_COMPONENT_NAME:
          type: string
          example: 'app.secpal/.SecPalDeviceAdminReceiver'
        android.app.extra.PROVISIONING_DEVICE_ADMIN_PACKAGE_DOWNLOAD_LOCATION:
          type: string
          format: uri
          example: 'https://apk.secpal.app/android/channels/managed_device/app.secpal-latest.apk'
        android.app.extra.PROVISIONING_DEVICE_ADMIN_SIGNATURE_CHECKSUM:
          type: string
          description: Base64-encoded SHA-256 checksum of the signing certificate required by Android provisioning.
          example: 'm2N7N0F4Q2ZwS0V0bDhlWlU4a1pMRTNwckE3WlJtWm9Kc2J0S2x2dz0='
        android.app.extra.PROVISIONING_ADMIN_EXTRAS_BUNDLE:
          $ref: '#/components/schemas/AndroidProvisioningAdminExtras'

    AndroidEnrollmentSessionCreateRequest:
      type: object
      description: Request body for minting a short-lived Android enrollment session and QR payload.
      required:
        - update_channel
        - provisioning_profile
      properties:
        device_label:
          type: string
          maxLength: 120
          example: Front desk kiosk
        enrollment_mode:
          allOf:
            - $ref: '#/components/schemas/AndroidEnrollmentMode'
          default: device_owner
        update_channel:
          $ref: '#/components/schemas/AndroidReleaseChannel'
        expires_in_minutes:
          type: integer
          minimum: 5
          maximum: 60
          default: 15
          description: Lifetime of the bootstrap token before it becomes unusable.
        provisioning_profile:
          $ref: '#/components/schemas/AndroidProvisioningProfile'
        notes:
          type: string
          maxLength: 1000
          example: Provision during customer-site tablet handoff.

    AndroidEnrollmentSessionResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/AndroidEnrollmentSession'

    AndroidEnrollmentSessionCreateResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - session
            - provisioning_qr_payload
          properties:
            session:
              $ref: '#/components/schemas/AndroidEnrollmentSession'
            provisioning_qr_payload:
              $ref: '#/components/schemas/AndroidProvisioningQrPayload'

    AndroidEnrollmentSessionCollectionResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AndroidEnrollmentSession'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    AndroidEnrollmentSessionRevokeRequest:
      type: object
      required:
        - reason
      properties:
        reason:
          type: string
          maxLength: 1000
          description: Human-readable audit reason for invalidating the pending enrollment session.
          example: Device handoff canceled before setup completed.

    AndroidBootstrapExchangeRequest:
      type: object
      description: Payload exchanged by the Android app after Device Owner provisioning hands control to SecPal.
      required:
        - bootstrap_token
        - package_name
      properties:
        bootstrap_token:
          type: string
          minLength: 32
          maxLength: 255
          description: Short-lived bootstrap token previously embedded in the private provisioning QR code.
          example: BTP_8N6S4T2R0Q9P7M5K3J1H8G6F4D2S0A7C
        package_name:
          type: string
          enum: [app.secpal]
          description: Package name reported by the bootstrapping Android app.
        package_version_name:
          type: [string, 'null']
          maxLength: 50
          example: 1.4.0
        package_version_code:
          type: [integer, 'null']
          minimum: 1
          example: 10400
        device_name:
          type: [string, 'null']
          maxLength: 120
          example: SM-G556B reception tablet
        device:
          type: [object, 'null']
          additionalProperties: false
          properties:
            manufacturer:
              type: string
              maxLength: 120
              example: Samsung
            model:
              type: string
              maxLength: 120
              example: SM-G556B
            android_version:
              type: string
              maxLength: 30
              example: '16'

    AndroidBootstrapExchangeResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - enrollment_session_id
            - tenant_id
            - tenant_name
            - api_base_url
            - update_channel
            - release_metadata_url
            - provisioning_profile
          properties:
            enrollment_session_id:
              type: string
              format: uuid
              example: 'd6d5b7c8-56a9-49de-8f1f-7e8d0f5c4d2a'
            tenant_id:
              type: integer
              example: 1
            tenant_name:
              type: string
              example: SecPal Demo Tenant
            api_base_url:
              type: string
              format: uri
              example: 'https://api.secpal.dev/v1'
            update_channel:
              $ref: '#/components/schemas/AndroidReleaseChannel'
            release_metadata_url:
              type: string
              format: uri
              example: 'https://apk.secpal.app/android/channels/managed_device/latest.json'
            provisioning_profile:
              $ref: '#/components/schemas/AndroidProvisioningProfile'

    AndroidMetadataNotes:
      type: array
      description: Human-readable notes about release readiness and endpoint stability.
      items:
        type: string
      minItems: 1
      example:
        - The URL structure is stable even before the first public Android release ships.
        - Binary storage backing for apk.secpal.app remains an explicit release-time infrastructure decision.

    AndroidStorageBackendStatus:
      type: string
      description: Deployment readiness state for the artifact backing behind the public metadata contract.
      enum:
        - pending_release_decision

    AndroidLatestReleaseMetadata:
      type: object
      description: Stable latest-channel metadata contract for a non-Play Android distribution channel on apk.secpal.app.
      required:
        - channel
        - package_name
        - human_landing_url
        - metadata_url
        - latest_apk_url
        - checksum_url
        - artifact_host
        - release_available
        - storage_backend_status
        - notes
      properties:
        channel:
          $ref: '#/components/schemas/AndroidReleaseChannel'
        package_name:
          type: string
          enum: [app.secpal]
        human_landing_url:
          type: string
          format: uri
          example: 'https://secpal.app/android/'
        metadata_url:
          type: string
          format: uri
          example: 'https://apk.secpal.app/android/channels/managed_device/latest.json'
        latest_apk_url:
          type: string
          format: uri
          example: 'https://apk.secpal.app/android/channels/managed_device/app.secpal-latest.apk'
        checksum_url:
          type: string
          format: uri
          example: 'https://apk.secpal.app/android/channels/managed_device/SHA256SUMS.txt'
        artifact_host:
          type: string
          format: uri
          description: Canonical Android artifact origin base URL including scheme (for example `https://apk.secpal.app`); not just a bare hostname.
          example: 'https://apk.secpal.app'
        release_available:
          type: boolean
          description: Whether a public Android artifact is already published behind the stable endpoint pattern.
          example: false
        storage_backend_status:
          $ref: '#/components/schemas/AndroidStorageBackendStatus'
        notes:
          $ref: '#/components/schemas/AndroidMetadataNotes'

    AndroidVersionedReleaseMetadata:
      type: object
      description: Stable versioned Android release metadata contract on apk.secpal.app.
      required:
        - version
        - package_name
        - human_landing_url
        - metadata_url
        - versioned_apk_url
        - checksum_url
        - artifact_host
        - release_available
        - storage_backend_status
        - notes
      properties:
        version:
          type: string
          maxLength: 50
          example: 1.4.0
        package_name:
          type: string
          enum: [app.secpal]
        human_landing_url:
          type: string
          format: uri
          example: 'https://secpal.app/android/'
        metadata_url:
          type: string
          format: uri
          example: 'https://apk.secpal.app/android/releases/1.4.0/metadata.json'
        versioned_apk_url:
          type: string
          format: uri
          example: 'https://apk.secpal.app/android/releases/1.4.0/app.secpal-1.4.0.apk'
        checksum_url:
          type: string
          format: uri
          example: 'https://apk.secpal.app/android/releases/1.4.0/SHA256SUMS.txt'
        artifact_host:
          type: string
          format: uri
          description: Canonical Android artifact origin base URL including scheme (for example `https://apk.secpal.app`); not just a bare hostname.
          example: 'https://apk.secpal.app'
        release_available:
          type: boolean
          description: Whether a public Android artifact is already published behind the stable endpoint pattern.
          example: false
        storage_backend_status:
          $ref: '#/components/schemas/AndroidStorageBackendStatus'
        notes:
          $ref: '#/components/schemas/AndroidMetadataNotes'

    AndroidLatestReleaseMetadataResponse:
      type: object
      required:
[...]
