# SPDX-FileCopyrightText: 2026 SecPal Contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

openapi: 3.1.0
info:
  title: SecPal API
  description: |
    This is the official API for SecPal, a digital guard book and security operations platform.
    It provides endpoints for managing guards, shifts, reports, and other security-related resources.

    ## Security

    - **Authentication:** Laravel Sanctum with first-party browser sessions and Personal Access Tokens
    - **Rate Limiting:** 100 requests per minute per API key
    - **CORS:** Allowed origins must be configured in application settings
    - **Security Headers:** HSTS, CSP, X-Frame-Options enforced

    ## API Policies

    - All timestamps use ISO 8601 format (UTC)
    - Pagination: offset-based (page/per_page) for most endpoints, cursor-based for large datasets
    - Maximum page size: 100 items
  version: 0.0.1
  contact:
    name: SecPal API Support
    url: https://github.com/SecPal
    email: support@secpal.app
  license:
    name: AGPL-3.0-or-later
    url: https://spdx.org/licenses/AGPL-3.0-or-later.html

servers:
  - url: https://api.secpal.dev/v1
    description: Live API Server

security: []

tags:
  - name: Authentication
    description: Login and logout endpoints for browser-session and Bearer-token clients.
  - name: Monitoring
    description: Service health and operational readiness endpoints.
  - name: Activity Logs
    description: Tamper-evident audit trail operations and verification flows.
  - name: Employees
    description: Employee lifecycle management endpoints.
  - name: Customers
    description: Customer management and related customer-scoped resources.
  - name: Sites
    description: Site management endpoints and site-related nested resources.
  - name: Assignments
    description: Customer, site, and self-service assignment operations.
  - name: Me
    description: Canonical self-service endpoints for the authenticated caller under the `/me` namespace.
  - name: Cost Centers
    description: Site-scoped cost center management endpoints.

components:
  schemas:
    Error:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Resource not found
        code:
          type: string
          description: Machine-readable error code
          example: RESOURCE_NOT_FOUND
        details:
          type: object
          description: Additional error details
          additionalProperties: true

    Activity:
      type: object
      required:
        - id
        - tenant_id
        - log_name
        - description
        - event
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique activity identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        tenant_id:
          type: string
          format: uuid
          description: Tenant UUID this activity belongs to
          example: '660e8400-e29b-41d4-a716-446655440001'
        log_name:
          type: string
          maxLength: 255
          description: Log name categorizing the activity type
          example: 'employee'
        description:
          type: string
          description: Human-readable description of the activity
          example: 'created'
        event:
          type: string
          maxLength: 255
          description: Event type that triggered the activity
          example: 'created'
        causer_type:
          type: string
          nullable: true
          description: Polymorphic type of the user/entity that caused the activity
          example: 'App\Models\User'
        causer_id:
          type: string
          format: uuid
          nullable: true
          description: UUID of the causer
          example: '770e8400-e29b-41d4-a716-446655440002'
        causer:
          type: object
          nullable: true
          description: Full causer object (when loaded)
          additionalProperties: true
        subject_type:
          type: string
          nullable: true
          description: Polymorphic type of the entity the activity is about
          example: 'App\Models\Employee'
        subject_id:
          type: string
          format: uuid
          nullable: true
          description: UUID of the subject
          example: '880e8400-e29b-41d4-a716-446655440003'
        subject:
          type: object
          nullable: true
          description: Full subject object (when loaded)
          additionalProperties: true
        organizational_unit_id:
          type: string
          format: uuid
          nullable: true
          description: Organizational unit this activity belongs to
          example: '990e8400-e29b-41d4-a716-446655440004'
        organizational_unit:
          type: object
          nullable: true
          description: Full organizational unit object (when loaded)
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            parent_id:
              type: string
              format: uuid
              nullable: true
        properties:
          type: object
          nullable: true
          description: Additional properties stored with the activity
          additionalProperties: true
        batch_uuid:
          type: string
          format: uuid
          nullable: true
          description: Batch UUID for grouping related activities
          example: 'aa0e8400-e29b-41d4-a716-446655440005'
        ip_address:
          type: string
          nullable: true
          description: Source IP address captured for the activity
          example: '192.0.2.1'
        user_agent:
          type: string
          nullable: true
          description: User agent captured for the activity
          example: 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36'
        created_at:
          type: string
          format: date-time
          description: Timestamp when the activity was created
          example: '2025-11-16T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the activity was last updated
          example: '2025-11-16T10:00:00Z'
        previous_hash:
          type: string
          nullable: true
          description: Hash of the previous activity in the blockchain
          example: '5f9c4ab08cac7457e9111a6e4e3e3c3e3c3e3c3e3c3e3c3e3c3e3c3e3c3e'
        event_hash:
          type: string
          nullable: true
          description: Hash of this activity event
          example: '6a8d5bc19dbd8568fa222b7f5f4f4d4f4d4f4d4f4d4f4d4f4d4f4d4f4d4f'
        merkle_batch_id:
          type: integer
          format: int64
          nullable: true
          description: Batch identifier for the Merkle tree grouping
          example: 1742203200
        merkle_proof:
          type: array
          nullable: true
          description: Merkle proof for this activity
          items:
            type: string
        merkle_root:
          type: string
          nullable: true
          description: Merkle root this activity is part of
          example: '7b9e6cd2aece9679gb333c8g6g5g5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e'
        ots_submitted_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the OpenTimestamp proof was submitted
          example: '2025-11-16T10:03:00Z'
        ots_confirmed_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when OpenTimestamp verification completed
          example: '2025-11-16T10:05:23Z'
        has_ots_proof:
          type: boolean
          description: Whether an OpenTimestamp proof is currently stored for this activity
          example: true
        is_orphaned_genesis:
          type: boolean
          description: Whether the activity became a genesis entry after retention archived its predecessor
          example: false
        orphaned_reason:
          type: string
          nullable: true
          description: Reason why the activity became an orphaned genesis entry
          example: 'Predecessor archived (retention: authentication, 2026-03-01)'
        orphaned_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the activity was marked as orphaned genesis
          example: '2025-11-16T10:07:00Z'
        verification:
          type: object
          nullable: true
          description: Verification results (only present when include_verification=true)
          properties:
            chain_valid:
              type: boolean
              description: Whether the blockchain chain is valid
              example: true
            chain_link_valid:
              type: boolean
              description: Whether the immediate predecessor link is valid
              example: true
            merkle_valid:
              type: boolean
              description: Whether the Merkle proof is valid
              example: true
            ots_valid:
              type: boolean
              description: Whether the OpenTimestamp verification is valid
              example: true

    HealthStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok, error]
          description: Health status of the API
          example: ok
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
          example: '2025-10-25T19:25:00Z'

    # =============================================================================
    # Employee Management Schemas
    # =============================================================================

    PaginationMeta:
      type: object
      description: Pagination metadata
      required:
        - current_page
        - per_page
        - total
      properties:
        current_page:
          type: integer
          description: Current page number
          example: 1
        per_page:
          type: integer
          description: Items per page
          example: 15
        last_page:
          type: integer
          description: Last page number
          example: 5
        total:
          type: integer
          description: Total number of items
          example: 73
        from:
          type: [integer, 'null']
          description: First item index on current page
          example: 1
        to:
          type: [integer, 'null']
          description: Last item index on current page
          example: 15

    PaginationLinks:
      type: object
      description: Pagination navigation links
      properties:
        first:
          type: [string, 'null']
          format: uri
        last:
          type: [string, 'null']
          format: uri
        prev:
          type: [string, 'null']
          format: uri
        next:
          type: [string, 'null']
          format: uri

    EmployeeUserSummary:
      type: object
      description: Minimal embedded user information for an employee
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440100'
        name:
          type: string
          example: 'Max Mustermann'
        email:
          type: string
          format: email
          example: 'max.mustermann@secpal.app'

    AuthenticatedUser:
      type: object
      description: Authenticated user profile and authorization context returned by auth and self-service endpoints.
      required:
        - id
        - name
        - email
        - roles
        - permissions
        - hasOrganizationalScopes
        - hasCustomerAccess
        - hasSiteAccess
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: 'John Doe'
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        roles:
          type: array
          items:
            type: string
          example: ['Admin']
        permissions:
          type: array
          items:
            type: string
          example: ['employees.read', 'reports.generate']
        hasOrganizationalScopes:
          type: boolean
          example: true
        hasCustomerAccess:
          type: boolean
          description: Whether the authenticated user may access customer collections either globally or through scoped assignments.
          example: true
        hasSiteAccess:
          type: boolean
          description: Whether the authenticated user may access site collections either globally or through scoped assignments.
          example: true

    SessionLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        password:
          type: string
          format: password
          example: 'CorrectHorseBatteryStaple!'

    TokenLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: 'john.doe@secpal.app'
        password:
          type: string
          format: password
          example: 'CorrectHorseBatteryStaple!'
        device_name:
          type: string
          description: Friendly client identifier for the created personal access token.
          example: 'android-phone'

    SessionLoginResponse:
      type: object
      required:
        - user
      properties:
        user:
          $ref: '#/components/schemas/AuthenticatedUser'

    TokenLoginResponse:
      type: object
      required:
        - token
        - user
      properties:
        token:
          type: string
          description: Plain-text Laravel Sanctum personal access token.
          example: '1|abcdefghijklmnopqrstuvwxyz1234567890'
        user:
          $ref: '#/components/schemas/AuthenticatedUser'

    LogoutMessageResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: 'Logged out successfully'

    UpdateLanguagePreferenceRequest:
      type: object
      required:
        - locale
      properties:
        locale:
          type: ['null', string]
          description: Preferred locale for the authenticated user, or `null` to clear the preference.
          example: 'de'

    UpdateLanguagePreferenceResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          required:
            - preferred_locale
          properties:
            preferred_locale:
              type: ['null', string]
              example: 'de'

    MyOrganizationalScope:
      type: object
      required:
        - id
        - user_id
        - organizational_unit_id
        - access_level
        - include_descendants
        - min_viewable_rank
        - max_viewable_rank
        - min_assignable_rank
        - max_assignable_rank
        - allow_self_access
        - created_at
        - updated_at
        - organizational_unit
      properties:
        id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 42
        organizational_unit_id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440010'
        access_level:
          type: string
          example: 'admin'
        include_descendants:
          type: boolean
          example: true
        min_viewable_rank:
          type: [integer, 'null']
          example: 1
        max_viewable_rank:
          type: [integer, 'null']
          example: 10
        min_assignable_rank:
          type: [integer, 'null']
          example: 1
        max_assignable_rank:
          type: [integer, 'null']
          example: 5
        allow_self_access:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-03-27T10:15:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-03-27T10:15:00Z'
        organizational_unit:
          type: object
          required:
            - id
            - name
            - type
          properties:
            id:
              type: string
              format: uuid
              example: '550e8400-e29b-41d4-a716-446655440010'
            name:
              type: string
              example: 'Operations'
            type:
              type: string
              example: 'department'

    EmployeeOrganizationalUnitSummary:
      type: object
      description: Minimal embedded organizational unit information for an employee
      required:
        - id
        - type
        - name
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440200'
        type:
          type: string
          example: 'department'
        name:
          type: string
          example: 'Operations'
        custom_type_name:
          type: [string, 'null']
        description:
          type: [string, 'null']
        metadata:
          type: [object, 'null']
        parent:
          type: ['null', object]
          additionalProperties: true
        children:
          type: array
          items:
            type: object
            additionalProperties: true
        ancestors:
          type: array
          items:
            type: object
            additionalProperties: true
        descendants:
          type: array
          items:
            type: object
            additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EmployeeAddressHistoryEntry:
      type: object
      required:
        - from
        - to
        - street
        - city
        - postal_code
        - country
      properties:
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        street:
          type: string
          maxLength: 255
        city:
          type: string
          maxLength: 255
        postal_code:
          type: string
          maxLength: 20
        country:
          type: string
          minLength: 2
          maxLength: 2

    EmployeeStatus:
      type: string
      description: |
        Official employee lifecycle status.

        - `applicant`: candidate record; onboarding invitation is not available yet.
        - `pre_contract`: contract preparation phase; onboarding invitation and onboarding portal access are allowed.
        - `active`: actively employed.
        - `on_leave`: temporarily absent while still employed.
        - `terminated`: employment ended.
      enum: [applicant, pre_contract, active, on_leave, terminated]

    EmployeeInvitableStatus:
      type: string
      description: Employee status that may receive an onboarding invitation.
      enum: [pre_contract]

    EmployeeCreateRequest:
      type: object
      required:
        - first_name
        - last_name
        - date_of_birth
        - email
        - status
        - position
        - management_level
        - contract_start_date
        - contract_type
        - organizational_unit_id
      properties:
        first_name:
          type: string
          maxLength: 255
        last_name:
          type: string
          maxLength: 255
        date_of_birth:
          type: string
          format: date
        email:
          type: string
          format: email
        phone:
          type: [string, 'null']
          maxLength: 255
        photo_path:
          type: [string, 'null']
          maxLength: 255
        bwr_id:
          type: [string, 'null']
          pattern: '^[0-9]{7}$'
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
          maxLength: 1000
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          maxLength: 255
        previous_names:
          type: [array, 'null']
          items:
            type: string
            maxLength: 255
        birth_city:
          type: [string, 'null']
          maxLength: 255
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        birth_state:
          type: [string, 'null']
          maxLength: 100
        nationalities:
          type: [array, 'null']
          items:
            type: string
            minLength: 2
            maxLength: 2
            pattern: '^[A-Z]{2}$'
        address_street:
          type: [string, 'null']
          maxLength: 255
        address_house_number:
          type: [string, 'null']
          maxLength: 10
        address_postal_code:
          type: [string, 'null']
          maxLength: 20
        address_city:
          type: [string, 'null']
          maxLength: 255
        address_supplement:
          type: [string, 'null']
          maxLength: 255
        address_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        address_state:
          type: [string, 'null']
          maxLength: 100
        address_history:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeAddressHistoryEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
            maxLength: 100
        id_document_type:
          type: [string, 'null']
          enum: [passport, id_card, residence_permit]
        id_document_number:
          type: [string, 'null']
          maxLength: 255
        id_document_expiry:
          type: [string, 'null']
          format: date
        employment_end_date:
          type: [string, 'null']
          format: date
        retention_period_end:
          type: [string, 'null']
          format: date
        tax_id:
          type: [string, 'null']
          maxLength: 255
        social_security_number:
          type: [string, 'null']
          maxLength: 255
        status:
          $ref: '#/components/schemas/EmployeeStatus'
        position:
          type: string
          maxLength: 255
        management_level:
          type: integer
          minimum: 0
          maximum: 255
        hire_date:
          type: [string, 'null']
          format: date
        contract_start_date:
          type: string
          format: date
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        send_invitation:
          type: boolean
          default: false
          description: If true, sends the onboarding invitation immediately after employee creation, subject to server-side validation rules for the employee's status.
        weekly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 60
        monthly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 300
        hourly_rate:
          type: [number, 'null']
          format: float
          minimum: 0
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
          maxLength: 255
        health_insurance_number:
          type: [string, 'null']
          maxLength: 255
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
          maxLength: 255
        sachkunde_ihk_number:
          type: [string, 'null']
          maxLength: 50
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
          maxLength: 255
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
          maxLength: 255
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        organizational_unit_id:
          type: string
          format: uuid

    EmployeeUpdateRequest:
      type: object
      description: Partial employee update request. All properties are optional.
      properties:
        employee_number:
          type: [string, 'null']
          maxLength: 50
        first_name:
          type: [string, 'null']
          maxLength: 255
        last_name:
          type: [string, 'null']
          maxLength: 255
        email:
          type: [string, 'null']
          format: email
          maxLength: 255
        phone:
          type: [string, 'null']
          maxLength: 255
        date_of_birth:
          type: [string, 'null']
          format: date
        photo_path:
          type: [string, 'null']
          maxLength: 255
        bwr_id:
          type: [string, 'null']
          maxLength: 255
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          maxLength: 255
        previous_names:
          type: [array, 'null']
          items:
            type: string
            maxLength: 255
        birth_city:
          type: [string, 'null']
          maxLength: 255
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        birth_state:
          type: [string, 'null']
          maxLength: 100
        nationalities:
          type: [array, 'null']
          items:
            type: string
            minLength: 2
            maxLength: 2
            pattern: '^[A-Z]{2}$'
        address_street:
          type: [string, 'null']
          maxLength: 255
        address_house_number:
          type: [string, 'null']
          maxLength: 10
        address_postal_code:
          type: [string, 'null']
          maxLength: 20
        address_city:
          type: [string, 'null']
          maxLength: 255
        address_supplement:
          type: [string, 'null']
          maxLength: 255
        address_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
        address_state:
          type: [string, 'null']
          maxLength: 100
        address_history:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeAddressHistoryEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
            maxLength: 100
        id_document_type:
          type: [string, 'null']
          enum: [passport, id_card, residence_permit]
        id_document_number:
          type: [string, 'null']
          maxLength: 255
        id_document_expiry:
          type: [string, 'null']
          format: date
        employment_end_date:
          type: [string, 'null']
          format: date
        retention_period_end:
          type: [string, 'null']
          format: date
        tax_id:
          type: [string, 'null']
          maxLength: 255
        social_security_number:
          type: [string, 'null']
          maxLength: 255
        status:
          $ref: '#/components/schemas/EmployeeStatus'
        position:
          type: [string, 'null']
          maxLength: 255
        management_level:
          type: integer
          minimum: 0
          maximum: 255
        hire_date:
          type: [string, 'null']
          format: date
        contract_start_date:
          type: [string, 'null']
          format: date
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        weekly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 60
        monthly_hours:
          type: [number, 'null']
          format: float
          minimum: 0
          maximum: 300
        hourly_rate:
          type: [number, 'null']
          format: float
          minimum: 0
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
          maxLength: 255
        health_insurance_number:
          type: [string, 'null']
          maxLength: 255
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
          maxLength: 255
        sachkunde_ihk_number:
          type: [string, 'null']
          maxLength: 50
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
          maxLength: 255
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
          maxLength: 255
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        organizational_unit_id:
          type: [string, 'null']
          format: uuid

    EmployeeResponse:
      type: object
      required:
        - data
      properties:
        data:
          $ref: '#/components/schemas/Employee'

    EmployeeOnboardingInvitation:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [not_requested, sent, created_not_sent, failed]
        available:
          type: boolean
          description: Whether an onboarding invitation may currently be requested for this employee.
          example: false
        eligible_statuses:
          type: array
          description: Employee statuses that are allowed to receive onboarding invitations.
          items:
            $ref: '#/components/schemas/EmployeeInvitableStatus'
          example: [pre_contract]
        rule_message:
          type: [string, 'null']
          description: Human-readable explanation of the onboarding invitation rule for the current employee status.
          example: Onboarding invitations are only available while the employee is in pre_contract status.
        requested_at:
          type: [string, 'null']
          format: date-time
        token_created_at:
          type: [string, 'null']
          format: date-time
        mail_sent_at:
          type: [string, 'null']
          format: date-time
        mail_failed_at:
          type: [string, 'null']
          format: date-time
        failure_reason:
          type: [string, 'null']

    EmployeeCollectionResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Employee'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    Employee:
      type: object
      description: Employee entity with decrypted personal data
      required:
        - id
        - tenant_id
        - employee_number
        - first_name
        - last_name
        - full_name
        - email
        - status
        - contract_type
        - user_account_active
        - onboarding_completed
        - onboarding_invitation
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        tenant_id:
          type: string
          example: 'tenant-12345-key'
        employee_number:
          type: string
          example: 'EMP-2025-0042'
        first_name:
          type: string
          description: Decrypted
          example: 'Max'
        last_name:
          type: string
          description: Decrypted
          example: 'Mustermann'
        full_name:
          type: string
          example: 'Max Mustermann'
        date_of_birth:
          type: [string, 'null']
          format: date
          description: Decrypted
          example: '1990-05-15'
        email:
          type: string
          format: email
          example: 'max.mustermann@secpal.app'
        phone:
          type: [string, 'null']
          example: '+49 30 12345678'
        photo_path:
          type: [string, 'null']
          example: 'employees/photos/550e8400.jpg'
        bwr_id:
          type: [string, 'null']
          example: '1234567'
        bwr_status:
          type: [string, 'null']
          enum: [not_registered, pending, active, suspended, revoked]
        bwr_registered_at:
          type: [string, 'null']
          format: date-time
        bwr_submission_date:
          type: [string, 'null']
          format: date
        bwr_notes:
          type: [string, 'null']
        gender:
          type: [string, 'null']
          enum: [male, female, diverse]
        birth_name:
          type: [string, 'null']
          description: Decrypted
        previous_names:
          type: [array, 'null']
          items:
            type: string
        birth_city:
          type: [string, 'null']
        birth_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
        birth_state:
          type: [string, 'null']
        nationalities:
          type: [array, 'null']
          items:
            type: string
        address_street:
          type: [string, 'null']
          description: Decrypted
        address_house_number:
          type: [string, 'null']
          description: Decrypted
        address_postal_code:
          type: [string, 'null']
          description: Decrypted
        address_city:
          type: [string, 'null']
          description: Decrypted
        address_supplement:
          type: [string, 'null']
          description: Decrypted
        address_country:
          type: [string, 'null']
          minLength: 2
          maxLength: 2
        address_state:
          type: [string, 'null']
        structured_address:
          type: [object, 'null']
          additionalProperties: true
        address_history:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/EmployeeAddressHistoryEntry'
        intended_activities:
          type: [array, 'null']
          items:
            type: string
        tax_id:
          type: [string, 'null']
          description: Decrypted
          example: '12345678901'
        social_security_number:
          type: [string, 'null']
          description: Decrypted
          example: '12 345678 A 123'
        status:
          allOf:
            - $ref: '#/components/schemas/EmployeeStatus'
          example: 'active'
        hire_date:
          type: [string, 'null']
          format: date
          example: '2025-01-15'
        contract_start_date:
          type: [string, 'null']
          format: date
          example: '2025-02-01'
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [full_time, part_time, minijob, freelance]
        position:
          type: [string, 'null']
          example: 'Security Guard'
        management_level:
          type: integer
          minimum: 0
          maximum: 255
          example: 0
        weekly_hours:
          type: [number, 'null']
          format: float
        monthly_hours:
          type: [number, 'null']
          format: float
        hourly_rate:
          type: [number, 'null']
          format: float
          description: Decrypted
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private, foreign]
        health_insurance_provider:
          type: [string, 'null']
        health_insurance_number:
          type: [string, 'null']
        sachkunde_type:
          type: [string, 'null']
          maxLength: 255
        sachkunde_certificate:
          type: [string, 'null']
        sachkunde_ihk_number:
          type: [string, 'null']
        sachkunde_exam_date:
          type: [string, 'null']
          format: date
        sachkunde_issued_date:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        work_permit_number:
          type: [string, 'null']
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [unlimited, limited, none]
        residence_permit_number:
          type: [string, 'null']
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [valid, expired, pending]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        user_id:
          type: [string, 'null']
          format: uuid
        user_account_active:
          type: boolean
        user_account_activated_at:
          type: [string, 'null']
          format: date-time
        user_account_deactivated_at:
          type: [string, 'null']
          format: date-time
        onboarding_completed:
          type: boolean
        onboarding_steps:
          type: [object, 'null']
        onboarding_started_at:
          type: [string, 'null']
          format: date-time
        onboarding_completed_at:
          type: [string, 'null']
          format: date-time
        onboarding_invitation:
          $ref: '#/components/schemas/EmployeeOnboardingInvitation'
        organizational_unit_id:
          type: [string, 'null']
          format: uuid
        user:
          anyOf:
            - $ref: '#/components/schemas/EmployeeUserSummary'
            - type: 'null'
        organizational_unit:
          anyOf:
            - $ref: '#/components/schemas/EmployeeOrganizationalUnitSummary'
            - type: 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, 'null']
          format: date-time

    # =============================================================================
    # Customer & Site Management Schemas (Epic #210)
    # =============================================================================

    Address:
      type: object
      description: Physical address with optional GPS coordinates
      required:
        - street
        - city
        - postal_code
        - country
      properties:
        street:
          type: string
          maxLength: 255
          description: Street address
          example: 'Hauptstraße 123'
        city:
          type: string
          maxLength: 100
          description: City name
          example: 'Berlin'
        postal_code:
          type: string
          maxLength: 20
          description: Postal/ZIP code
          example: '10115'
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: ISO 3166-1 alpha-2 country code
          example: 'DE'
        latitude:
          type: [number, 'null']
          format: float
          minimum: -90
          maximum: 90
          description: GPS latitude coordinate
          example: 52.520008
        longitude:
          type: [number, 'null']
          format: float
          minimum: -180
          maximum: 180
          description: GPS longitude coordinate
          example: 13.404954

    Contact:
      type: object
      description: Contact information for person or organization
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 255
          description: Contact person name
          example: 'Max Mustermann'
        email:
          type: [string, 'null']
          format: email
          maxLength: 255
          description: Email address
          example: 'max.mustermann@example.com'
        phone:
          type: [string, 'null']
          maxLength: 50
          description: Phone number
          example: '+49 30 12345678'
        position:
          type: [string, 'null']
          maxLength: 100
          description: Job title or position
          example: 'Facility Manager'

    Customer:
      type: object
      description: Customer (client organization) entity
      required:
        - id
        - customer_number
        - name
        - billing_address
        - is_active
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique customer identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        customer_number:
          type: string
          maxLength: 50
          description: Auto-generated customer number (KD-YYYY-####)
          example: 'KD-2025-0001'
        name:
          type: string
          maxLength: 255
          description: Customer organization name
          example: 'ACME Corporation GmbH'
        billing_address:
          $ref: '#/components/schemas/Address'
        contact:
          anyOf:
            - $ref: '#/components/schemas/Contact'
            - type: 'null'
        is_active:
          type: boolean
          description: Whether customer is active
          example: true
        notes:
          type: [string, 'null']
          description: Internal notes (conditionally visible)
          example: 'VIP customer - handle with priority'
        metadata:
          type: [object, 'null']
          description: Custom metadata as JSON
          additionalProperties: true
          example: { 'industry': 'retail', 'employee_count': 500 }
        sites_count:
          type: integer
          description: Number of sites (when counted)
          example: 5
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T14:30:00Z'
        deleted_at:
          type: [string, 'null']
          format: date-time
          description: Soft deletion timestamp
          example: null

    Site:
      type: object
      description: Site (physical location/object) where services are provided
      required:
        - id
        - customer_id
        - organizational_unit_id
        - site_number
        - name
        - type
        - address
        - is_active
        - is_expired
        - full_address
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique site identifier
          example: '660e8400-e29b-41d4-a716-446655440000'
        customer_id:
          type: string
          format: uuid
          description: Customer that owns this site
          example: '550e8400-e29b-41d4-a716-446655440000'
        organizational_unit_id:
          type: string
          format: uuid
          description: Internal organizational unit responsible for this site
          example: '770e8400-e29b-41d4-a716-446655440000'
        site_number:
          type: string
          maxLength: 50
          description: Auto-generated site number (OBJ-YYYY-####)
          example: 'OBJ-2025-0042'
        name:
          type: string
          maxLength: 255
          description: Site name
          example: 'Airport Terminal 1'
        type:
          type: string
          enum: [permanent, temporary]
          description: Site type (permanent location or temporary event)
          example: 'permanent'
        address:
          $ref: '#/components/schemas/Address'
        contact:
          anyOf:
            - $ref: '#/components/schemas/Contact'
            - type: 'null'
        access_instructions:
          type: [string, 'null']
          description: Instructions for accessing the site (conditionally visible)
          example: 'Gate 5, Security Check, Badge required'
        notes:
          type: [string, 'null']
          description: Internal notes (conditionally visible)
          example: 'High security area'
        metadata:
          type: [object, 'null']
          description: Custom metadata as JSON
          additionalProperties: true
          example: { 'area_sqm': 5000, 'floors': 3 }
        is_active:
          type: boolean
          description: Whether site is active
          example: true
        valid_from:
          type: [string, 'null']
          format: date
          description: Contract start date (for temporary sites)
          example: '2025-01-01'
        valid_until:
          type: [string, 'null']
          format: date
          description: Contract end date (for temporary sites)
          example: '2025-12-31'
        is_expired:
          type: boolean
          description: Whether validity period has expired (computed)
          example: false
        full_address:
          type: string
          description: Formatted full address string (computed)
          example: 'Hauptstraße 123, 10115, Berlin'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T11:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T15:00:00Z'
        deleted_at:
          type: [string, 'null']
          format: date-time
          description: Soft deletion timestamp
          example: null

    CustomerAssignment:
      type: object
      description: Flexible user-to-customer role assignment
      required:
        - id
        - customer_id
        - user_id
        - role
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique assignment identifier
          example: '880e8400-e29b-41d4-a716-446655440000'
        customer_id:
          type: string
          format: uuid
          description: Customer being assigned
          example: '550e8400-e29b-41d4-a716-446655440000'
        user_id:
          type: string
          format: uuid
          description: User being assigned
          example: '990e8400-e29b-41d4-a716-446655440000'
        role:
          type: string
          maxLength: 100
          description: Flexible role name (e.g., "Key Account Manager", "Billing Contact")
          example: 'Key Account Manager'
        valid_from:
          type: [string, 'null']
          format: date
          description: Assignment start date
          example: '2025-01-01'
        valid_until:
          type: [string, 'null']
          format: date
          description: Assignment end date
          example: '2025-12-31'
        notes:
          type: [string, 'null']
          description: Optional assignment notes
          example: 'Primary contact for escalations'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T16:00:00Z'

    SiteAssignment:
      type: object
      description: Flexible user-to-site role assignment
      required:
        - id
        - site_id
        - user_id
        - role
        - is_primary
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique assignment identifier
          example: 'aa0e8400-e29b-41d4-a716-446655440000'
        site_id:
          type: string
          format: uuid
          description: Site being assigned
          example: '660e8400-e29b-41d4-a716-446655440000'
        user_id:
          type: string
          format: uuid
          description: User being assigned
          example: '990e8400-e29b-41d4-a716-446655440000'
        role:
          type: string
          maxLength: 100
          description: Flexible role name (e.g., "Site Manager", "Account Manager")
          example: 'Site Manager'
        is_primary:
          type: boolean
          description: Whether this is the primary contact for the site
          example: true
        valid_from:
          type: [string, 'null']
          format: date
          description: Assignment start date
          example: '2025-01-01'
        valid_until:
          type: [string, 'null']
          format: date
          description: Assignment end date
          example: '2025-12-31'
        notes:
          type: [string, 'null']
          description: Optional assignment notes
          example: 'On-site presence required'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T13:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T17:00:00Z'

    CostCenter:
      type: object
      description: Cost center for billing/accounting purposes (nested under site)
      required:
        - id
        - site_id
        - code
        - name
        - is_active
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique cost center identifier
          example: 'bb0e8400-e29b-41d4-a716-446655440000'
        site_id:
          type: string
          format: uuid
          description: Parent site
          example: '660e8400-e29b-41d4-a716-446655440000'
        code:
          type: string
          maxLength: 50
          description: Cost center code (unique per site)
          example: '4711-001'
        name:
          type: string
          maxLength: 255
          description: Descriptive name
          example: 'Reception Duty'
        activity_type:
          type: [string, 'null']
          maxLength: 100
          description: Type of activity performed
          example: 'Static Guard Duty'
        description:
          type: [string, 'null']
          description: Optional description
          example: 'Main entrance reception desk'
        is_active:
          type: boolean
          description: Whether cost center is active
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T14:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T18:00:00Z'
        deleted_at:
          type: [string, 'null']
          format: date-time
          description: Soft deletion timestamp
          example: null

  responses:
    BadRequest:
      description: Bad Request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Invalid request parameters
            code: BAD_REQUEST

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Unauthenticated.
            code: UNAUTHORIZED

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Insufficient permissions
            code: FORBIDDEN

    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found
            code: NOT_FOUND

    ValidationError:
      description: Validation Error - Invalid input data
      content:
        application/json:
          schema:
            type: object
            required:
              - message
              - errors
            properties:
              message:
                type: string
                description: General validation error message
                example: 'The given data was invalid.'
              errors:
                type: object
                description: Field-specific validation errors
                additionalProperties:
                  type: array
                  items:
                    type: string
                example:
                  email: ['The email has already been taken.']
                  date_of_birth:
                    ['The date of birth must be a date before today.']

    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: An internal error occurred
            code: INTERNAL_ERROR

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Sanctum PAT
      description: |
        Laravel Sanctum personal access token authentication. Include the token in the Authorization header:
        `Authorization: Bearer <token>`
    SessionAuth:
      type: apiKey
      in: cookie
      name: laravel_session
      description: First-party browser session authentication for the SecPal SPA.
    CsrfToken:
      type: apiKey
      in: header
      name: X-XSRF-TOKEN
      description: Required on state-changing requests that use `SessionAuth`.

paths:
  /health:
    get:
      summary: Health Check
      description: Provides the health status of the API.
      operationId: getHealth
      tags:
        - Monitoring
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Service temporarily unavailable
                code: SERVICE_UNAVAILABLE

  # =============================================================================
  # Authentication & Self-Service Endpoints
  # =============================================================================

  /auth/login:
    post:
      summary: Log In with Browser Session
      description: |
        Start a first-party browser session for the SecPal SPA.

        This endpoint is reserved for session-based login flows that completed the Sanctum CSRF/cookie bootstrap via `/sanctum/csrf-cookie`.
        Stateless API clients must use `/auth/token` instead.
      operationId: loginWithSession
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionLoginRequest'
      responses:
        '200':
          description: Browser session established successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionLoginResponse'
        '400':
          description: Wrong login context for the endpoint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: This endpoint requires a browser session context. Use /auth/token for API clients.
                code: BAD_REQUEST
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/token:
    post:
      summary: Create Bearer Token
      description: |
        Authenticate a non-browser client and return a Laravel Sanctum personal access token.

        Use this endpoint for Android, native, CLI, and integration clients. Browser SPAs should use `/auth/login` instead.
      operationId: createAuthToken
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenLoginRequest'
      responses:
        '201':
          description: Bearer token created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenLoginResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout:
    post:
      summary: Log Out Current Session or Token
      description: |
        Canonical logout endpoint for authenticated clients.

        - Browser sessions use the current Sanctum session plus `X-XSRF-TOKEN`
        - Bearer-token clients revoke the current personal access token
      operationId: logoutCurrentAuthContext
      tags:
        - Authentication
      security:
        - BearerAuth: []
        - SessionAuth: []
          CsrfToken: []
      responses:
        '200':
          description: Authenticated context logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/session/logout:
    post:
      summary: Legacy Browser Session Logout Alias
      description: Deprecated compatibility alias for older SPA clients. New clients should use `/auth/logout`.
      operationId: logoutLegacySessionAlias
      tags:
        - Authentication
      deprecated: true
      security:
        - SessionAuth: []
          CsrfToken: []
      responses:
        '200':
          description: Session logged out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout-all:
    post:
      summary: Revoke All Personal Access Tokens
      description: Revoke every Laravel Sanctum personal access token for the authenticated user.
      operationId: logoutAllDevices
      tags:
        - Authentication
      security:
        - BearerAuth: []
        - SessionAuth: []
          CsrfToken: []
      responses:
        '200':
          description: All personal access tokens revoked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /me:
    get:
      summary: Get Current User
      description: |
        Canonical self-service endpoint for the authenticated caller.

        This endpoint is the supported way to retrieve the caller's profile and authorization context. Similar guessed aliases such as `/auth/me`, `/user`, `/user/profile`, and `/profile` are intentionally undefined.
      operationId: getCurrentUser
      tags:
        - Me
      security:
        - BearerAuth: []
        - SessionAuth: []
      responses:
        '200':
          description: Authenticated user returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticatedUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /me/language:
    patch:
      summary: Update My Preferred Language
      description: Update the authenticated user's preferred locale.
      operationId: updateMyLanguagePreference
      tags:
        - Me
      security:
        - BearerAuth: []
        - SessionAuth: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLanguagePreferenceRequest'
      responses:
        '200':
          description: Preferred locale updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLanguagePreferenceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /me/organizational-scopes:
    get:
      summary: Get My Organizational Scopes
      description: Retrieve the authenticated user's organizational scope assignments.
      operationId: getMyOrganizationalScopes
      tags:
        - Me
      security:
        - BearerAuth: []
        - SessionAuth: []
      responses:
        '200':
          description: Organizational scopes retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MyOrganizationalScope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /activity-logs:
    get:
      summary: List Activity Logs
      description: |
        Retrieve a paginated list of activity logs with comprehensive filtering options.
        Access is automatically scoped based on the user's organizational units and leadership levels.

        **Authorization Layers:**
        1. Tenant isolation (mandatory)
        2. Permission check (activity_log.read)
        3. Organizational scope filtering (ADR-010)
        4. Leadership level filtering (ADR-009)

        **Access Control Logic:**
        - Users with NO organizational scopes: See ALL activities (global access)
        - Users WITH organizational scopes: See ONLY scoped activities (NOT global)
        - Leadership filtering: min/max_viewable_rank controls visibility
        - System activities (no causer): Always visible within scoped units

        **Hash Chain & Merkle Tree:**
        - Each activity has `previous_hash` linking to previous activity (blockchain)
        - Activities are grouped in batches with Merkle tree proofs
        - OpenTimestamp anchors batch roots to Bitcoin blockchain
      operationId: listActivityLogs
      tags:
        - Activity Logs
      security:
        - BearerAuth: []
      parameters:
        - name: from_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start date for filtering activities (ISO 8601)
          example: '2025-01-01T00:00:00Z'
        - name: to_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End date for filtering activities (ISO 8601, must be after from_date)
          example: '2025-12-31T23:59:59Z'
        - name: log_name
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: Filter by log name (e.g., 'user', 'employee', 'system')
          example: 'employee'
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: Search term for description field (case-insensitive)
          example: 'created'
        - name: organizational_unit_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by organizational unit UUID
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: causer_type
          in: query
          required: false
          schema:
            type: string
          description: Polymorphic type of the causer (e.g., 'App\Models\User')
          example: 'App\Models\User'
        - name: causer_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: UUID of the causer (requires causer_type)
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: subject_type
          in: query
          required: false
          schema:
            type: string
          description: Polymorphic type of the subject (e.g., 'App\Models\Employee')
          example: 'App\Models\Employee'
        - name: subject_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: UUID of the subject (requires subject_type)
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
          description: Number of items per page (max 100)
          example: 25
        - name: include_verification
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include blockchain/OTS verification data
          example: true
      responses:
        '200':
          description: Paginated list of activity logs
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Activity'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        format: uri
                      last:
                        type: string
                        format: uri
                      prev:
                        type: string
                        format: uri
                        nullable: true
                      next:
                        type: string
                        format: uri
                        nullable: true
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      from:
                        type: integer
                        nullable: true
                      last_page:
                        type: integer
                      per_page:
                        type: integer
                      to:
                        type: integer
                        nullable: true
                      total:
                        type: integer
              examples:
                paginatedResponse:
                  summary: Paginated list with 3 activities
                  value:
                    data:
                      - id: 550e8400-e29b-41d4-a716-446655440001
                        tenant_id: 550e8400-e29b-41d4-a716-446655440000
                        log_name: employee
                        description: Created Employee "John Doe"
                        subject_type: App\Models\Employee
                        subject_id: 550e8400-e29b-41d4-a716-446655440010
                        causer_type: App\Models\User
                        causer_id: 550e8400-e29b-41d4-a716-446655440020
                        event: created
                        properties:
                          attributes:
                            name: John Doe
                            status: active
                        ip_address: 192.0.2.1
                        user_agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36
                        batch_uuid: 550e8400-e29b-41d4-a716-446655440100
                        previous_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                        event_hash: 5d41402abc4b2a76b9719d911017c592
                        merkle_batch_id: 1742203200
                        merkle_root: a8c7e3d5f9b1c4e6d8a2f4b6c8e0d2f4a6b8c0e2d4f6a8b0c2e4d6f8a0b2c4e6
                        merkle_proof: []
                        ots_submitted_at: null
                        ots_confirmed_at: null
                        has_ots_proof: false
                        is_orphaned_genesis: false
                        orphaned_reason: null
                        orphaned_at: null
                        created_at: '2025-01-15T10:30:00Z'
                        updated_at: '2025-01-15T10:30:00Z'
                      - id: 550e8400-e29b-41d4-a716-446655440002
                        tenant_id: 550e8400-e29b-41d4-a716-446655440000
                        log_name: user
                        description: Updated User profile
                        subject_type: App\Models\User
                        subject_id: 550e8400-e29b-41d4-a716-446655440021
                        causer_type: App\Models\User
                        causer_id: 550e8400-e29b-41d4-a716-446655440020
                        event: updated
                        properties:
                          attributes:
                            email: user@example.com
                          old:
                            email: old@example.com
                        ip_address: 192.0.2.55
                        user_agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36
                        batch_uuid: 550e8400-e29b-41d4-a716-446655440100
                        previous_hash: 5d41402abc4b2a76b9719d911017c592
                        event_hash: 098f6bcd4621d373cade4e832627b4f6
                        merkle_batch_id: 1742203200
                        merkle_root: a8c7e3d5f9b1c4e6d8a2f4b6c8e0d2f4a6b8c0e2d4f6a8b0c2e4d6f8a0b2c4e6
                        merkle_proof:
                          - d3e5f7a9b1c3e5d7f9a1b3c5e7d9f1a3b5c7e9d1f3a5b7c9e1d3f5a7b9c1e3d5
                        ots_submitted_at: null
                        ots_confirmed_at: null
                        has_ots_proof: false
                        is_orphaned_genesis: false
                        orphaned_reason: null
                        orphaned_at: null
                        created_at: '2025-01-15T11:00:00Z'
                        updated_at: '2025-01-15T11:00:00Z'
                      - id: 550e8400-e29b-41d4-a716-446655440003
                        tenant_id: 550e8400-e29b-41d4-a716-446655440000
                        log_name: employee
                        description: Viewed Employee "Jane Smith"
                        subject_type: App\Models\Employee
                        subject_id: 550e8400-e29b-41d4-a716-446655440011
                        causer_type: App\Models\User
                        causer_id: 550e8400-e29b-41d4-a716-446655440022
                        event: accessed
                        properties: {} # yamllint disable-line rule:braces
                        ip_address: 198.51.100.10
                        user_agent: curl/8.8.0
                        batch_uuid: 550e8400-e29b-41d4-a716-446655440101
                        previous_hash: 098f6bcd4621d373cade4e832627b4f6
                        event_hash: 5f4dcc3b5aa765d61d8327deb882cf99
                        merkle_batch_id: 1742204100
                        merkle_root: b9d8e4f6a8b0c2e4d6f8a0b2c4e6d8f0a2b4c6e8d0f2a4b6c8e0d2f4a6b8c0e2
                        merkle_proof:
                          - e4f6a8b0c2e4d6f8a0b2c4e6d8f0a2b4c6e8d0f2a4b6c8e0d2f4a6b8c0e2d4f6
                          - f6a8b0c2e4d6f8a0b2c4e6d8f0a2b4c6e8d0f2a4b6c8e0d2f4a6b8c0e2d4f6a8
                        ots_submitted_at: '2025-01-15T14:21:00Z'
                        ots_confirmed_at: '2025-01-15T15:45:00Z'
                        has_ots_proof: true
                        is_orphaned_genesis: false
                        orphaned_reason: null
                        orphaned_at: null
                        created_at: '2025-01-15T14:20:00Z'
                        updated_at: '2025-01-15T14:20:00Z'
                    links:
                      first: https://api.secpal.dev/v1/activity-logs?page=1
                      last: https://api.secpal.dev/v1/activity-logs?page=10
                      prev: null
                      next: https://api.secpal.dev/v1/activity-logs?page=2
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 10
                      per_page: 15
                      to: 15
                      total: 147
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                  - errors
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
              examples:
                invalidDateRange:
                  summary: Invalid date range
                  value:
                    message: The given data was invalid.
                    errors:
                      to_date:
                        - The to_date must be a date after from_date.
                invalidPerPage:
                  summary: Invalid pagination limit
                  value:
                    message: The given data was invalid.
                    errors:
                      per_page:
                        - The per_page field must not be greater than 100.
                invalidUUID:
                  summary: Invalid UUID format
                  value:
                    message: The given data was invalid.
                    errors:
                      organizational_unit_id:
                        - The organizational_unit_id field must be a valid UUID.
        '500':
          $ref: '#/components/responses/InternalServerError'

  /activity-logs/{activity}:
    get:
      summary: Get Activity Log
      description: |
        Retrieve a single activity log entry with full details including relationships.
        Access is controlled by organizational scoping and leadership levels.
      operationId: getActivityLog
      tags:
        - Activity Logs
      security:
        - BearerAuth: []
      parameters:
        - name: activity
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Activity UUID
        - name: include_verification
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include blockchain/OTS verification data
          example: true
      responses:
        '200':
          description: Activity log details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Activity'
              examples:
                employeeCreation:
                  summary: Employee creation with full relationships
                  value:
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440001
                      tenant_id: 550e8400-e29b-41d4-a716-446655440000
                      log_name: employee
                      description: Created Employee "John Doe"
                      subject_type: App\Models\Employee
                      subject_id: 550e8400-e29b-41d4-a716-446655440010
                      causer_type: App\Models\User
                      causer_id: 550e8400-e29b-41d4-a716-446655440020
                      event: created
                      properties:
                        attributes:
                          name: John Doe
                          status: active
                          organizational_unit_id: 550e8400-e29b-41d4-a716-446655440030
                        ip: 192.0.2.1
                        user_agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36
                      ip_address: 192.0.2.1
                      user_agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36
                      batch_uuid: 550e8400-e29b-41d4-a716-446655440100
                      previous_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                      event_hash: 5d41402abc4b2a76b9719d911017c592
                      merkle_batch_id: 1742203200
                      merkle_root: a8c7e3d5f9b1c4e6d8a2f4b6c8e0d2f4a6b8c0e2d4f6a8b0c2e4d6f8a0b2c4e6
                      merkle_proof:
                        - d3e5f7a9b1c3e5d7f9a1b3c5e7d9f1a3b5c7e9d1f3a5b7c9e1d3f5a7b9c1e3d5
                        - e4f6a8b0c2e4d6f8a0b2c4e6d8f0a2b4c6e8d0f2a4b6c8e0d2f4a6b8c0e2d4f6
                      ots_submitted_at: '2025-01-15T10:31:00Z'
                      ots_confirmed_at: '2025-01-15T12:30:45Z'
                      has_ots_proof: true
                      is_orphaned_genesis: false
                      orphaned_reason: null
                      orphaned_at: null
                      created_at: '2025-01-15T10:30:00Z'
                      updated_at: '2025-01-15T10:30:00Z'
                      causer:
                        type: User
                        id: 550e8400-e29b-41d4-a716-446655440020
                        name: John Doe
                      subject:
                        type: Employee
                        id: 550e8400-e29b-41d4-a716-446655440010
                        name: John Doe
                systemActivity:
                  summary: System-initiated activity (no causer)
                  value:
                    data:
                      id: 550e8400-e29b-41d4-a716-446655440004
                      tenant_id: 550e8400-e29b-41d4-a716-446655440000
                      log_name: system
                      description: Automated OpenTimestamp submission completed
                      subject_type: App\Models\ActivityBatch
                      subject_id: 550e8400-e29b-41d4-a716-446655440100
                      causer_type: null
                      causer_id: null
                      event: ots_submitted
                      properties:
                        batch_size: 50
                        submission_timestamp: '2025-01-15T12:00:00Z'
                      ip_address: null
                      user_agent: null
                      batch_uuid: 550e8400-e29b-41d4-a716-446655440102
                      previous_hash: 5f4dcc3b5aa765d61d8327deb882cf99
                      event_hash: 6329334b8f7f9d4e8327deb882cf9945
                      merkle_batch_id: 1742212800
                      merkle_root: c0e2d4f6a8b0c2e4d6f8a0b2c4e6d8f0
                      merkle_proof: []
                      ots_submitted_at: '2025-01-15T12:00:30Z'
                      ots_confirmed_at: null
                      has_ots_proof: false
                      is_orphaned_genesis: false
                      orphaned_reason: null
                      orphaned_at: null
                      created_at: '2025-01-15T12:00:01Z'
                      updated_at: '2025-01-15T12:00:01Z'
                      causer: null
                      subject:
                        type: ActivityBatch
                        id: 550e8400-e29b-41d4-a716-446655440100
                        name: Batch 1742212800
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - Activity outside organizational scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                organizationalScope:
                  summary: Activity outside user's organizational scope
                  value:
                    message: This action is unauthorized due to organizational scope restrictions.
                    code: FORBIDDEN
                    details:
                      reason: organizational_scope_violation
                      message: >-
                        You do not have access to this activity log.
                        It belongs to an organizational unit outside your scope.
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /activity-logs/{activity}/verify:
    get:
      summary: Verify Activity Log
      description: |
        Retrieve verification results for an activity log entry including
        blockchain chain validation, Merkle proof verification, and OpenTimestamp verification.
      operationId: verifyActivityLog
      tags:
        - Activity Logs
      security:
        - BearerAuth: []
      parameters:
        - name: activity
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Activity UUID
      responses:
        '200':
          description: Verification results
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - activity_id
                      - verification
                      - details
                    properties:
                      activity_id:
                        type: string
                        format: uuid
                        description: Activity UUID
                        example: '550e8400-e29b-41d4-a716-446655440001'
                      verification:
                        type: object
                        required:
                          - chain_valid
                          - chain_link_valid
                          - merkle_valid
                          - ots_valid
                        properties:
                          chain_valid:
                            type: boolean
                            description: Whether the blockchain chain is valid
                            example: true
                          chain_link_valid:
                            type: boolean
                            description: Whether the current hash chain link is valid
                            example: true
                          merkle_valid:
                            type: boolean
                            description: Whether the Merkle proof is valid
                            example: true
                          ots_valid:
                            type: boolean
                            description: Whether the OpenTimestamp verification is valid
                            example: true
                      details:
                        type: object
                        required:
                          - event_hash
                          - previous_hash
                          - merkle_root
                          - merkle_batch_id
                          - ots_confirmed_at
                          - is_orphaned_genesis
                          - orphaned_reason
                        properties:
                          event_hash:
                            type: string
                            nullable: true
                            description: Hash of this activity event
                            example: '5d41402abc4b2a76b9719d911017c592'
                          previous_hash:
                            type: string
                            nullable: true
                            description: Hash of the previous activity in the chain
                            example: 'e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855'
                          merkle_root:
                            type: string
                            nullable: true
                            description: Merkle root this activity is part of
                            example: 'a8c7e3d5f9b1c4e6d8a2f4b6c8e0d2f4a6b8c0e2d4f6a8b0c2e4d6f8a0b2c4e6'
                          merkle_batch_id:
                            type: integer
                            format: int64
                            nullable: true
                            description: Batch identifier for the Merkle tree grouping
                            example: 1742203200
                          ots_confirmed_at:
                            type: string
                            format: date-time
                            nullable: true
                            description: Timestamp when OpenTimestamp verification completed
                            example: '2025-01-15T12:30:45Z'
                          is_orphaned_genesis:
                            type: boolean
                            description: Whether the activity became an orphaned genesis entry
                            example: false
                          orphaned_reason:
                            type: string
                            nullable: true
                            description: Reason why the activity became orphaned
                            example: null
              examples:
                allValid:
                  summary: All verifications successful
                  value:
                    data:
                      activity_id: '550e8400-e29b-41d4-a716-446655440001'
                      verification:
                        chain_valid: true
                        chain_link_valid: true
                        merkle_valid: true
                        ots_valid: true
                      details:
                        event_hash: 5d41402abc4b2a76b9719d911017c592
                        previous_hash: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
                        merkle_root: a8c7e3d5f9b1c4e6d8a2f4b6c8e0d2f4a6b8c0e2d4f6a8b0c2e4d6f8a0b2c4e6
                        merkle_batch_id: 1742203200
                        ots_confirmed_at: '2025-01-15T12:30:45Z'
                        is_orphaned_genesis: false
                        orphaned_reason: null
                otsNotYetAnchored:
                  summary: OTS verification pending (not yet anchored)
                  value:
                    data:
                      activity_id: '550e8400-e29b-41d4-a716-446655440004'
                      verification:
                        chain_valid: true
                        chain_link_valid: true
                        merkle_valid: true
                        ots_valid: false
                      details:
                        event_hash: 6329334b8f7f9d4e8327deb882cf9945
                        previous_hash: 5f4dcc3b5aa765d61d8327deb882cf99
                        merkle_root: c0e2d4f6a8b0c2e4d6f8a0b2c4e6d8f0
                        merkle_batch_id: 1742212800
                        ots_confirmed_at: null
                        is_orphaned_genesis: false
                        orphaned_reason: null
                otsNotSubmitted:
                  summary: OTS not yet submitted
                  value:
                    data:
                      activity_id: '550e8400-e29b-41d4-a716-446655440005'
                      verification:
                        chain_valid: true
                        chain_link_valid: true
                        merkle_valid: true
                        ots_valid: false
                      details:
                        event_hash: 7f83b1657ff1fc53b92dc18148a1d65dfa1350146f1fcb4f6e8f7d28e17f72d2
                        previous_hash: 6329334b8f7f9d4e8327deb882cf9945
                        merkle_root: d4f6a8b0c2e4d6f8a0b2c4e6d8f0a2b4c6e8d0f2a4b6c8e0d2f4a6b8c0e2d4f6
                        merkle_batch_id: 1742216400
                        ots_confirmed_at: null
                        is_orphaned_genesis: false
                        orphaned_reason: null
                chainInvalid:
                  summary: Hash chain broken (tampering detected)
                  value:
                    data:
                      activity_id: '550e8400-e29b-41d4-a716-446655440006'
                      verification:
                        chain_valid: false
                        chain_link_valid: false
                        merkle_valid: false
                        ots_valid: false
                      details:
                        event_hash: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        previous_hash: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
                        merkle_root: null
                        merkle_batch_id: null
                        ots_confirmed_at: null
                        is_orphaned_genesis: false
                        orphaned_reason: null
                merkleInvalid:
                  summary: Merkle proof invalid (data integrity issue)
                  value:
                    data:
                      activity_id: '550e8400-e29b-41d4-a716-446655440007'
                      verification:
                        chain_valid: true
                        chain_link_valid: true
                        merkle_valid: false
                        ots_valid: false
                      details:
                        event_hash: cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
                        previous_hash: 7f83b1657ff1fc53b92dc18148a1d65dfa1350146f1fcb4f6e8f7d28e17f72d2
                        merkle_root: eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                        merkle_batch_id: 1742217300
                        ots_confirmed_at: null
                        is_orphaned_genesis: false
                        orphaned_reason: null
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - Activity outside organizational scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                organizationalScope:
                  summary: Activity outside user's organizational scope
                  value:
                    message: This action is unauthorized due to organizational scope restrictions.
                    code: FORBIDDEN
                    details:
                      reason: organizational_scope_violation
                      message: >-
                        You do not have access to verify this activity log.
                        It belongs to an organizational unit outside your scope.
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # Employee Management
  # =============================================================================

  /employees:
    get:
      summary: List Employees
      description: Get paginated list of all employees in the tenant. Results can be filtered by the official employee lifecycle status as defined in the `EmployeeStatus` schema.
      operationId: listEmployees
      tags:
        - Employees
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of items per page (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: status
          in: query
          description: Filter employees by the official lifecycle status.
          schema:
            $ref: '#/components/schemas/EmployeeStatus'
      responses:
        '200':
          description: List of employees
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeCollectionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Employee
      description: Create a new employee record. Onboarding invitations may only be requested during the `pre_contract` phase.
      operationId: createEmployee
      tags:
        - Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreateRequest'
      responses:
        '201':
          description: Employee created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /employees/{employee}:
    get:
      summary: Get Employee
      description: Get a single employee by UUID
      operationId: getEmployee
      tags:
        - Employees
      security:
        - BearerAuth: []
      parameters:
        - name: employee
          in: path
          required: true
          description: Employee UUID identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Employee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Update Employee
      description: Update employee details (partial update)
      operationId: updateEmployee
      tags:
        - Employees
      security:
        - BearerAuth: []
      parameters:
        - name: employee
          in: path
          required: true
          description: Employee UUID identifier
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdateRequest'
      responses:
        '200':
          description: Employee updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Employee
      description: Soft delete an employee record
      operationId: deleteEmployee
      tags:
        - Employees
[...]
