# SPDX-FileCopyrightText: 2025 SecPal Contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

openapi: 3.1.0
info:
  title: SecPal API
  description: |
    This is the official API for SecPal, a digital guard book and security operations platform.
    It provides endpoints for managing guards, shifts, reports, and other security-related resources.

    ## Security

    - **Authentication:** Bearer token (JWT) required for most endpoints
    - **Rate Limiting:** 100 requests per minute per API key
    - **CORS:** Allowed origins must be configured in application settings
    - **Security Headers:** HSTS, CSP, X-Frame-Options enforced

    ## API Policies

    - All timestamps use ISO 8601 format (UTC)
    - Pagination: offset-based (page/per_page) for most endpoints, cursor-based for large datasets
    - Maximum page size: 100 items
  version: 0.0.1
  contact:
    name: SecPal API Support
    url: https://github.com/SecPal
    email: support@secpal.app
  license:
    name: AGPL-3.0-or-later
    url: https://spdx.org/licenses/AGPL-3.0-or-later.html

servers:
  - url: https://api.secpal.app/v1
    description: Production Server
  - url: https://api.staging.secpal.app/v1
    description: Staging Server

security: []

components:
  schemas:
    Error:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
          description: Human-readable error message
          example: Resource not found
        code:
          type: string
          description: Machine-readable error code
          example: RESOURCE_NOT_FOUND
        details:
          type: object
          description: Additional error details
          additionalProperties: true

    HealthStatus:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [ok, error]
          description: Health status of the API
          example: ok
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
          example: '2025-10-25T19:25:00Z'

    Secret:
      type: object
      required:
        - id
        - title
        - version
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique secret identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        title:
          type: string
          maxLength: 255
          description: Secret title (decrypted)
          example: 'AWS Production Credentials'
        username:
          type: string
          maxLength: 255
          description: Username or email (decrypted)
          example: 'admin@company.com'
        password:
          type: string
          maxLength: 1000
          description: Password or API key (decrypted)
          example: 'super-secret-password-123'
        url:
          type: string
          format: uri
          maxLength: 2048
          description: URL of the service
          example: 'https://console.aws.amazon.com'
        notes:
          type: string
          maxLength: 10000
          description: Additional notes or instructions
          example: 'Use MFA when logging in. Token in Authenticator app.'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          description: Tags for categorization
          example: ['production', 'aws', 'critical']
        expires_at:
          type: string
          format: date-time
          description: Expiration date (ISO 8601)
          example: '2025-12-31T23:59:59Z'
        version:
          type: integer
          description: Version number (auto-incremented on updates)
          example: 1
        created_at:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601)
          example: '2025-11-16T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601)
          example: '2025-11-16T14:30:00Z'

    SecretShare:
      type: object
      required:
        - id
        - secret_id
        - permission
        - granted_by
        - granted_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique share identifier
          example: '660e8400-e29b-41d4-a716-446655440000'
        secret_id:
          type: string
          format: uuid
          description: Secret being shared
          example: '550e8400-e29b-41d4-a716-446655440000'
        user_id:
          type: string
          format: uuid
          description: User granted access (XOR with role_id)
          example: '770e8400-e29b-41d4-a716-446655440000'
        role_id:
          type: integer
          format: int64
          description: Role granted access (XOR with user_id)
          example: 5
        permission:
          type: string
          enum: [read, write, admin]
          description: |
            Permission level:
            - **read**: View secret and download attachments
            - **write**: View + update secret and upload attachments
            - **admin**: Write + delete secret (but not grant shares)
          example: read
        granted_by:
          type: string
          format: uuid
          description: User who granted access (always secret owner)
          example: '880e8400-e29b-41d4-a716-446655440000'
        granted_at:
          type: string
          format: date-time
          description: When access was granted (ISO 8601)
          example: '2025-11-16T10:00:00Z'
        expires_at:
          type: string
          format: date-time
          description: Optional expiration timestamp (ISO 8601)
          example: '2025-12-31T23:59:59Z'

    SecretAttachment:
      type: object
      required:
        - id
        - filename
        - file_size
        - mime_type
        - download_url
        - created_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique attachment identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        filename:
          type: string
          description: Original filename (decrypted)
          example: 'confidential-report.pdf'
        file_size:
          type: integer
          description: File size in bytes
          example: 102400
        mime_type:
          type: string
          description: MIME type of the file
          example: 'application/pdf'
        download_url:
          type: string
          format: uri
          description: URL to download the file
          example: 'https://api.secpal.app/v1/attachments/550e8400-e29b-41d4-a716-446655440000/download'
        created_at:
          type: string
          format: date-time
          description: Upload timestamp (ISO 8601)
          example: '2025-11-16T14:30:00Z'

    # =============================================================================
    # Employee Management Schemas
    # =============================================================================

    PaginationMeta:
      type: object
      description: Pagination metadata
      required:
        - current_page
        - per_page
        - total
      properties:
        current_page:
          type: integer
          description: Current page number
          example: 1
        per_page:
          type: integer
          description: Items per page
          example: 15
        last_page:
          type: integer
          description: Last page number
          example: 5
        total:
          type: integer
          description: Total number of items
          example: 73
        from:
          type: [integer, 'null']
          description: First item index on current page
          example: 1
        to:
          type: [integer, 'null']
          description: Last item index on current page
          example: 15

    Employee:
      type: object
      description: Employee entity with decrypted personal data
      required:
        - id
        - tenant_id
        - employee_number
        - first_name
        - last_name
        - full_name
        - email
        - status
        - contract_type
        - user_account_active
        - onboarding_completed
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        tenant_id:
          type: string
          example: 'tenant-12345-key'
        employee_number:
          type: string
          example: 'EMP-2025-0042'
        first_name:
          type: string
          description: Decrypted
          example: 'Max'
        last_name:
          type: string
          description: Decrypted
          example: 'Mustermann'
        full_name:
          type: string
          example: 'Max Mustermann'
        date_of_birth:
          type: [string, 'null']
          format: date
          description: Decrypted
          example: '1990-05-15'
        email:
          type: string
          format: email
          example: 'max.mustermann@secpal.app'
        phone:
          type: [string, 'null']
          example: '+49 30 12345678'
        address:
          type: [string, 'null']
          description: Decrypted
          example: 'Hauptstraße 123, 10115 Berlin'
        photo_path:
          type: [string, 'null']
          example: 'employees/photos/550e8400.jpg'
        tax_id:
          type: [string, 'null']
          description: Decrypted
          example: '12345678901'
        social_security_number:
          type: [string, 'null']
          description: Decrypted
          example: '12 345678 A 123'
        status:
          type: string
          enum: [applicant, pre_contract, active, on_leave, terminated]
          example: 'active'
        hire_date:
          type: [string, 'null']
          format: date
          example: '2025-01-15'
        contract_start_date:
          type: [string, 'null']
          format: date
          example: '2025-02-01'
        termination_date:
          type: [string, 'null']
          format: date
        last_working_day:
          type: [string, 'null']
          format: date
        contract_type:
          type: string
          enum: [permanent, fixed_term, temporary, minijob, student, internship]
        weekly_hours:
          type: [number, 'null']
          format: float
        monthly_hours:
          type: [number, 'null']
          format: float
        hourly_rate:
          type: [number, 'null']
          format: float
          description: Decrypted
        health_insurance_type:
          type: [string, 'null']
          enum: [public, private]
        health_insurance_provider:
          type: [string, 'null']
        health_insurance_number:
          type: [string, 'null']
        sachkunde_type:
          type: [string, 'null']
          enum: [none, paragraph_34a, nsv, other]
        sachkunde_certificate:
          type: [string, 'null']
        sachkunde_expiry:
          type: [string, 'null']
          format: date
        work_permit_type:
          type: [string, 'null']
          enum:
            [
              not_required,
              eu_citizen,
              work_visa,
              blue_card,
              residence_permit,
              other,
            ]
        work_permit_number:
          type: [string, 'null']
        work_permit_expiry:
          type: [string, 'null']
          format: date
        residence_permit_type:
          type: [string, 'null']
          enum: [not_required, permanent, temporary, student, other]
        residence_permit_number:
          type: [string, 'null']
        residence_permit_expiry:
          type: [string, 'null']
          format: date
        criminal_record_status:
          type: [string, 'null']
          enum: [not_checked, clean, pending, has_record]
        criminal_record_check_date:
          type: [string, 'null']
          format: date
        user_id:
          type: [string, 'null']
          format: uuid
        user_account_active:
          type: boolean
        user_account_activated_at:
          type: [string, 'null']
          format: date-time
        user_account_deactivated_at:
          type: [string, 'null']
          format: date-time
        onboarding_completed:
          type: boolean
        onboarding_steps:
          type: [object, 'null']
        onboarding_started_at:
          type: [string, 'null']
          format: date-time
        onboarding_completed_at:
          type: [string, 'null']
          format: date-time
        organizational_unit_id:
          type: [string, 'null']
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: [string, 'null']
          format: date-time

    # =============================================================================
    # Customer & Site Management Schemas (Epic #210)
    # =============================================================================

    Address:
      type: object
      description: Physical address with optional GPS coordinates
      required:
        - street
        - city
        - postal_code
        - country
      properties:
        street:
          type: string
          maxLength: 255
          description: Street address
          example: 'Hauptstraße 123'
        city:
          type: string
          maxLength: 100
          description: City name
          example: 'Berlin'
        postal_code:
          type: string
          maxLength: 20
          description: Postal/ZIP code
          example: '10115'
        country:
          type: string
          minLength: 2
          maxLength: 2
          description: ISO 3166-1 alpha-2 country code
          example: 'DE'
        latitude:
          type: [number, 'null']
          format: float
          minimum: -90
          maximum: 90
          description: GPS latitude coordinate
          example: 52.520008
        longitude:
          type: [number, 'null']
          format: float
          minimum: -180
          maximum: 180
          description: GPS longitude coordinate
          example: 13.404954

    Contact:
      type: object
      description: Contact information for person or organization
      required:
        - name
      properties:
        name:
          type: string
          maxLength: 255
          description: Contact person name
          example: 'Max Mustermann'
        email:
          type: [string, 'null']
          format: email
          maxLength: 255
          description: Email address
          example: 'max.mustermann@example.com'
        phone:
          type: [string, 'null']
          maxLength: 50
          description: Phone number
          example: '+49 30 12345678'
        position:
          type: [string, 'null']
          maxLength: 100
          description: Job title or position
          example: 'Facility Manager'

    Customer:
      type: object
      description: Customer (client organization) entity
      required:
        - id
        - customer_number
        - name
        - billing_address
        - is_active
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique customer identifier
          example: '550e8400-e29b-41d4-a716-446655440000'
        customer_number:
          type: string
          maxLength: 50
          description: Auto-generated customer number (KD-YYYY-####)
          example: 'KD-2025-0001'
        name:
          type: string
          maxLength: 255
          description: Customer organization name
          example: 'ACME Corporation GmbH'
        billing_address:
          $ref: '#/components/schemas/Address'
        contact:
          allOf:
            - $ref: '#/components/schemas/Contact'
            - type: [object, 'null']
        is_active:
          type: boolean
          description: Whether customer is active
          example: true
        notes:
          type: [string, 'null']
          description: Internal notes (conditionally visible)
          example: 'VIP customer - handle with priority'
        metadata:
          type: [object, 'null']
          description: Custom metadata as JSON
          additionalProperties: true
          example: { 'industry': 'retail', 'employee_count': 500 }
        sites_count:
          type: integer
          description: Number of sites (when counted)
          example: 5
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T14:30:00Z'
        deleted_at:
          type: [string, 'null']
          format: date-time
          description: Soft deletion timestamp
          example: null

    Site:
      type: object
      description: Site (physical location/object) where services are provided
      required:
        - id
        - customer_id
        - organizational_unit_id
        - site_number
        - name
        - type
        - address
        - is_active
        - is_expired
        - full_address
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique site identifier
          example: '660e8400-e29b-41d4-a716-446655440000'
        customer_id:
          type: string
          format: uuid
          description: Customer that owns this site
          example: '550e8400-e29b-41d4-a716-446655440000'
        organizational_unit_id:
          type: string
          format: uuid
          description: Internal organizational unit responsible for this site
          example: '770e8400-e29b-41d4-a716-446655440000'
        site_number:
          type: string
          maxLength: 50
          description: Auto-generated site number (OBJ-YYYY-####)
          example: 'OBJ-2025-0042'
        name:
          type: string
          maxLength: 255
          description: Site name
          example: 'Airport Terminal 1'
        type:
          type: string
          enum: [permanent, temporary]
          description: Site type (permanent location or temporary event)
          example: 'permanent'
        address:
          $ref: '#/components/schemas/Address'
        contact:
          allOf:
            - $ref: '#/components/schemas/Contact'
            - type: [object, 'null']
        access_instructions:
          type: [string, 'null']
          description: Instructions for accessing the site (conditionally visible)
          example: 'Gate 5, Security Check, Badge required'
        notes:
          type: [string, 'null']
          description: Internal notes (conditionally visible)
          example: 'High security area'
        metadata:
          type: [object, 'null']
          description: Custom metadata as JSON
          additionalProperties: true
          example: { 'area_sqm': 5000, 'floors': 3 }
        is_active:
          type: boolean
          description: Whether site is active
          example: true
        valid_from:
          type: [string, 'null']
          format: date
          description: Contract start date (for temporary sites)
          example: '2025-01-01'
        valid_until:
          type: [string, 'null']
          format: date
          description: Contract end date (for temporary sites)
          example: '2025-12-31'
        is_expired:
          type: boolean
          description: Whether validity period has expired (computed)
          example: false
        full_address:
          type: string
          description: Formatted full address string (computed)
          example: 'Hauptstraße 123, 10115, Berlin'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T11:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T15:00:00Z'
        deleted_at:
          type: [string, 'null']
          format: date-time
          description: Soft deletion timestamp
          example: null

    CustomerAssignment:
      type: object
      description: Flexible user-to-customer role assignment
      required:
        - id
        - customer_id
        - user_id
        - role
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique assignment identifier
          example: '880e8400-e29b-41d4-a716-446655440000'
        customer_id:
          type: string
          format: uuid
          description: Customer being assigned
          example: '550e8400-e29b-41d4-a716-446655440000'
        user_id:
          type: string
          format: uuid
          description: User being assigned
          example: '990e8400-e29b-41d4-a716-446655440000'
        role:
          type: string
          maxLength: 100
          description: Flexible role name (e.g., "Key Account Manager", "Billing Contact")
          example: 'Key Account Manager'
        valid_from:
          type: [string, 'null']
          format: date
          description: Assignment start date
          example: '2025-01-01'
        valid_until:
          type: [string, 'null']
          format: date
          description: Assignment end date
          example: '2025-12-31'
        notes:
          type: [string, 'null']
          description: Optional assignment notes
          example: 'Primary contact for escalations'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T12:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T16:00:00Z'

    SiteAssignment:
      type: object
      description: Flexible user-to-site role assignment
      required:
        - id
        - site_id
        - user_id
        - role
        - is_primary
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique assignment identifier
          example: 'aa0e8400-e29b-41d4-a716-446655440000'
        site_id:
          type: string
          format: uuid
          description: Site being assigned
          example: '660e8400-e29b-41d4-a716-446655440000'
        user_id:
          type: string
          format: uuid
          description: User being assigned
          example: '990e8400-e29b-41d4-a716-446655440000'
        role:
          type: string
          maxLength: 100
          description: Flexible role name (e.g., "Site Manager", "Account Manager")
          example: 'Site Manager'
        is_primary:
          type: boolean
          description: Whether this is the primary contact for the site
          example: true
        valid_from:
          type: [string, 'null']
          format: date
          description: Assignment start date
          example: '2025-01-01'
        valid_until:
          type: [string, 'null']
          format: date
          description: Assignment end date
          example: '2025-12-31'
        notes:
          type: [string, 'null']
          description: Optional assignment notes
          example: 'On-site presence required'
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T13:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T17:00:00Z'

    CostCenter:
      type: object
      description: Cost center for billing/accounting purposes (nested under site)
      required:
        - id
        - site_id
        - code
        - name
        - is_active
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique cost center identifier
          example: 'bb0e8400-e29b-41d4-a716-446655440000'
        site_id:
          type: string
          format: uuid
          description: Parent site
          example: '660e8400-e29b-41d4-a716-446655440000'
        code:
          type: string
          maxLength: 50
          description: Cost center code (unique per site)
          example: '4711-001'
        name:
          type: string
          maxLength: 255
          description: Descriptive name
          example: 'Reception Duty'
        activity_type:
          type: [string, 'null']
          maxLength: 100
          description: Type of activity performed
          example: 'Static Guard Duty'
        description:
          type: [string, 'null']
          description: Optional description
          example: 'Main entrance reception desk'
        is_active:
          type: boolean
          description: Whether cost center is active
          example: true
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: '2025-12-05T14:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2025-12-15T18:00:00Z'
        deleted_at:
          type: [string, 'null']
          format: date-time
          description: Soft deletion timestamp
          example: null

  responses:
    BadRequest:
      description: Bad Request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Invalid request parameters
            code: BAD_REQUEST

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Authentication required
            code: UNAUTHORIZED

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Insufficient permissions
            code: FORBIDDEN

    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: Resource not found
            code: NOT_FOUND

    ValidationError:
      description: Validation Error - Invalid input data
      content:
        application/json:
          schema:
            type: object
            required:
              - message
              - errors
            properties:
              message:
                type: string
                description: General validation error message
                example: 'The given data was invalid.'
              errors:
                type: object
                description: Field-specific validation errors
                additionalProperties:
                  type: array
                  items:
                    type: string
                example:
                  email: ['The email has already been taken.']
                  date_of_birth:
                    ['The date of birth must be a date before today.']

    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: An internal error occurred
            code: INTERNAL_ERROR

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT-based authentication. Include the token in the Authorization header:
        `Authorization: Bearer <token>`

paths:
  /health:
    get:
      summary: Health Check
      description: Provides the health status of the API.
      operationId: getHealth
      tags:
        - Monitoring
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Service temporarily unavailable
                code: SERVICE_UNAVAILABLE

  /secrets:
    get:
      summary: List Secrets
      description: |
        List all secrets accessible to the authenticated user (owned + shared).
        Supports filtering and pagination.
      operationId: listSecrets
      tags:
        - Secrets
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          required: false
          description: Items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
      responses:
        '200':
          description: Secrets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Secret'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 15
                      total:
                        type: integer
                        example: 42
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Secret
      description: |
        Create a new secret with encrypted storage. All sensitive fields are encrypted
        at rest using the tenant's DEK (Data Encryption Key).
      operationId: createSecret
      tags:
        - Secrets
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  maxLength: 255
                  description: Secret title (required)
                  example: 'Database Master Password'
                username:
                  type: string
                  maxLength: 255
                  description: Username or email
                  example: 'db_admin'
                password:
                  type: string
                  maxLength: 1000
                  description: Password or API key
                  example: 'my-secure-password-123'
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: Service URL
                  example: 'https://db.example.com:5432'
                notes:
                  type: string
                  maxLength: 10000
                  description: Additional notes
                  example: 'Connect via SSL. Certificate in attachments.'
                tags:
                  type: array
                  items:
                    type: string
                    maxLength: 50
                  description: Tags for organization
                  example: ['production', 'database', 'critical']
                expires_at:
                  type: string
                  format: date-time
                  description: Expiration date (must be future date)
                  example: '2026-01-01T00:00:00Z'
      responses:
        '201':
          description: Secret created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Validation failed
                code: VALIDATION_ERROR
                details:
                  title: ['The title field is required.']
        '500':
          $ref: '#/components/responses/InternalServerError'

  /secrets/{secret}:
    get:
      summary: Get Secret Details
      description: |
        Retrieve full details of a specific secret. Requires ownership or read permission.
      operationId: getSecret
      tags:
        - Secrets
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Secret retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Secret'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Update Secret
      description: |
        Update a secret's fields. Requires ownership or write permission.
        Version number is auto-incremented on successful update.
      operationId: updateSecret
      tags:
        - Secrets
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  maxLength: 255
                  example: 'Updated Title'
                username:
                  type: string
                  maxLength: 255
                  example: 'new_username'
                password:
                  type: string
                  maxLength: 1000
                  example: 'new-password-456'
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                  example: 'https://new-url.com'
                notes:
                  type: string
                  maxLength: 10000
                  example: 'Updated notes'
                tags:
                  type: array
                  items:
                    type: string
                    maxLength: 50
                  example: ['updated', 'tag']
                expires_at:
                  type: string
                  format: date-time
                  example: '2026-06-01T00:00:00Z'
      responses:
        '200':
          description: Secret updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Secret'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Secret
      description: |
        Soft delete a secret. Requires ownership or admin permission.
        Secret is marked as deleted but remains in database for audit.
      operationId: deleteSecret
      tags:
        - Secrets
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Secret deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /secrets/{secret}/shares:
    get:
      summary: List Secret Shares
      description: |
        List all active shares for a secret. Only owner or users with admin permission can view.
      operationId: listSecretShares
      tags:
        - Secret Sharing
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Shares retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecretShare'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Grant Secret Access
      description: |
        Grant read/write/admin access to a user or role. Only secret owner can grant access.

        **XOR Constraint:** Must provide EITHER `user_id` OR `role_id`, not both.

        **Permission Hierarchy:**
        - `read`: View secret + download attachments
        - `write`: Read + update secret + upload attachments
        - `admin`: Write + delete secret (cannot grant shares - owner only)
      operationId: grantSecretAccess
      tags:
        - Secret Sharing
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - permission
              properties:
                user_id:
                  type: string
                  format: uuid
                  description: User to grant access (XOR with role_id)
                  example: '770e8400-e29b-41d4-a716-446655440000'
                role_id:
                  type: integer
                  format: int64
                  description: Role to grant access (XOR with user_id)
                  example: 5
                permission:
                  type: string
                  enum: [read, write, admin]
                  description: Permission level
                  example: read
                expires_at:
                  type: string
                  format: date-time
                  description: Optional expiration date
                  example: '2025-12-31T23:59:59Z'
            examples:
              grantToUser:
                summary: Grant read access to user
                value:
                  user_id: '770e8400-e29b-41d4-a716-446655440000'
                  permission: read
                  expires_at: '2025-12-31T23:59:59Z'
              grantToRole:
                summary: Grant write access to role
                value:
                  role_id: 5
                  permission: write
      responses:
        '201':
          description: Access granted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SecretShare'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                xorViolation:
                  summary: XOR constraint violated
                  value:
                    message: Validation failed
                    code: VALIDATION_ERROR
                    details:
                      user_id:
                        [
                          'The user id field is required when role id is not present.',
                        ]
                      role_id:
                        [
                          'The role id field is required when user id is not present.',
                        ]
        '500':
          $ref: '#/components/responses/InternalServerError'

  /secrets/{secret}/shares/{share}:
    delete:
      summary: Revoke Secret Access
      description: |
        Revoke a user's or role's access to a secret. Only secret owner can revoke.
      operationId: revokeSecretAccess
      tags:
        - Secret Sharing
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
        - name: share
          in: path
          required: true
          description: Share UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Access revoked successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /secrets/{secret}/attachments:
    post:
      summary: Upload Attachment
      description: |
        Upload a file attachment to a secret. File is encrypted at rest using tenant DEK.
        Maximum file size and allowed MIME types are configurable.
      operationId: uploadAttachment
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload (max 10MB by default)
      responses:
        '201':
          description: Attachment uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SecretAttachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: Validation failed
                code: VALIDATION_ERROR
                details:
                  file: ['The file field is required.']

    get:
      summary: List Attachments
      description: |
        List all attachments for a secret. Returns attachments in descending order by creation date.
      operationId: listAttachments
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: secret
          in: path
          required: true
          description: Secret UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Attachments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecretAttachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /attachments/{attachment}/download:
    get:
      summary: Download Attachment
      description: |
        Download and decrypt an attachment file. Returns the file with
        appropriate Content-Type and Content-Disposition headers.
      operationId: downloadAttachment
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: attachment
          in: path
          required: true
          description: Attachment UUID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: File downloaded successfully
          content:
            '*/*':
              schema:
                type: string
                format: binary
          headers:
            Content-Type:
              description: MIME type of the file
              schema:
                type: string
                example: application/pdf
            Content-Disposition:
              description: Attachment filename
              schema:
                type: string
                example: 'attachment; filename="report.pdf"'
            Content-Length:
              description: File size in bytes
              schema:
                type: integer
                example: 102400
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /attachments/{attachment}:
    delete:
      summary: Delete Attachment
      description: |
        Delete an attachment file and its metadata. File is permanently removed from storage.
      operationId: deleteAttachment
      tags:
        - Secret Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: attachment
          in: path
          required: true
          description: Attachment UUID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Attachment deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # =============================================================================
  # Employee Management
  # =============================================================================

  /employees:
    get:
      summary: List Employees
      description: Get paginated list of all employees in the tenant
      operationId: listEmployees
      tags:
        - Employees
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of items per page (max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: status
          in: query
          description: Filter employees by employment status
          schema:
            type: string
            enum: [applicant, pre_contract, active, on_leave, terminated]
      responses:
        '200':
          description: List of employees
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Employee
      description: Create a new employee record
      operationId: createEmployee
      tags:
        - Employees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - first_name
                - last_name
                - email
                - contract_type
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                date_of_birth:
                  type: string
                  format: date
                email:
                  type: string
                  format: email
                phone:
                  type: string
                address:
                  type: string
                contract_type:
                  type: string
                  enum:
                    [
                      permanent,
                      fixed_term,
                      temporary,
                      minijob,
                      student,
                      internship,
                    ]
                contract_start_date:
                  type: string
                  format: date
                weekly_hours:
                  type: number
                  format: float
                hourly_rate:
                  type: number
                  format: float
      responses:
        '201':
          description: Employee created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /employees/{employee}:
    get:
      summary: Get Employee
      description: Get a single employee by UUID
      operationId: getEmployee
      tags:
        - Employees
      security:
        - BearerAuth: []
      parameters:
        - name: employee
          in: path
          required: true
          description: Employee UUID identifier
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Employee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Update Employee
      description: Update employee details (partial update)
      operationId: updateEmployee
      tags:
        - Employees
      security:
        - BearerAuth: []
      parameters:
        - name: employee
          in: path
          required: true
          description: Employee UUID identifier
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                address:
                  type: string
                contract_type:
                  type: string
                  enum:
                    [
                      permanent,
                      fixed_term,
                      temporary,
                      minijob,
                      student,
                      internship,
                    ]
                status:
                  type: string
                  enum: [applicant, pre_contract, active, on_leave, terminated]
                weekly_hours:
                  type: number
                  format: float
                hourly_rate:
                  type: number
                  format: float
      responses:
        '200':
          description: Employee updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Employee
      description: Soft delete an employee record
      operationId: deleteEmployee
      tags:
        - Employees
      security:
        - BearerAuth: []
      parameters:
        - name: employee
          in: path
          required: true
          description: Employee UUID identifier
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Employee deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # Customer Management Endpoints (Epic #210, Phase 5)
  # =============================================================================

  /customers:
    get:
      summary: List Customers
      description: |
        Retrieve a paginated list of customers with optional filtering.
        Users only see customers they have access to (via assignments or organizational scope).
      operationId: listCustomers
      tags:
        - Customers
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
          description: Items per page
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: Search in name and customer_number
        - name: is_active
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by active status
      responses:
        '200':
          description: Customers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Customer
      description: |
        Create a new customer. Customer number is auto-generated (KD-YYYY-####).
        Requires customers.create permission.
      operationId: createCustomer
      tags:
        - Customers
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - billing_address
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: 'ACME Corporation GmbH'
                billing_address:
                  $ref: '#/components/schemas/Address'
                contact:
                  $ref: '#/components/schemas/Contact'
                notes:
                  type: string
                  example: 'VIP customer'
                metadata:
                  type: object
                  additionalProperties: true
                  example: { 'industry': 'retail' }
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /customers/{customer}:
    get:
      summary: Get Customer
      description: |
        Retrieve a single customer by ID with optional relationships.
        Requires view access via assignment or organizational scope.
      operationId: getCustomer
      tags:
        - Customers
      security:
        - BearerAuth: []
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Customer UUID
        - name: include
          in: query
          required: false
          schema:
            type: string
            enum: [sites, assignments, sites.assignments]
          description: Comma-separated list of relationships to include
      responses:
        '200':
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Update Customer
      description: |
        Update customer fields (PATCH semantics - all fields optional).
        Requires customers.update permission and view access to customer.
      operationId: updateCustomer
      tags:
        - Customers
      security:
        - BearerAuth: []
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Customer UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                billing_address:
                  $ref: '#/components/schemas/Address'
                contact:
                  $ref: '#/components/schemas/Contact'
                is_active:
                  type: boolean
                notes:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Customer
      description: |
        Soft delete a customer. Requires customers.delete permission.
        Will fail if customer has active sites.
      operationId: deleteCustomer
      tags:
        - Customers
      security:
        - BearerAuth: []
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Customer UUID
      responses:
        '204':
          description: Customer deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Cannot delete customer with active sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /customers/{customer}/sites:
    get:
      summary: List Customer Sites
      description: |
        Retrieve all sites belonging to a specific customer.
        Paginated with same filters as /sites endpoint.
      operationId: listCustomerSites
      tags:
        - Customers
        - Sites
      security:
        - BearerAuth: []
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Customer UUID
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [permanent, temporary]
          description: Filter by site type
        - name: is_active
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by active status
      responses:
        '200':
          description: Sites retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # Site Management Endpoints (Epic #210, Phase 5)
  # =============================================================================

  /sites:
    get:
      summary: List Sites
      description: |
        Retrieve a paginated list of sites with comprehensive filtering.
        Users see sites via organizational unit access, direct assignment, or customer assignment.
      operationId: listSites
      tags:
        - Sites
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 15
        - name: search
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: Search in name, site_number, customer name
        - name: customer_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by customer
        - name: organizational_unit_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by organizational unit
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [permanent, temporary]
          description: Filter by site type
        - name: is_active
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by active status
        - name: currently_valid
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by current validity (for temporary sites)
      responses:
        '200':
          description: Sites retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Site
      description: |
        Create a new site. Site number is auto-generated (OBJ-YYYY-####).
        Requires sites.create permission and access to organizational unit.
      operationId: createSite
      tags:
        - Sites
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - customer_id
                - organizational_unit_id
                - type
                - address
              properties:
                name:
                  type: string
                  maxLength: 255
                  example: 'Airport Terminal 1'
                customer_id:
                  type: string
                  format: uuid
                  example: '550e8400-e29b-41d4-a716-446655440000'
                organizational_unit_id:
                  type: string
                  format: uuid
                  example: '770e8400-e29b-41d4-a716-446655440000'
                type:
                  type: string
                  enum: [permanent, temporary]
                  example: 'permanent'
                address:
                  $ref: '#/components/schemas/Address'
                contact:
                  $ref: '#/components/schemas/Contact'
                access_instructions:
                  type: string
                  example: 'Gate 5, Security Check'
                notes:
                  type: string
                  example: 'High security area'
                metadata:
                  type: object
                  additionalProperties: true
                valid_from:
                  type: string
                  format: date
                  example: '2025-01-01'
                valid_until:
                  type: string
                  format: date
                  example: '2025-12-31'
      responses:
        '201':
          description: Site created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Site'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /sites/{site}:
    get:
      summary: Get Site
      description: |
        Retrieve a single site by ID with optional relationships.
        Requires view access via assignment, organizational unit, or customer assignment.
      operationId: getSite
      tags:
        - Sites
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
        - name: include
          in: query
          required: false
          schema:
            type: string
            enum:
              [
                customer,
                organizationalUnit,
                assignments,
                costCenters,
                customer.assignments,
              ]
          description: Comma-separated list of relationships to include
      responses:
        '200':
          description: Site retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      summary: Update Site
      description: |
        Update site fields (PATCH semantics - all fields optional).
        Requires sites.update permission and view access to site.
      operationId: updateSite
      tags:
        - Sites
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 255
                organizational_unit_id:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum: [permanent, temporary]
                address:
                  $ref: '#/components/schemas/Address'
                contact:
                  $ref: '#/components/schemas/Contact'
                access_instructions:
                  type: string
                notes:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
                is_active:
                  type: boolean
                valid_from:
                  type: string
                  format: date
                valid_until:
                  type: string
                  format: date
      responses:
        '200':
          description: Site updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/Site'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Site
      description: |
        Soft delete a site. Requires sites.delete permission.
        Will fail if site has active cost centers.
      operationId: deleteSite
      tags:
        - Sites
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
      responses:
        '204':
          description: Site deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Cannot delete site with active cost centers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # Customer Assignment Endpoints (Epic #210, Phase 5)
  # =============================================================================

  /customers/{customer}/assignments:
    get:
      summary: List Customer Assignments
      description: Retrieve all user assignments for a specific customer.
      operationId: listCustomerAssignments
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Customer UUID
        - name: active_only
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Filter to currently active assignments only
      responses:
        '200':
          description: Assignments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Customer Assignment
      description: |
        Assign a user to a customer with flexible role name.
        Requires assignments.create permission and view access to customer.
      operationId: createCustomerAssignment
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Customer UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - role
              properties:
                user_id:
                  type: string
                  format: uuid
                  example: '990e8400-e29b-41d4-a716-446655440000'
                role:
                  type: string
                  maxLength: 100
                  example: 'Key Account Manager'
                valid_from:
                  type: string
                  format: date
                  example: '2025-01-01'
                valid_until:
                  type: string
                  format: date
                  example: '2025-12-31'
                notes:
                  type: string
                  example: 'Primary escalation contact'
      responses:
        '201':
          description: Assignment created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CustomerAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /customer-assignments/{customerAssignment}:
    patch:
      summary: Update Customer Assignment
      description: Update customer assignment fields (role, validity dates, notes).
      operationId: updateCustomerAssignment
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: customerAssignment
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Assignment UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  maxLength: 100
                valid_from:
                  type: string
                  format: date
                valid_until:
                  type: string
                  format: date
                notes:
                  type: string
      responses:
        '200':
          description: Assignment updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CustomerAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Customer Assignment
      description: Remove a user's assignment from a customer.
      operationId: deleteCustomerAssignment
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: customerAssignment
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Assignment UUID
      responses:
        '204':
          description: Assignment deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # Site Assignment Endpoints (Epic #210, Phase 5)
  # =============================================================================

  /sites/{site}/assignments:
    get:
      summary: List Site Assignments
      description: Retrieve all user assignments for a specific site.
      operationId: listSiteAssignments
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
        - name: active_only
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Filter to currently active assignments only
      responses:
        '200':
          description: Assignments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SiteAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Site Assignment
      description: |
        Assign a user to a site with flexible role name.
        Requires assignments.create permission and view access to site.
      operationId: createSiteAssignment
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - role
              properties:
                user_id:
                  type: string
                  format: uuid
                  example: '990e8400-e29b-41d4-a716-446655440000'
                role:
                  type: string
                  maxLength: 100
                  example: 'Site Manager'
                is_primary:
                  type: boolean
                  default: false
                  example: true
                valid_from:
                  type: string
                  format: date
                  example: '2025-01-01'
                valid_until:
                  type: string
                  format: date
                  example: '2025-12-31'
                notes:
                  type: string
                  example: 'On-site presence required'
      responses:
        '201':
          description: Assignment created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SiteAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /site-assignments/{siteAssignment}:
    patch:
      summary: Update Site Assignment
      description: Update site assignment fields (role, is_primary, validity dates, notes).
      operationId: updateSiteAssignment
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: siteAssignment
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Assignment UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  maxLength: 100
                is_primary:
                  type: boolean
                valid_from:
                  type: string
                  format: date
                valid_until:
                  type: string
                  format: date
                notes:
                  type: string
      responses:
        '200':
          description: Assignment updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SiteAssignment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Site Assignment
      description: Remove a user's assignment from a site.
      operationId: deleteSiteAssignment
      tags:
        - Assignments
      security:
        - BearerAuth: []
      parameters:
        - name: siteAssignment
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Assignment UUID
      responses:
        '204':
          description: Assignment deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # User Assignment Endpoints (Me Assignments) (Epic #210, Phase 5)
  # =============================================================================

  /me/customer-assignments:
    get:
      summary: Get My Customer Assignments
      description: Retrieve all customer assignments for the authenticated user.
      operationId: getMyCustomerAssignments
      tags:
        - Assignments
        - Me
      security:
        - BearerAuth: []
      parameters:
        - name: active_only
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Filter to currently active assignments only
      responses:
        '200':
          description: Assignments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /me/site-assignments:
    get:
      summary: Get My Site Assignments
      description: Retrieve all site assignments for the authenticated user.
      operationId: getMySiteAssignments
      tags:
        - Assignments
        - Me
      security:
        - BearerAuth: []
      parameters:
        - name: active_only
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Filter to currently active assignments only
      responses:
        '200':
          description: Assignments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SiteAssignment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # =============================================================================
  # Cost Center Endpoints (Epic #210, Phase 5)
  # =============================================================================

  /sites/{site}/cost-centers:
    get:
      summary: List Cost Centers for Site
      description: Retrieve all cost centers for a specific site.
      operationId: listCostCenters
      tags:
        - Cost Centers
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
        - name: active_only
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Filter to active cost centers only
      responses:
        '200':
          description: Cost centers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CostCenter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: Create Cost Center
      description: |
        Create a new cost center for a site.
        Requires cost-centers.create permission and access to site.
        Code must be unique per site.
      operationId: createCostCenter
      tags:
        - Cost Centers
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - name
              properties:
                code:
                  type: string
                  maxLength: 50
                  example: '4711-001'
                name:
                  type: string
                  maxLength: 255
                  example: 'Reception Duty'
                activity_type:
                  type: string
                  maxLength: 100
                  example: 'Static Guard Duty'
                description:
                  type: string
                  example: 'Main entrance reception desk'
      responses:
        '201':
          description: Cost center created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CostCenter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /sites/{site}/cost-centers/{costCenter}:
    get:
      summary: Get Cost Center
      description: Retrieve a single cost center by ID.
      operationId: getCostCenter
      tags:
        - Cost Centers
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
        - name: costCenter
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Cost Center UUID
      responses:
        '200':
          description: Cost center retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CostCenter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: Update Cost Center
      description: |
        Update cost center (PUT semantics - all fields required).
        Requires cost-centers.update permission and access to site.
      operationId: updateCostCenter
      tags:
        - Cost Centers
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
        - name: costCenter
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Cost Center UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - name
              properties:
                code:
                  type: string
                  maxLength: 50
                name:
                  type: string
                  maxLength: 255
                activity_type:
                  type: string
                  maxLength: 100
                description:
                  type: string
                is_active:
                  type: boolean
      responses:
        '200':
          description: Cost center updated successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/CostCenter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: Delete Cost Center
      description: Soft delete a cost center. Requires cost-centers.delete permission.
      operationId: deleteCostCenter
      tags:
        - Cost Centers
      security:
        - BearerAuth: []
      parameters:
        - name: site
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Site UUID
        - name: costCenter
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Cost Center UUID
      responses:
        '204':
          description: Cost center deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
